{namespace vhsroyal=Fhkonzept\VhsRoyal\ViewHelpers}
<vhsroyal:zip.zipArchive configuration="{dest:'D',destname:'ziparchive_1.zip'}">

    <!-- Create Excel file for Zip -->
    <vhsroyal:excel.phpexcel configuration="{dest:'F',destname:'testInArchive.xslx'}" zip="{zip}">

        <!-- Set inital document properties -->
        <vhsroyal:excel.phpexcel.setter.creator>TYPO3</vhsroyal:excel.phpexcel.setter.creator>
        <vhsroyal:excel.phpexcel.setter.title>PHPExcel via TYPO3 Fluid ViewHelper</vhsroyal:excel.phpexcel.setter.title>
        <vhsroyal:excel.phpexcel.setter.description>Renders Excel document via PHPExcel and TYPO3 Fluid ViewHelper</vhsroyal:excel.phpexcel.setter.description>
        <vhsroyal:excel.phpexcel.setter.keywords>PHPExcel, TYPO3, Fluid</vhsroyal:excel.phpexcel.setter.keywords>

        <!-- Create worksheet and content -->
        <vhsroyal:excel.phpexcel.element.sheet iSheetIndex="0" title="Sheet 1">

            <!-- Set current active working sheet -->
            <vhsroyal:excel.phpexcel.setter.activeSheetIndex index="0" />

            <vhsroyal:excel.phpexcel.element.cellValue pCoordinate="A1">Name</vhsroyal:excel.phpexcel.element.cellValue>
            <vhsroyal:excel.phpexcel.element.cellValue pCoordinate="B1">Surname</vhsroyal:excel.phpexcel.element.cellValue>
            <vhsroyal:excel.phpexcel.element.cellValue pCoordinate="C1">E-Mail</vhsroyal:excel.phpexcel.element.cellValue>
            <vhsroyal:excel.phpexcel.element.cellValue pCoordinate="D1">Gender</vhsroyal:excel.phpexcel.element.cellValue>

            <vhsroyal:excel.phpexcel.element.fromArray
            source="{0:{0:'Mustermann',1:'Max',2:'max@mustermann.de',3:'male'}}"
            startCell="A2" />

        </vhsroyal:excel.phpexcel.element.sheet>

    </vhsroyal:excel.phpexcel>

    <!-- Create PDF file for Zip -->
    <vhsroyal:pdf.tcpdf configuration="{format:'A4',orientation:'landscape',dest:'F',destname:'testInArchive.pdf'}" zip="{zip}">

        <!-- Initial setters -->
    <vhsroyal:pdf.tcpdf.setter.pageunit unit="mm"></vhsroyal:pdf.tcpdf.setter.pageunit>
    <vhsroyal:pdf.tcpdf.setter.pageorientation orientation="portrait"></vhsroyal:pdf.tcpdf.setter.pageorientation>
    <vhsroyal:pdf.tcpdf.setter.rtl enable="1"></vhsroyal:pdf.tcpdf.setter.rtl>
    <vhsroyal:pdf.tcpdf.setter.margins left="20" top="40" right="20" keepmargins="1"></vhsroyal:pdf.tcpdf.setter.margins>
    <vhsroyal:pdf.tcpdf.setter.autopagebreak auto="1"></vhsroyal:pdf.tcpdf.setter.autopagebreak>
    <vhsroyal:pdf.tcpdf.setter.title>Fluid generated TCPDF - Title</vhsroyal:pdf.tcpdf.setter.title>
    <vhsroyal:pdf.tcpdf.setter.subject>Fluid generated TCPDF - Subject</vhsroyal:pdf.tcpdf.setter.subject>
    <vhsroyal:pdf.tcpdf.setter.author>Fluid generated TCPDF - Author</vhsroyal:pdf.tcpdf.setter.author>
    <vhsroyal:pdf.tcpdf.setter.keywords>Fluid, TCPDF, TYPO3</vhsroyal:pdf.tcpdf.setter.keywords>
    <vhsroyal:pdf.tcpdf.setter.creator>TYPO3</vhsroyal:pdf.tcpdf.setter.creator>


    <!-- Initial setters, could also be set individually for each added page (set before vhsroyal:pdf.tcpdf.element.page) -->
    <vhsroyal:pdf.tcpdf.setter.headerdata ht="My header title" hs="My header"></vhsroyal:pdf.tcpdf.setter.headerdata>


    <!-- Initial setters, could also be set individually for each added element (e.g. set before vhsroyal:pdf.tcpdf.element.text) -->
    <vhsroyal:pdf.tcpdf.setter.colorarray type="text" color="{0:255,1:0,2:0}"></vhsroyal:pdf.tcpdf.setter.colorarray>
    <vhsroyal:pdf.tcpdf.setter.font family="times" style="regular" size="12"></vhsroyal:pdf.tcpdf.setter.font>


    <!-- Page with elements -->
    <vhsroyal:pdf.tcpdf.element.page orientation="portrait">
        
        <vhsroyal:pdf.tcpdf.element.text x="0" y="40" align="L">Hallo Text()</vhsroyal:pdf.tcpdf.element.text>

        <vhsroyal:pdf.tcpdf.setter.x x="20"></vhsroyal:pdf.tcpdf.setter.x>
        <vhsroyal:pdf.tcpdf.setter.y y="70"></vhsroyal:pdf.tcpdf.setter.y>

        <vhsroyal:pdf.tcpdf.element.cell w="0" h="50" border="1" align="C">Hallo Cell()</vhsroyal:pdf.tcpdf.element.cell>

        <vhsroyal:pdf.tcpdf.setter.y y="130"></vhsroyal:pdf.tcpdf.setter.y>

        <vhsroyal:pdf.tcpdf.element.write h="50" align="C">Hallo Write()</vhsroyal:pdf.tcpdf.element.write>

        <vhsroyal:pdf.tcpdf.setter.y y="180"></vhsroyal:pdf.tcpdf.setter.y>

        <vhsroyal:pdf.tcpdf.element.image x="0" y="" w="120" file="{vhsroyal:gfx.heatmap(data:'',width:600,height:400)}" type="PNG" dpi="72" palign="C"></vhsroyal:pdf.tcpdf.element.image>

        <vhsroyal:pdf.tcpdf.setter.y y="200"></vhsroyal:pdf.tcpdf.setter.y>

        <vhsroyal:pdf.tcpdf.element.multicell w="100" h="40" border="1" align="C" ishtml="1"><b>Hallo MultiCell()</b></vhsroyal:pdf.tcpdf.element.multicell>

    </vhsroyal:pdf.tcpdf.element.page>


    </vhsroyal:pdf.tcpdf>

    <!-- Add static file to zip -->
    <vhsroyal:zip.zipArchive.setter.file file="{f:uri.resource(path:'Images/logo.png')}" zip="{zip}" />

</vhsroyal:zip.zipArchive>