{namespace vhsroyal=Fhkonzept\VhsRoyal\ViewHelpers}
<vhsroyal:pdf.tcpdf.setter.autopagebreak auto="0" margin="0"></vhsroyal:pdf.tcpdf.setter.autopagebreak>

<vhsroyal:pdf.tcpdf.element.page orientation="portrait">

	<vhsroyal:pdf.tcpdf.setter.margins left="0" top="0" right="0" keepmargins="1"></vhsroyal:pdf.tcpdf.setter.margins>

	<vhsroyal:pdf.tcpdf.setter.x x="0"></vhsroyal:pdf.tcpdf.setter.x>
    <vhsroyal:pdf.tcpdf.setter.y y="0"></vhsroyal:pdf.tcpdf.setter.y>

	<vhsroyal:pdf.tcpdf.element.image x="0" y="0" w="210" type="PNG" dpi="150" palign="C">
		typo3conf/ext/xlnc_tools/Resources/Public/Images/ReportBackgrounds/Back.png
	</vhsroyal:pdf.tcpdf.element.image>

	<!-- Tool -->
	<vhsroyal:pdf.tcpdf.setter.y y="110"></vhsroyal:pdf.tcpdf.setter.y>

	<vhsroyal:pdf.tcpdf.element.html align="C"><f:translate key="reports.styles.back.adress.1" extensionName="xlnc_tools" />

	</vhsroyal:pdf.tcpdf.element.html>

</vhsroyal:pdf.tcpdf.element.page>

<vhsroyal:pdf.tcpdf.setter.footerHtml>
	<table cellspancing=0 cellpadding=0 width="494">
		<tr>
			<td width="50" height="30"></td>
			<td width="300"></td>
		</tr>
		<tr>
			<td width="50"></td>
			<td width="300" style="text-align: left; font-size: 10px; color: #767a9f"><b><f:translate key="reports.styles.back.adress.2" extensionName="xlnc_tools" /></td>
		</tr>
	</table>
</vhsroyal:pdf.tcpdf.setter.footerHtml>

<vhsroyal:pdf.tcpdf.setter.footerImage x="140" y="" w="" h="8" type="PNG"></vhsroyal:pdf.tcpdf.setter.footerImage>
