{namespace vhsroyal=Fhkonzept\VhsRoyal\ViewHelpers}
<vhsroyal:pdf.tcpdf.setter.autopagebreak auto="0" margin="0"></vhsroyal:pdf.tcpdf.setter.autopagebreak>

<vhsroyal:pdf.tcpdf.element.page orientation="portrait">

	<vhsroyal:pdf.tcpdf.setter.colorarray type="draw" color="{0:131,1:208,2:245}"></vhsroyal:pdf.tcpdf.setter.colorarray>
	<vhsroyal:pdf.tcpdf.setter.colorarray type="text" color="{0:24,1:24,2:24}"></vhsroyal:pdf.tcpdf.setter.colorarray>

	<vhsroyal:pdf.tcpdf.setter.x x="0"></vhsroyal:pdf.tcpdf.setter.x>
    <vhsroyal:pdf.tcpdf.setter.y y="0"></vhsroyal:pdf.tcpdf.setter.y>

	<!-- Tool -->
	<vhsroyal:pdf.tcpdf.element.image x="0" y="0" w="210" type="PNG" dpi="150" palign="C">
		typo3conf/ext/xlnc_tools/Resources/Public/Images/ReportBackgrounds/Tx_XlncTools_LeadershipTool.Cover.png
	</vhsroyal:pdf.tcpdf.element.image>
	<vhsroyal:pdf.tcpdf.element.image x="0" y="87" w="40" type="PNG" dpi="150" palign="C">
		typo3conf/ext/xlnc_tools/Resources/Public/Images/Tx_XlncTools_LeadershipTool.png
	</vhsroyal:pdf.tcpdf.element.image>

	<vhsroyal:pdf.tcpdf.setter.y y="103"></vhsroyal:pdf.tcpdf.setter.y>

	<vhsroyal:pdf.tcpdf.element.html align="C">
		<h1 class="title"><f:translate key="reports.styles.chapter.cover.title.1" extensionName="xlnc_tools" /></h1>
	</vhsroyal:pdf.tcpdf.element.html>

	<vhsroyal:pdf.tcpdf.setter.font family="sourcesansprolight" style="" size="12"></vhsroyal:pdf.tcpdf.setter.font>

	<vhsroyal:pdf.tcpdf.setter.y y="119"></vhsroyal:pdf.tcpdf.setter.y>

	<vhsroyal:pdf.tcpdf.element.html align="C">
		<h2 class="cover">
			{team.firstName} {team.lastName}<br>
			<f:format.date format="d.m.Y">{now}</f:format.date>
		</h2>
	</vhsroyal:pdf.tcpdf.element.html>

</vhsroyal:pdf.tcpdf.element.page>

<vhsroyal:pdf.tcpdf.setter.footerHtml>
	<br><br><br><br>
	<table cellspancing=0 cellpadding=0 class="footer">
		<tr>
			<td></td>
			<td><f:translate key="reports.styles.chapter.cover.url" extensionName="xlnc_tools" /></td>
		</tr>
	</tabel>
</vhsroyal:pdf.tcpdf.setter.footerHtml>
