{namespace vhsroyal=Fhkonzept\VhsRoyal\ViewHelpers}
<vhsroyal:pdf.tcpdf.setter.autopagebreak auto="1" margin="46"></vhsroyal:pdf.tcpdf.setter.autopagebreak>

<vhsroyal:pdf.tcpdf.element.page orientation="portrait">

	<vhsroyal:pdf.tcpdf.setter.colorarray type="text" color="{0:24,1:24,2:24}"></vhsroyal:pdf.tcpdf.setter.colorarray>

	<vhsroyal:pdf.tcpdf.setter.bookmark txt="{f:translate(key: 'reports.styles.chapter.10.title.toc', extensionName:'xlnc_tools')}" link="10"></vhsroyal:pdf.tcpdf.setter.bookmark>

	<vhsroyal:pdf.tcpdf.setter.font family="sourcesanspro" style="" size="12"></vhsroyal:pdf.tcpdf.setter.font>

	<!-- Tool -->
	<vhsroyal:pdf.tcpdf.element.html align="L">

		<h2><f:translate key="reports.styles.chapter.10.title.1" extensionName="xlnc_tools" /></h2>
		<br />

	</vhsroyal:pdf.tcpdf.element.html>

	<vhsroyal:pdf.tcpdf.setter.font family="sourcesansprolight" style="" size="12"></vhsroyal:pdf.tcpdf.setter.font>

	<vhsroyal:pdf.tcpdf.element.html align="J">

		<p><f:translate key="reports.styles.chapter.10.paragraph.1" extensionName="xlnc_tools" /></p>

	</vhsroyal:pdf.tcpdf.element.html>

	<vhsroyal:pdf.tcpdf.setter.y y="80"></vhsroyal:pdf.tcpdf.setter.y>

	<vhsroyal:pdf.tcpdf.element.html>

		<table width="460" cellpadding="5">

			<tr>
				<td width="230" style="text-align: right; border-bottom: 1px solid #cccccc; font-size: 8pt  height: 22px;"><f:translate key="static.survey.scale.hit" extensionName="xlnc_tools" /></td>
				<td width="200" style="border-bottom: 1px solid #cccccc; font-size: 8pt">
					<table cellpadding="0" width="200">
						<tr>
                            <th class="value-header" style="height: 22px;"><f:translate key="static.survey.scale.1" extensionName="xlnc_tools" /></th>
							<th class="value-header" style="height: 22px;"><f:translate key="static.survey.scale.2" extensionName="xlnc_tools" /></th>
							<th class="value-header" style="height: 22px;"><f:translate key="static.survey.scale.3" extensionName="xlnc_tools" /></th>
							<th class="value-header" style="height: 22px;"><f:translate key="static.survey.scale.4" extensionName="xlnc_tools" /></th>
							<th class="value-header" style="height: 22px;"><f:translate key="static.survey.scale.5" extensionName="xlnc_tools" /></th>
						</tr>
					</table>
				</td>
				<th width="5" style="text-align: left; border-bottom: 1px solid #cccccc;"></th>
				<td width="25" style="text-align: right; border-bottom: 1px solid #cccccc; font-size: 8pt  height: 22px;"><f:translate key="static.survey.scale.to" extensionName="xlnc_tools" /></td>
			</tr>

			<f:for each="{lowestFiveSecondScores}" as="difference">

				<tr>
					<td width="230" style="border-bottom: 1px solid #cccccc; text-align: left">{difference.item.question} (<em><f:translate key="reports.general.{difference.item.criteria.title}" extensionName="xlnc_tools" /></em>)</td>
					<td width="200" style="border-bottom: 1px solid #cccccc">
						<table width="200" cellspacing="0" cellpadding="0">
							<tr>
								<td style="text-align: center"><img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/circle_blank.png" width="15" height="15" /></td>
								<td style="text-align: center"><img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/circle_blank.png" width="15" height="15" /></td>
								<td style="text-align: center"><img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/circle_blank.png" width="15" height="15" /></td>
								<td style="text-align: center"><img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/circle_blank.png" width="15" height="15" /></td>
								<td style="text-align: center"><img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/circle_blank.png" width="15" height="15" /></td>
							</tr>
						</table>
						<table width="200">
							<tr>
								<td><img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/clear.png" width="100" height="15" /></td>
							</tr>
						</table>
					</td>
					<td width="30" style="border-bottom: 1px solid #cccccc"></td>
				</tr>

			</f:for>

		</table>

	</vhsroyal:pdf.tcpdf.element.html>

	<!-- Start Position first row: Y (mm): 89.5 (subtracted), X (px): 255 -->
	<!-- Row height: 10 (mm) -->
	<!-- Distance Min/Max (px): 144 -->

	<vhsroyal:pdf.tcpdf.setter.x x="160"></vhsroyal:pdf.tcpdf.setter.x>
	<!-- Employees 1 -->
	<vhsroyal:pdf.tcpdf.setter.y y="92.5"></vhsroyal:pdf.tcpdf.setter.y>
	<vhsroyal:pdf.tcpdf.element.html>
		<img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/clear.png" width="{lowestFiveSecondScores.0.pos}" height="15" /><img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/circle_dark_blue.png" width="15" height="15" />
	</vhsroyal:pdf.tcpdf.element.html>
	<!-- Employees 2 -->
	<vhsroyal:pdf.tcpdf.setter.y y="13.55" mode="add"></vhsroyal:pdf.tcpdf.setter.y>
	<vhsroyal:pdf.tcpdf.element.html>
		<img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/clear.png" width="{lowestFiveSecondScores.1.pos}" height="15" /><img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/circle_dark_blue.png" width="15" height="15" />
	</vhsroyal:pdf.tcpdf.element.html>
	<!-- Employees 3 -->
	<vhsroyal:pdf.tcpdf.setter.y y="13.55" mode="add"></vhsroyal:pdf.tcpdf.setter.y>
	<vhsroyal:pdf.tcpdf.element.html>
		<img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/clear.png" width="{lowestFiveSecondScores.2.pos}" height="15" /><img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/circle_dark_blue.png" width="15" height="15" />
	</vhsroyal:pdf.tcpdf.element.html>
	<!-- Employees 4 -->
	<vhsroyal:pdf.tcpdf.setter.y y="13.55" mode="add"></vhsroyal:pdf.tcpdf.setter.y>
	<vhsroyal:pdf.tcpdf.element.html>
		<img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/clear.png" width="{lowestFiveSecondScores.3.pos}" height="15" /><img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/circle_dark_blue.png" width="15" height="15" />
	</vhsroyal:pdf.tcpdf.element.html>
	<!-- Employees 5 -->
	<vhsroyal:pdf.tcpdf.setter.y y="13.55" mode="add"></vhsroyal:pdf.tcpdf.setter.y>
	<vhsroyal:pdf.tcpdf.element.html>
		<img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/clear.png" width="{lowestFiveSecondScores.4.pos}" height="15" /><img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/circle_dark_blue.png" width="15" height="15" />
	</vhsroyal:pdf.tcpdf.element.html>


	<!-- Self 1 -->
	<vhsroyal:pdf.tcpdf.setter.y y="92.5"></vhsroyal:pdf.tcpdf.setter.y>
	<vhsroyal:pdf.tcpdf.element.html>
		<img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/clear.png" width="{lowestFiveSecondScores.0.posSelf}" height="15" /><img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/circle_light_lilac.png" width="15" height="15" />
	</vhsroyal:pdf.tcpdf.element.html>
	<!-- Self 2 -->
	<vhsroyal:pdf.tcpdf.setter.y y="13.55" mode="add"></vhsroyal:pdf.tcpdf.setter.y>
	<vhsroyal:pdf.tcpdf.element.html>
		<img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/clear.png" width="{lowestFiveSecondScores.1.posSelf}" height="15" /><img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/circle_light_lilac.png" width="15" height="15" />
	</vhsroyal:pdf.tcpdf.element.html>
	<!-- Self 3 -->
	<vhsroyal:pdf.tcpdf.setter.y y="13.55" mode="add"></vhsroyal:pdf.tcpdf.setter.y>
	<vhsroyal:pdf.tcpdf.element.html>
		<img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/clear.png" width="{lowestFiveSecondScores.2.posSelf}" height="15" /><img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/circle_light_lilac.png" width="15" height="15" />
	</vhsroyal:pdf.tcpdf.element.html>
	<!-- Self 4 -->
	<vhsroyal:pdf.tcpdf.setter.y y="13.55" mode="add"></vhsroyal:pdf.tcpdf.setter.y>
	<vhsroyal:pdf.tcpdf.element.html>
		<img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/clear.png" width="{lowestFiveSecondScores.3.posSelf}" height="15" /><img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/circle_light_lilac.png" width="15" height="15" />
	</vhsroyal:pdf.tcpdf.element.html>
	<!-- Self 5 -->
	<vhsroyal:pdf.tcpdf.setter.y y="13.55" mode="add"></vhsroyal:pdf.tcpdf.setter.y>
	<vhsroyal:pdf.tcpdf.element.html>
		<img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/clear.png" width="{lowestFiveSecondScores.4.posSelf}" height="15" /><img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/circle_light_lilac.png" width="15" height="15" />
	</vhsroyal:pdf.tcpdf.element.html>

	<!-- Legend -->
	<vhsroyal:pdf.tcpdf.setter.y y="20" mode="add"></vhsroyal:pdf.tcpdf.setter.y>
	<vhsroyal:pdf.tcpdf.element.html>
		<p style="line-height: 30px;">
			<img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/clear.png" width="15" height="15" />
			<img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/circle_dark_blue.png" width="15" height="15" style="padding-left: 15px;"/>
			<img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/clear.png" width="5" height="15" />
			<f:translate key="reports.styles.chapter.10.paragraph.2" extensionName="xlnc_tools" />
			<br>
			<img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/clear.png" width="15" height="15" />
			<img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/circle_light_lilac.png" width="15" height="15" style="padding-left: 15px;"/>
			<img src="/typo3conf/ext/xlnc_tools/Resources/Public/Images/clear.png" width="5" height="15" />
			<f:translate key="reports.styles.chapter.10.paragraph.3" extensionName="xlnc_tools" />
		</p>
	</vhsroyal:pdf.tcpdf.element.html>

</vhsroyal:pdf.tcpdf.element.page>
