{namespace vhsroyal=Fhkonzept\VhsRoyal\ViewHelpers}
<vhsroyal:mail.mailMessage>

	<!-- Setters -->
	<vhsroyal:mail.mailMessage.setter.subject><f:translate key="tx_xlnctools_domain_model_invitation.subject.{invitation.salutationKey}" extensionName="xlnc_tools" arguments="{0: invitation.team.firstName, 1: invitation.team.lastName}" /></vhsroyal:mail.mailMessage.setter.subject>
	<vhsroyal:mail.mailMessage.setter.from>noreply@xlnc-leadership.com</vhsroyal:mail.mailMessage.setter.from>
	<vhsroyal:mail.mailMessage.setter.to>{email}</vhsroyal:mail.mailMessage.setter.to>

	<!-- Elements -->
	<vhsroyal:mail.mailMessage.element.body>

		<table class="row">
            <tr>
                <td>
                    <table class="container">
                        <tr>
                            <td class="wrapper last">

                                <table class="twelve columns">
                                    <tr>
                                        <td class="two sub-columns">
                                            <p><f:translate key="tx_xlnctools_domain_model_invitation.salutation.{invitation.salutationKey}" arguments="{0: '{f:translate(key: \'tx_xlnctools_domain_model_invitation.salutation.{invitation.team.gender.uid}\', extensionName: \'xlnc_tools\')}', 1: invitation.team.firstName, 2: invitation.team.lastName}" extensionName="xlnc_tools" /><p>
											{text.bodytext -> f:format.html()}

                                        </td>
                                    </tr>
									<tr>
										<td class="two sub-columns">
											<p><f:translate key="tx_xlnctools_domain_model_invitation.please_login" extensionName="xlnc_tools" /><br /><b>{accessKey}</b></p>
										</td>
									</tr>
                                </table>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

		<table class="row">
			<tr>
				<td class="wrapper last">

					<table class="three columns">
						<tr>
							<td>

								<table class="button">
									<tr>
										<td>
											<a href="{accessUri}">
												<f:translate key="tx_xlnctools_domain_model_invitation.start_here" extensionName="xlnc_tools" />
											</a>
										</td>
									</tr>
								</table>

							</td>
							<td class="expander"></td>
						</tr>
					</table>

				</td>
			</tr>
		</table>

		<table class="row">
            <tr>
                <td>
                    <table class="container">
                        <tr>
                            <td class="wrapper last">

                                <table class="twelve columns">
                                    <tr>
                                        <td class="two sub-columns">
											<p>
												<f:translate key="tx_xlnctools_domain_model_invitation.contact" extensionName="xlnc_tools" />
											</p>
											<f:if condition="{0: invitation.sheetType} != {0: 'Xlnc\XlncTools\Domain\Model\LeaderSheet'}">
												<p>
													<f:translate key="tx_xlnctools_domain_model_invitation.thanks_for_participation" extensionName="xlnc_tools" />
												</p>
											</f:if>
											<p>
												<br />
												<f:translate key="tx_xlnctools_domain_model_invitation.greetings" extensionName="xlnc_tools" />
											</p>
											<p>
												<f:translate key="tx_xlnctools_domain_model_invitation.your_team" extensionName="xlnc_tools" />
											</p>
                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

		<br/>

	</vhsroyal:mail.mailMessage.element.body>

</vhsroyal:mail.mailMessage>
