{namespace vhsroyal=Fhkonzept\VhsRoyal\ViewHelpers}
<vhsroyal:mail.mailMessage>

	<!-- Setters -->
	<vhsroyal:mail.mailMessage.setter.subject><f:translate key="tx_xlnctools_domain_model_invitation.reminderSubject" extensionName="xlnc_tools" arguments="{0: team.firstName, 1: team.lastName}" /></vhsroyal:mail.mailMessage.setter.subject>
	<vhsroyal:mail.mailMessage.setter.from>noreply@xlnc-leadership.com</vhsroyal:mail.mailMessage.setter.from>
	<vhsroyal:mail.mailMessage.setter.to>{email}</vhsroyal:mail.mailMessage.setter.to>

	<!-- Elements -->
	<vhsroyal:mail.mailMessage.element.body>

		<table class="row">
			<tr>
				<td>
					<table class="container">
						<tr>
							<td class="wrapper last">

								<table class="twelve columns">
									<tr>
										<td class="two sub-columns">
											<p><f:translate key="tx_xlnctools_domain_model_invitation.reminderSalutation" arguments="{0: '{f:translate(key: \'tx_xlnctools_domain_model_invitation.salutation.{invitation.team.gender.uid}\', extensionName: \'xlnc_tools\')}', 1: invitation.team.firstName, 2: invitation.team.lastName}" extensionName="xlnc_tools" /><p>
											<f:format.html>{reminderText}</f:format.html>

										</td>
									</tr>
								</table>

							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

		<table class="row">
            <tr>
                <td>
                    <table class="container">
                        <tr>
                            <td class="wrapper last">

                                <table class="twelve columns">
                                    <tr>
                                        <td class="two sub-columns">
											<p><f:translate key="tx_xlnctools_domain_model_invitation.reminderDisclaimer" extensionName="xlnc_tools" /></p>
											<p><f:translate key="tx_xlnctools_domain_model_invitation.reminderGreetings" extensionName="xlnc_tools" /><br><br>
											<f:translate key="tx_xlnctools_domain_model_invitation.reminderYourTeam" extensionName="xlnc_tools" /></p>
                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

	</vhsroyal:mail.mailMessage.element.body>

	<vhsroyal:mail.mailMessage.element.attachment name="myAttachment.png">
		<f:uri.resource path='Images/logo.png' />
	</vhsroyal:mail.mailMessage.element.attachment>

</vhsroyal:mail.mailMessage>
