{namespace vhsroyal=Fhkonzept\VhsRoyal\ViewHelpers}
<vhsroyal:mail.mailMessage>

	<!-- Setters -->
	<vhsroyal:mail.mailMessage.setter.subject><f:translate key="tx_xlnctools_domain_model_invitation.subject.{invitation.salutationKey}" extensionName="xlnc_tools" arguments="{0: team.firstName, 1: team.lastName}" /></vhsroyal:mail.mailMessage.setter.subject>
	<vhsroyal:mail.mailMessage.setter.from>noreply@xlnc-leadership.com</vhsroyal:mail.mailMessage.setter.from>
	<vhsroyal:mail.mailMessage.setter.to>{team.email}</vhsroyal:mail.mailMessage.setter.to>

	<!-- Elements -->
	<vhsroyal:mail.mailMessage.element.body>

		<table class="row">
            <tr>
                <td>
                    <table class="container">
                        <tr>
                            <td class="wrapper last">

                                <table class="twelve columns">
                                    <tr>
                                        <td class="two sub-columns">
                                            <p><f:translate key="tx_xlnctools_domain_model_invitation.salutation.{invitation.salutationKey}" arguments="{0: '{f:translate(key: \'tx_xlnctools_domain_model_invitation.salutation.{invitation.team.gender.title}\', extensionName: \'xlnc_tools\')}', 1: invitation.team.firstName, 2: invitation.team.lastName}" extensionName="xlnc_tools" /><p>
											<f:if condition="{0: invitation.sheetType} == {0: 'Xlnc\XlncTools\Domain\Model\LeaderSheet'}">
												<f:then>
													<f:format.html>{invitation.team.altMailText}</f:format.html>
												</f:then>
												<f:else>
													<f:format.html>{invitation.team.mailText}</f:format.html>
												</f:else>
											</f:if>

                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

		<table class="row">
            <tr>
                <td>
                    <table class="container">
                        <tr>
                            <td class="wrapper last">

                                <table class="twelve columns">
                                    <tr>
                                        <td class="two sub-columns">
											<p>Zum Ausfüllen der Fragebögen loggen Sie sich bitte mit dem untenstehenden Login-Code ein:</p>
                                            <p>Login-Code: <b>{accessKey}</b></p>
											<p>
												Falls der direkte Zugang zu Ihrem Fragebogen nicht funktioniert, öffnen Sie bitte einen gängigen Web-Browser und geben folgende Webadresse ein:<br>

												https://www.xlnc-leadership.com <br>
												Nutzen Sie als Benutzername bitte : xlnc<br>
												Nutzen Sie als Passwort bitte: leadership<br>
												Geben Sie dann in die Login-Maske Ihren persönlichen Login-Code ein.<br>
											</p>

											<p>Bei Fragen stehen wir Ihnen gerne unter der Telefonnr. +49 421 34 66 8070  zur Verfügung.</p>
											<p>Vielen Dank für Ihre Bereitschaft zur Unterstützung des Reflexionsprozesses!</p>
											<p>Beste Grüße,<br><br>
											Ihr XLNC-Team</p>
                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

		<br/>

		<vhsroyal:mail.mailMessage.element.attachment name="Report - {tool.title}.pdf">{filePath}</vhsroyal:mail.mailMessage.element.attachment>
	</vhsroyal:mail.mailMessage.element.body>

</vhsroyal:mail.mailMessage>
