{namespace xlnc=Xlnc\XlncTools\ViewHelpers}
<f:layout name="default" />

<f:section name="template">

	<div class="container">

		<div class="row xlnc-Tools-dashboard content-area">

			<f:render partial="Fluid/FlashMessages" />

			<div class="col-sm-6 col-sm-offset-3 text-center">
				<p class="dashboard-status" data-status="{dashboardStatus}">
					<f:translate key="static.dashboard.status.{dashboardStatus}" />
					<span class="finePrint">
						<f:translate key="static.dashboard.status.{dashboardStatus}.finePrint" />
					</span>
				</p>
			</div>

			<f:if condition="{sheet}">
				<f:for each="{toolsData}" as="toolData">
					<f:render partial="Tool/Dashboard/ListItem" arguments="{toolData:toolData,sheet:sheet}" />
				</f:for>
			</f:if>

			<xlnc:languageSelector />

			<div class="clearfix"></div>

		</div>

	</div>

	<f:render partial="Tool/LogoutPopup" />

	<script type="text/javascript">

		jQuery('.default-page').addClass('xlnc-Tools-dashboard-page');

		(function ($) {
			$( function () {
				var $popup = $('.popup-logout');
				$('.action-logout').on('click', function (event) {
					if ( ! ($('.dashboard-status').data('status') === 'all_tools_finished') ) {
						event.preventDefault();
						$popup.addClass('open');
					}
				});

				$('.action-logout-dismiss').on('click', function (event) {
					event.preventDefault();
					$popup.removeClass('open');
				});
			});
		})(jQuery);

	</script>

</f:section>
