{namespace xlnc=Xlnc\XlncTools\ViewHelpers}
<f:layout name="default" />

<f:section name="template">

	<div class="container">

		<!--<f:render partial="Tool/Survey/TitleBar" arguments="{tool:tool}" />-->

		<div class="row xlnc-Tools-personalDataForm content-area">

			<xlnc:languageSelector />

			<f:render partial="Fluid/FlashMessages" />
            <div class="col-sm-10">{f:translate(key: 'toolform.demo_header', extensionName:'xlnc_tools')}<br><br></div>
			<div class="col-sm-10">

				<f:form action="updateSheet" name="sheet" object="{sheet}" method="post" addQueryString="1" id="xlnc-Tools-personalDataForm-form">

					<div class="row">
						<div class="col-sm-5">{f:translate(key: 'toolform.age')}</div>
						<div class="col-sm-7">
				  			<f:form.select property="age" options="{ages}" class="form-control" optionValueField="uid" optionLabelField="title" prependOptionLabel="{f:translate(key: 'toolform.please_choose')}" prependOptionValue=""/>
				  			<f:render partial="Fluid/PropertyErrors" arguments="{object: sheet, property: 'sheet.age'}"/>
				  		</div>
					</div>

					<div class="row">
						<div class="col-sm-5">{f:translate(key: 'toolform.gender')}</div>
						<div class="col-sm-7">
				  			<f:form.select property="gender" options="{genders}" class="form-control" optionValueField="uid" optionLabelField="title" prependOptionLabel="{f:translate(key: 'toolform.please_choose')}" prependOptionValue="" />
				  			<f:render partial="Fluid/PropertyErrors" arguments="{object: sheet, property: 'sheet.gender'}"/>
				  		</div>
					</div>

					<div class="row">
						<div class="col-sm-5">{f:translate(key: 'toolform.land')}</div>
						<div class="col-sm-7">
				  			<f:form.select property="country" options="{countries}" optionValueField="uid" optionLabelField="title" class="form-control" prependOptionLabel="{f:translate(key: 'toolform.please_choose')}" prependOptionValue=""/>
				  			<f:render partial="Fluid/PropertyErrors" arguments="{object: sheet, property: 'sheet.country'}"/>
				  		</div>
					</div>

					<div class="row">
						<div class="col-sm-5">{f:translate(key: 'toolform.education')}</div>
						<div class="col-sm-7">
				  			<f:form.select property="education" options="{educations}" class="form-control" optionValueField="uid" optionLabelField="title" prependOptionLabel="{f:translate(key: 'toolform.please_choose')}" prependOptionValue="" />
				  			<f:render partial="Fluid/PropertyErrors" arguments="{object: sheet, property: 'sheet.education'}"/>
				  		</div>
					</div>

					<div class="row">
						<div class="col-sm-5">{f:translate(key: 'toolform.graduation')}</div>
						<div class="col-sm-7">
				  			<f:form.select property="graduation" options="{graduations}" class="form-control" optionValueField="uid" optionLabelField="title" prependOptionLabel="{f:translate(key: 'toolform.please_choose')}" prependOptionValue="" />
				  			<f:render partial="Fluid/PropertyErrors" arguments="{object: sheet, property: 'sheet.graduation'}"/>
				  		</div>
					</div>

					<div class="row">
						<div class="col-sm-5">{f:translate(key: 'toolform.workexp')}</div>
						<div class="col-sm-7">
				  			<f:form.select property="experience" options="{experiences}" class="form-control" optionValueField="uid" optionLabelField="title" prependOptionLabel="{f:translate(key: 'toolform.please_choose')}" prependOptionValue="" />
				  			<f:render partial="Fluid/PropertyErrors" arguments="{object: sheet, property: 'sheet.experience'}"/>
				  		</div>
					</div>

				  	<f:if condition="{sheet.txExtbaseType} == 'Tx_XlncTools_LeaderSheet'">
				  		<div class="row">
							<div class="col-sm-5">{f:translate(key: 'toolform.mgrexp')}</div>
							<div class="col-sm-7">
					  			<f:form.select property="managementexperience" options="{managementExperiences}" class="form-control" optionValueField="uid" optionLabelField="title" prependOptionLabel="{f:translate(key: 'toolform.please_choose')}" prependOptionValue="" />
					  			<f:render partial="Fluid/PropertyErrors" arguments="{object: sheet, property: 'sheet.managementexperience'}"/>
					  		</div>
						</div>
				  	</f:if>

				  	<f:if condition="{sheet.txExtbaseType} == 'Tx_XlncTools_LeaderSheet'">
				  		<div class="row">
							<div class="col-sm-5">{f:translate(key: 'toolform.mgrlvl')}</div>
							<div class="col-sm-7">
					  			<f:form.select property="managementlevel" options="{managementLevels}" class="form-control" optionValueField="uid" optionLabelField="title" prependOptionLabel="{f:translate(key: 'toolform.please_choose')}" prependOptionValue="" />
					  			<f:render partial="Fluid/PropertyErrors" arguments="{object: sheet, property: 'sheet.managementlevel'}"/>
					  		</div>
						</div>
				  	</f:if>

				  	<div class="row">
						<div class="col-sm-5">{f:translate(key: 'toolform.brache')}</div>
						<div class="col-sm-7">
			  				<f:form.select property="businessunit" options="{businessUnits}" class="form-control" optionValueField="uid" optionLabelField="title" prependOptionLabel="{f:translate(key: 'toolform.please_choose')}" prependOptionValue="" />
			  				<f:render partial="Fluid/PropertyErrors" arguments="{object: sheet, property: 'sheet.businessunit'}"/>
			  			</div>
					</div>

				  	<f:form.hidden name="tool" value="{tool}" />

				</f:form>

			</div>

			<a href="" class="col-sm-2 xlnc-Tools-survey-next" onclick="jQuery('#xlnc-Tools-personalDataForm-form').submit();return false;" title="{f:translate(key: 'static.survey.nextPage')}">
		  		<span class="xlnc-Tools-survey-next-btn"></span>
		  		<h4><f:translate key="static.survey.nextPage"></f:translate></h4>
			</a>


		</div>


	</div>

	<f:if condition="{tool.txExtbaseType} == 'Tx_XlncTools_LeadershipTool'">
		<f:then>
			<script type="text/javascript">
				//jQuery('.default-page').addClass('xlnc-Tools-leadershipTool-page');
			</script>
		</f:then>
		<f:else>
			<f:if condition="{tool.txExtbaseType} == 'Tx_XlncTools_ClimateTool'">
				<script type="text/javascript">
					//jQuery('.default-page').addClass('xlnc-Tools-climateTool-page');
				</script>
			</f:if>
		</f:else>
	</f:if>

	<script type="text/javascript">

		jQuery('.default-page').addClass('xlnc-Tools-personalDataForm-page');

		jQuery( document ).ready(function() {
			adjustNextArea();
		});
		jQuery( window ).resize(function() {
			adjustNextArea();
		});

		function adjustNextArea() {
			var padding = Math.floor((jQuery('#xlnc-Tools-personalDataForm-form').height()/2) - (jQuery('.xlnc-Tools-survey-next').height()/2));
		    jQuery('.xlnc-Tools-survey-next').css('padding-top', padding);
		    jQuery('.xlnc-Tools-survey-next').css('padding-bottom', padding);
		    jQuery('.xlnc-Tools-survey-next').css('margin-bottom', 0);
		    if(jQuery(window).width() <= 750) {
		    	jQuery('.xlnc-Tools-survey-next').css('padding-top', 20);
		    	jQuery('.xlnc-Tools-survey-next').css('padding-bottom', 20);
		    	jQuery('.xlnc-Tools-survey-next').css('margin-bottom', 20);
		    }
		}
	</script>

</f:section>
