{namespace xlnc=Xlnc\XlncTools\ViewHelpers}
<f:layout name="default" />

<f:section name="template">

	<div class="container">

		<f:render partial="Tool/Survey/TitleBar" arguments="{tool:tool, sheet: sheet}" />
		
		<div class="row xlnc-Tools-intro content-area">
			
			<f:if condition="{tool}">

				<div class="row">
				  	<div class="col-sm-12">
						
						<f:if condition="{settings.altIntro}">
							<f:then>
								<f:translate key="tx_xlnctools_domain_model_tool.altIntro.{tool.txExtbaseType}.{sheet.txExtbaseType}" />
							</f:then>
							<f:else>
								<f:translate key="tx_xlnctools_domain_model_tool.intro.{tool.txExtbaseType}.{sheet.txExtbaseType}" />
							</f:else>

						</f:if>
						
						<br /><br />
					</div>
				</div>

				<div class="row">

					<div class="col-sm-6 text-left">
					</div>
					<div class="col-sm-6 text-right">
						<p>
							<f:translate key="static.select_language_lock" />
						</p>
						<div class="language-lock-selector text-center">
							<div class="dropdown">
								<a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									<span class="selected-language">Bitte wählen</span>
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu dropdown-menu-right">
									<f:for each="{languages}" as="language">
										<li>
											<a  href="{language.uri}"
												class="select-language-lock"
												data-language="{language.uid}">
												{language.flagIcon -> f:format.raw()}
												{language.title}
											</a>
										</li>
									</f:for>
								</ul>
							</div>
						</div>
						<a href="#" class="btn btn-primary lock-language disabled" data-current-language="{currentLanguage.uid}">
							<f:translate key="static.start_survey" />
						</a>

					</div>

				</div>

			</f:if>
		</div>

	</div>

	<f:if condition="{tool.txExtbaseType} == 'Tx_XlncTools_LeadershipTool'">
		<f:then>
			<script type="text/javascript">
				jQuery('.default-page').addClass('xlnc-Tools-leadershipTool-page');
			</script>
		</f:then>
		<f:else>
			<f:if condition="{tool.txExtbaseType} == 'Tx_XlncTools_ClimateTool'">
				<script type="text/javascript">
					jQuery('.default-page').addClass('xlnc-Tools-climateTool-page');
				</script>
			</f:if>
		</f:else>
	</f:if>

	<script type="text/javascript">
		(function($) {
			$(function () {
				var $lockLanguage = $('.lock-language'),
					$selectLanguageLanguage = $('.select-language-lock'),
					currentLanguageUid = $lockLanguage.data('currentLanguage');

				$selectLanguageLanguage.each( function (_, link) {
					var $link = $(link);

					$link.on('click', function (event) {
						event.preventDefault();
						$lockLanguage.prop('href', $link.prop('href'));
						$lockLanguage.removeClass('disabled');
						$('.selected-language').html($link.html());
					})
				});

				$selectLanguageLanguage.each ( function (_, link) {
					var $link = $(link);
					if($link.data('language') == currentLanguageUid) {
						$link.trigger('click');
					}
				});
			});
		})(jQuery);
	</script>
	
	<style>
		b {
			font-family: "Trade Gothic W01 bold","Helvetica","Verdana","sans-serif" !important;
		}
	</style>

</f:section>
