<f:layout name="default" />

<f:section name="template">

	<div class="container">

		<f:render partial="Tool/Survey/TitleBar" arguments="{tool:tool, sheet: sheet}" />

		<div class="row xlnc-Tools-outro content-area">
			<f:if condition="{tool}">
				<f:translate key="tx_xlnctools_domain_model_tool.outro" />
			</f:if>
		</div>

		<div class="row">
	  		<div class="col-sm-6 text-left">
	  			<f:link.action action="dashboard" class="btn btn-default"><f:translate key="static.survey.dashboard"></f:translate></f:link.action>
	  		</div>
	  	</div>

  	</div>

	<f:if condition="{tool.txExtbaseType} == 'Tx_XlncTools_LeadershipTool'">
		<f:then>
			<script type="text/javascript">
				jQuery('.default-page').addClass('xlnc-Tools-leadershipTool-page');
			</script>
		</f:then>
		<f:else>
			<f:if condition="{tool.txExtbaseType} == 'Tx_XlncTools_ClimateTool'">
				<script type="text/javascript">
					jQuery('.default-page').addClass('xlnc-Tools-climateTool-page');
				</script>
			</f:if>
		</f:else>
	</f:if>

</f:section>
