{namespace xlnc=Xlnc\XlncTools\ViewHelpers}
<f:layout name="default" />

<f:section name="template">

	<div class="container">

		<div class="row"><f:render partial="Tool/Survey/TitleBar" arguments="{tool:tool, sheet: sheet}" /></div>

		<div class="row xlnc-Tools-survey content-area">

			<f:render partial="Fluid/FlashMessages" />

			<f:if condition="{tool}">

				<div class="xlnc-Tools-content">

					<f:form action="updateSheetAnswers" method="post" name="sheet" object="{sheet}" id="xlnc-Tools-survey-form">

						<div class="col-sm-10 xlnc-Tools-survey-form-answers">

							<f:if condition="{isTextAnswersPage} == 0">
								<f:then>
									<f:if condition="{tool.txExtbaseType} == 'Tx_XlncTools_LeadershipTool'">
							  			<f:then>
							  				<f:render partial="Tool/Survey/Items/LeadershipHeader" />
							  			</f:then>
							  			<f:else>
							  				<f:if condition="{tool.txExtbaseType} == 'Tx_XlncTools_ClimateTool'">
							  					<f:render partial="Tool/Survey/Items/ClimateHeader" />
							  				</f:if>
							  			</f:else>
							  		</f:if>
								</f:then>
								<f:else>
									<f:if condition="{tool.txExtbaseType} == 'Tx_XlncTools_LeadershipTool'">
										<f:render partial="Tool/Survey/Items/LeadershipTextHeader" />
									</f:if>
								</f:else>
					  		</f:if>

					  		<div>
							  	<f:for each="{answers}" as="answer">
							  		<f:if condition="{answer.item.txExtbaseType} == 'Tx_XlncTools_LeadershipItem'">
							  			<f:then>
							  				<f:render partial="Tool/Survey/Items/LeadershipItem" arguments="{answer:answer,sheet:sheet}" />
							  			</f:then>
							  			<f:else>
							  				<f:if condition="{answer.item.txExtbaseType} == 'Tx_XlncTools_ClimateItem'">
							  					<f:then>
							  						<f:render partial="Tool/Survey/Items/ClimateItem" arguments="{answer:answer,sheet:sheet}" />
							  					</f:then>
							  					<f:else>
							  						<f:render partial="Tool/Survey/Items/TextItem" arguments="{answer:answer,sheet:sheet}" />
							  					</f:else>
							  				</f:if>
							  			</f:else>
							  		</f:if>
							  	</f:for>
						  	</div>

					  	</div>

					  	<a href="" class="col-sm-2 xlnc-Tools-survey-next" onclick="jQuery('#xlnc-Tools-survey-form').submit();return false;" title="{f:translate(key: 'static.survey.nextPage')}">
					  		<span class="xlnc-Tools-survey-next-btn"></span>
					  		<h4><f:translate key="static.survey.nextPage"></f:translate></h4>
						</a>

					</f:form>

					<div class="clearfix"></div>

				</div>

			</f:if>

		</div>

	</div>

	<div class="xlnc-Tools-survey-progress">
		<div class="container">
			<xlnc:progress totalPages="{totalPages}" currentPage="{currentPage}" />
		</div>
	</div>

	<f:if condition="{tool.txExtbaseType} == 'Tx_XlncTools_LeadershipTool'">
		<f:then>
			<script type="text/javascript">
				jQuery('.default-page').addClass('xlnc-Tools-leadershipTool-page');
			</script>
		</f:then>
		<f:else>
			<f:if condition="{tool.txExtbaseType} == 'Tx_XlncTools_ClimateTool'">
				<script type="text/javascript">
					jQuery('.default-page').addClass('xlnc-Tools-climateTool-page');
				</script>
			</f:if>
		</f:else>
	</f:if>

	<f:render partial="Tool/InterruptPopup" />

	<script type="text/javascript">
		jQuery( document ).ready(function() {
			adjustNextArea();
		});
		jQuery( window ).resize(function() {
			adjustNextArea();
		});
		function adjustNextArea() {
			var padding = Math.floor((jQuery('.xlnc-Tools-survey-form-answers').height()/2) - (jQuery('.xlnc-Tools-survey-next').height()/2));
		    jQuery('.xlnc-Tools-survey-next').css('padding-top', padding);
		    jQuery('.xlnc-Tools-survey-next').css('padding-bottom', padding);
		    jQuery('.xlnc-Tools-survey-next').css('margin-bottom', 0);
		    if(jQuery(window).width() <= 750) {
		    	jQuery('.xlnc-Tools-survey-next').css('padding-top', 20);
		    	jQuery('.xlnc-Tools-survey-next').css('padding-bottom', 20);
		    	jQuery('.xlnc-Tools-survey-next').css('margin-bottom', 20);
		    }
		}

		(function ($) {
			$( function () {
				var $popup = $('.popup-interrupt');
				$('.action-interrupt').on('click', function (event) {

					event.preventDefault();
					$popup.addClass('open');

				});

				$('.action-interrupt-dismiss').on('click', function (event) {
					event.preventDefault();
					$popup.removeClass('open');
				});
			});
		})(jQuery);
	</script>

    <script type="text/javascript">

    	(function($) {
    		$( function () {
    			var $window = $(window);
    			$.fn.affixable = function (el) {
    				var el = this,
    					getTopOffset = function () {
    						return el[0].getBoundingClientRect().top;
    					},
    					affix = function () {

    						el.data('top', getTopOffset() + $window.scrollTop());
    						el.addClass('affixed');
    					},
    					unaffix = function () {
    						el.removeClass('affixed');
    					},
    					updateAffix = function () {
    						if (el.hasClass('affixed')) {
    							// el is affixed and might need to be re-inserted
    							if(el.data('top') > $window.scrollTop()) {
    								unaffix();
    							}
    						} else {
    							// el is not affixed and might need to be {
    							if(getTopOffset() < 0) {
    								affix();
    							}
    						}
    					};

    				$window.on('scroll', updateAffix);
    				$window.on('resize', updateAffix);
    				updateAffix();
    			};

    			$('.affixable').first().affixable();
    		})
    	})(jQuery);
    </script>


</f:section>
