{namespace xlnc=Fh\XlncDe\ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">

	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
				<div id="carousel-{data.uid}" class="carousel slide {data.flexform_effect}" data-ride="carousel" data-interval='<f:cObject typoscriptObjectPath="lib.calc" data="1000 * {data.flexform_interval}"/>' data-pause="{data.flexform_pause}">
					<div class="carousel-inner" role="listbox">
						<f:for each="{data.tx_gridelements_view_children}" as="item" iteration="itemIterator">
							<div class="item {f:if(condition: itemIterator.isFirst, then: 'active')}">
								<f:format.raw>{xlnc:arrayIndex(object: data, index: 'tx_gridelements_view_child_{item.uid}')}</f:format.raw>
							</div>
						</f:for>
					</div>
					<ol class="carousel-indicators">
						<f:for each="{data.tx_gridelements_view_children}" as="item" iteration="itemIterator">
							<li data-target="#carousel-{data.uid}" data-slide-to="{itemIterator.index}" class="{f:if(condition: itemIterator.isFirst, then: 'active')}"></li>
						</f:for>
					</ol>
					<a class="left carousel-control" href="#carousel-{data.uid}" role="button" data-slide="prev">
						<span class="arrow-left glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#carousel-{data.uid}" role="button" data-slide="next">
						<span class="arrow-right glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	</div>

</f:section>