<div class="row tx_gridelements_col_three without-container">
	<div class="col-lg-12">
		<div class="col-md-4">
			<f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
		</div>
		<div class="col-md-4">
			<f:format.raw>{data.tx_gridelements_view_column_2}</f:format.raw>
		</div>
		<div class="col-md-4">
			<f:format.raw>{data.tx_gridelements_view_column_3}</f:format.raw>
		</div>
	</div>
</div>
