<div class="tx_gridelements_col_one_facelift" id="tx_gridelements-{data.uid}">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-10 col-xs-10 col-lg-offset-3 col-md-offset-3 col-sm-offset-1 col-xs-offset-1" >
                <div class="grid-content">
                    <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
                </div>
            </div>
        </div>
    </div>
</div>
