<div class="tx_gridelements_col_three_facelift" id="tx_gridelements-{data.uid}">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1" >
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="grid-content">
    			            <f:format.raw>{data.tx_gridelements_view_column_0}</f:format.raw>
                        </div>
                	</div>
                	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="grid-content">
			                <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
                        </div>
                	</div>
                	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="grid-content">
            			    <f:format.raw>{data.tx_gridelements_view_column_2}</f:format.raw>
                        </div>
                	</div>
                </div>
            </div>
        </div>
    </div>
</div>
