<div class="tx_gridelements_col_five_three" id="tx_gridelements-{data.uid}">
    <div class="container">
        <div class="row">

    		<div class="col-lg-5 col-lg-offset-2 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1">
                <div class="grid-content">
		            <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
                </div>
    		</div>
    		<div class="col-lg-3 col-lg-offset-0 col-sm-5 col-sm-offset-0 col-md-5 col-md-offset-1 right-column">
                <div class="grid-content">
		            <f:format.raw>{data.tx_gridelements_view_column_2}</f:format.raw>
                </div>
    		</div>

        </div>
    </div>
</div>
