<div class="tx_gridelements_col_three" id="tx_gridelements-{data.uid}">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-4">
					<f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
				</div>
				<div class="col-lg-4">
					<f:format.raw>{data.tx_gridelements_view_column_2}</f:format.raw>
				</div>
				<div class="col-lg-4">
					<f:format.raw>{data.tx_gridelements_view_column_3}</f:format.raw>
				</div>
			</div>
		</div>
	</div>
</div>