<div class="tx_gridelements_col_one" id="tx_gridelements-{data.uid}">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
				<f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
			</div>
		</div>
	</div>
</div>