<div class="tx_gridelements_col_one_ten_facelift" id="tx_gridelements-{data.uid}">
    <div class="container">
        <div class="row">
            <div class=" col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-0 col-xs-offset-0" >
                <div class="grid-content">
                    <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
                </div>
            </div>
        </div>
    </div>
</div>
