<div class="tx_gridelements_col_two_facelift" id="tx_gridelements-{data.uid}">
    <div class="container">
        <div class="row">        
        	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 col-lg-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-offset-0">
                <div class="grid-content">
		            <f:format.raw>{data.tx_gridelements_view_column_0}</f:format.raw>
                </div>
        	</div>
        	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <div class="grid-content">
		            <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
                </div>
        	</div>
        </div>
    </div>
</div>
