<div class="tx_gridelements_col_two" id="tx_gridelements-{data.uid}">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-1">
				<div class="spalte">
					<f:format.raw>{data.tx_gridelements_view_column_0}</f:format.raw>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-1">
				<div class="spalte">
					<f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
				</div>
			</div>
		</div>
	</div>
</div>