<div class="tx_gridelements_gray_background" id="tx_gridelements-{data.uid}">
	<div class="container_gray_background">
		<div class="gray_background_content">
			<f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
		</div>
	</div>
</div>
