<div class="tx_gridelements_green_content" id="tx_gridelements-{data.uid}">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
			</div>
		</div>
	</div>
</div>