<div class="container-fluid">
	<div class="row">
		<div class="slick-item-wrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="slick-item">
				<div class="image desktop">
					{data.tx_gridelements_view_column_2 -> f:format.raw()}
				</div>
				<div class="image smartphone">
					{data.tx_gridelements_view_column_3 -> f:format.raw()}
				</div>
				<div class="image landscape">
					{data.tx_gridelements_view_column_4 -> f:format.raw()}
				</div>
				<div class="slide-text slide-text-center {f:if(condition: data.flexform_whiteText, then: 'text-white')} col-sm-8 col-sm-offset-2 col-xs-12">
					{data.tx_gridelements_view_column_1 -> f:format.raw()}
				</div>
			</div>
		</div>
	</div>
</div>
