<div class="tx_gridelements_no_background" id="tx_gridelements-{data.uid}">
	<div class="container_no_background">
        <div class="no_background_content">
			<f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
		</div>
	</div>
</div>
