{namespace xlnc=Fh\XlncDe\ViewHelpers}
<div class="tx_gridelements_profile" id="tx_gridelements-{data.uid}">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
				<f:for each="{xlnc:inGroups(elements: data.tx_gridelements_view_children, fillLastChunk: 1)}" as="group">
					<div class="row">
						<div class="profiles">
							<f:for each="{group}" as="element">
								<f:if condition="{element}">
									<f:then>
										<div class="padding col-lg-4 col-md-4 col-sm-4 col-xs-12">
											<xlnc:gridChild data="{data}" childUid="{element.uid}" />
										</div>
									</f:then>
									<f:else>
										<div class="placeholder-wrapper col-lg-4 col-md-4 col-sm-4 col-xs-12">
											<div class="placeholder"></div>
										</div>
									</f:else>
								</f:if>
							</f:for>
						</div>
					</div>
				</f:for>
			</div>
		</div>
	</div>
</div>