<div class="container">
    <div class="row">
        <div class="tx_gridelements_reference_gallery_facelift col-lg-8 col-sm-10 col-xs-12 col-lg-offset-2 col-sm-offset-1 col-xs-offset-0" id="tx_gridelements-{data.uid}">
            <div class="row">
            	<f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
            </div>
        </div>
    </div>
</div>
