<div class="col-sm-4 col-xs-6" id="tx_gridelements-{data.uid}">
    <div class="reference-wraper">
        <div class="reference-background">
            <div class="reference-normal reference">
        	      <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
            </div>
            <div class="reference-hover reference">
                <f:format.raw>{data.tx_gridelements_view_column_2}</f:format.raw>
            </div>
        </div>
    </div>
</div>
