<div class="tx_gridelements_site_picture" id="tx_gridelements-{data.uid}">
	<div class="image desktop">
		{data.tx_gridelements_view_column_2 -> f:format.raw()}
	</div>
	<div class="image smartphone">
		{data.tx_gridelements_view_column_3 -> f:format.raw()}
	</div>
	<div class="image landscape">
		{data.tx_gridelements_view_column_4 -> f:format.raw()}
	</div>
	<div class="slide-text slide-text-right {f:if(condition: data.flexform_whiteText, then: 'text-white')} col-md-4 col-sm-6 col-md-offset-7 col-sm-offset-6 col-xs-12">
		{data.tx_gridelements_view_column_1 -> f:format.raw()}
	</div>
</div>
