{namespace vhsroyal=Fhkonzept\VhsRoyal\ViewHelpers}
<vhsroyal:gfx.chart width="1440" height="760" dest="R" preset="Combined/managementStylesDistribution" data="{_all}">

	<!-- Chart data -->
	<vhsroyal:gfx.chart.add.points Values="{preset.values.development}" SerieName="{preset.names.development}" />
	<vhsroyal:gfx.chart.set.seriedescription Series="{preset.names.development}" Description="{preset.descriptions.development}" />
	<vhsroyal:gfx.chart.set.serieonaxis AxisID="0" Series="{preset.names.development}" />
	<vhsroyal:gfx.chart.set.axiscolor AxisID="0" Format="{R: 255, G: 255, B: 255}" />
	<vhsroyal:gfx.chart.set.palette Series="{preset.names.development}" Format="{preset.palettes.development}" />


    <!-- Chart data -->
    <vhsroyal:gfx.chart.add.points Values="{preset.values.potential}" SerieName="{preset.names.potential}" />
	<vhsroyal:gfx.chart.set.seriedescription Series="{preset.names.potential}" Description="{preset.descriptions.potential}" />
	<vhsroyal:gfx.chart.set.serieonaxis AxisID="0" Series="{preset.names.potential}" />
	<vhsroyal:gfx.chart.set.axiscolor AxisID="0" Format="{R: 255, G: 255, B: 255}" />
	<vhsroyal:gfx.chart.set.palette Series="{preset.names.potential}" Format="{preset.palettes.potential}" />

	<vhsroyal:gfx.chart.add.points Values="{preset.values.signature}" SerieName="{preset.names.signature}" />
	<vhsroyal:gfx.chart.set.seriedescription Series="{preset.names.signature}" Description="{preset.descriptions.signature}" />
	<vhsroyal:gfx.chart.set.serieonaxis AxisID="0" Series="{preset.names.signature}" />
	<vhsroyal:gfx.chart.set.axiscolor AxisID="0" Format="{R: 255, G: 255, B: 255}" />
	<vhsroyal:gfx.chart.set.palette Series="{preset.names.signature}" Format="{preset.palettes.signature}" />

	<vhsroyal:gfx.chart.add.points Values="{preset.serie3Values}" SerieName="{preset.serie3Name}" />
	<vhsroyal:gfx.chart.set.abscissa Serie="{preset.serie3Name}" />

	<vhsroyal:gfx.chart.set.axisposition AxisID="0" Position="{preset.axisPosition}" />
	<vhsroyal:gfx.chart.set.axisname AxisID="0" Name="" />
	<vhsroyal:gfx.chart.set.axisunit AxisID="0" Unit="%" />

	<!-- Attach data to chart -->
	<vhsroyal:gfx.chart.set.dataset />

	<!-- Draw chart -->
	<vhsroyal:gfx.chart.set.grapharea X1="{preset.graphareaX1}" Y1="{preset.graphareaY1}" X2="{preset.graphareaX2}" Y2="{preset.graphareaY2}" />

	<!-- font -->
	<vhsroyal:gfx.chart.set.fontproperties Format="{preset.blueFontFormat}" />

	<!-- chart bar colors -->
	<vhsroyal:gfx.chart.set.palette Series="{preset.serie1Name}" Format="{preset.serie1Palette}" />

	<!-- Scale -->
	<vhsroyal:gfx.chart.draw.scale Format="{preset.scaleFormat}" />

	<!--Thresholds -->

	<vhsroyal:gfx.chart.draw.threshold Value="{preset.thresholds.items.0.value}" Format="{preset.thresholds.format}" />
	<vhsroyal:gfx.chart.draw.threshold Value="{preset.thresholds.items.3.value}" Format="{preset.thresholds.format}" />

	<!-- Chart -->
	<vhsroyal:gfx.chart.draw.stackedbarchart Format="{preset.chartFormat}" />

	<!--Legend -->
	<!-- Text for Legend -->
	<vhsroyal:gfx.chart.draw.roundedfilledrectangle Radius="4" X1="{preset.legendBox1X1}" Y1="{preset.legendBox1Y1}" X2="{preset.legendBox1X2}" Y2="{preset.legendBox1Y2}" Format="{preset.palettes.development}" />
	<vhsroyal:gfx.chart.draw.text X="{preset.legendText1X}" Y="{preset.legendTextY}" Text="{f:translate(key: 'reports.styles.charts.trasholds.item.1', extensionName:'xlnc_tools')}" Format="{preset.legendFormat}" />

	<vhsroyal:gfx.chart.draw.roundedfilledrectangle Radius="4" X1="{preset.legendBox2X1}" Y1="{preset.legendBox2Y1}" X2="{preset.legendBox2X2}" Y2="{preset.legendBox2Y2}" Format="{preset.palettes.potential}" />
	<vhsroyal:gfx.chart.draw.text X="{preset.legendText2X}" Y="{preset.legendTextY}" Text="{f:translate(key: 'reports.styles.charts.trasholds.item.2', extensionName:'xlnc_tools')}" Format="{preset.legendFormat}" />

	<vhsroyal:gfx.chart.draw.roundedfilledrectangle Radius="4" X1="{preset.legendBox3X1}" Y1="{preset.legendBox3Y1}" X2="{preset.legendBox3X2}" Y2="{preset.legendBox3Y2}" Format="{preset.palettes.signature}" />
	<vhsroyal:gfx.chart.draw.text X="{preset.legendText3X}" Y="{preset.legendTextY}" Text="{f:translate(key: 'reports.styles.charts.trasholds.item.3', extensionName:'xlnc_tools')}" Format="{preset.legendFormat}" />

</vhsroyal:gfx.chart>
