{namespace vhsroyal=Fhkonzept\VhsRoyal\ViewHelpers}
<vhsroyal:gfx.chart width="1440" height="1020" dest="{dest}" preset="barchart">

	<!-- Chart data -->
	<vhsroyal:gfx.chart.add.points Values="{preset.serie1Values}" SerieName="{preset.serie1Name}" />
	<vhsroyal:gfx.chart.set.seriedescription Series="{preset.serie1Name}" Description="{preset.serie1Description}" />
	<vhsroyal:gfx.chart.set.serieonaxis AxisID="0" Series="{preset.serie1Name}" />

	<vhsroyal:gfx.chart.add.points Values="{preset.serie2Values}" SerieName="{preset.serie2Name}" />
	<vhsroyal:gfx.chart.set.seriedescription Series="{preset.serie2Name}" Description="{preset.serie2Description}" />
	<vhsroyal:gfx.chart.set.serieonaxis AxisID="0" Series="{preset.serie2Name}" />

	<vhsroyal:gfx.chart.add.points Values="{preset.serie3Values}" SerieName="{preset.serie3Name}" />
	<vhsroyal:gfx.chart.set.abscissa Serie="{preset.serie3Name}" />

	<vhsroyal:gfx.chart.set.axisposition AxisID="0" Position="{preset.axisPosition}" />
	<vhsroyal:gfx.chart.set.axisname AxisID="0" Name="" />
	<vhsroyal:gfx.chart.set.axisunit AxisID="0" Unit="%" />
	<vhsroyal:gfx.chart.set.axisdisplay AxisID="0" Mode="{preset.axisDisplayType}" Format="{preset.axisDisplayFunc}" />

	<!-- Attach data to chart -->
	<vhsroyal:gfx.chart.set.dataset />

	<!-- rectangle -->
	<vhsroyal:gfx.chart.draw.filledrectangle X1="0" Y1="0" X2="{preset.imageWidth}" Y2="{preset.imageHeight}" Format="{preset.rectFormat}" />

	<!-- Gradient -->
	<vhsroyal:gfx.chart.draw.gradientarea X1="0" Y1="0" X2="{preset.imageWidth}" Y2="{preset.imageHeight}" Direction="{preset.gradient1Direction}" Format="{preset.gradient1Format}" />
	<vhsroyal:gfx.chart.draw.gradientarea X1="0" Y1="0" X2="{preset.imageWidth}" Y2="{preset.imageHeight}" Direction="{preset.gradient2Direction}" Format="{preset.gradient2Format}" />

	<vhsroyal:gfx.chart.draw.gradientarea X1="{preset.gradientarea3X1}" Y1="{preset.gradientarea3Y1}" X2="{preset.gradientarea3X2}" Y2="{preset.gradientarea3Y2}" Direction="{preset.gradient1Direction}" Format="{preset.gradient3Format}" />
	<vhsroyal:gfx.chart.draw.gradientarea X1="{preset.gradientarea4X1}" Y1="{preset.gradientarea4Y1}" X2="{preset.gradientarea4X2}" Y2="{preset.gradientarea4Y2}" Direction="{preset.gradient1Direction}" Format="{preset.gradient4Format}" />
	<vhsroyal:gfx.chart.draw.gradientarea X1="{preset.gradientarea5X1}" Y1="{preset.gradientarea5Y1}" X2="{preset.gradientarea5X2}" Y2="{preset.gradientarea5Y2}" Direction="{preset.gradient1Direction}" Format="{preset.gradient5Format}" />

	<!-- shadow -->
	<vhsroyal:gfx.chart.set.shadow Enabled="{preset.shadowEnabled}" Format="{preset.shadowFormat}" />

	<!-- Draw chart -->
	<vhsroyal:gfx.chart.set.grapharea X1="{preset.graphareaX1}" Y1="{preset.graphareaY1}" X2="{preset.graphareaX2}" Y2="{preset.graphareaY2}" />

	<!-- font -->
	<vhsroyal:gfx.chart.set.fontproperties Format="{preset.mainFontFormat}" />

	<!-- chart bar colors -->
	<vhsroyal:gfx.chart.set.palette Series="{preset.serie1Name}" Format="{preset.serie1Palette}" />
	<vhsroyal:gfx.chart.set.palette Series="{preset.serie2Name}" Format="{preset.serie2Palette}" />

	<!-- Scale -->
	<vhsroyal:gfx.chart.draw.scale Format="{preset.scaleFormat}" />
	<!-- Chart -->
	<vhsroyal:gfx.chart.draw.barchart Format="{preset.chartFormat}" />
	
	<!--Thresholds -->
	<vhsroyal:gfx.chart.draw.threshold Value="{preset.threshold1}" Format="{preset.threshold1Format}" />
	<vhsroyal:gfx.chart.draw.threshold Value="{preset.threshold2}" Format="{preset.threshold2Format}" />
	<vhsroyal:gfx.chart.draw.threshold Value="{preset.threshold3}" Format="{preset.threshold3Format}" />
	<!-- Text for Thresholds -->
	<vhsroyal:gfx.chart.draw.text X="{preset.threshold1X}" Y="{preset.threshold1Y}" Text="{preset.threshold1Format.Caption}" Format="{preset.legendFormat}" />
	<vhsroyal:gfx.chart.draw.text X="{preset.threshold2X}" Y="{preset.threshold2Y}" Text="{preset.threshold2Format.Caption}" Format="{preset.legendFormat}" />
	<vhsroyal:gfx.chart.draw.text X="{preset.threshold3X}" Y="{preset.threshold3Y}" Text="{preset.threshold3Format.Caption}" Format="{preset.legendFormat}" />
	
	<!--Legend -->
	<vhsroyal:gfx.chart.draw.legend X="{preset.legendX}" Y="{preset.legendY}" Format="{preset.legendFormat}" />

</vhsroyal:gfx.chart>
