<div class="modal fade invite-by-coupon-modal" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">PDF-Logins erstellen</h4>
            </div>
            <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Einladungstext:</h4>
                            <ul class="nav nav-pills">
                                <li ng-repeat="language in controller.data.languages" ng-class="{active: controller.currentInvitationTextLanguageUid === language.uid}">
                                    <a href="#" ng-click="controller.currentInvitationTextLanguageUid = language.uid">
                                        {{language.isoCode}}
                                    </a>
                                </li>
                            </ul>
                            <div class="well" ng-repeat="language in controller.data.languages" ng-if="language.uid === controller.currentInvitationTextLanguageUid">
                                <div ng-if="!controller.currentTeam.hasText('Tx_XlncTools_InvitationText').inLanguage(language)">
                                    <p class="alert alert-info">
                                        Noch ist kein Text zu dieser Sprache angelegt.
                                    </p>
                                    <a

                                        ng-click="controller.currentTeam.requestText('Tx_XlncTools_InvitationText').inLanguage(language)"
                                        class="btn btn-primary">
                                        Text erstellen
                                    </a>
                                </div>
                                <div ng-if="controller.currentTeam.hasText('Tx_XlncTools_InvitationText').inLanguage(language)">
                                    <span
                                        ng-bind-html="controller.sanitizer.trustAsHtml(controller.currentTeam.getText('Tx_XlncTools_InvitationText').inLanguage(language).content)"
                                    ></span>
                                </div>

                            </div>
                            <hr />
                            <p class="alert alert-info">
                                Aktuell gibt es bereits
                                <strong>{{controller.currentTeam.getInvitationsByType().Coupon.Sheet.length}}</strong> PDF-Logins.
                                Bitte geben Sie die Anzahl der <em>zusätzlich</em> benötigten PDF-Logins ein.
                            </p>
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-xs-12 control-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-plus"></i> Anzahl neuer PDF-Logins</div>
                                            <input class="form-control" ng-model="controller.newCouponCount"  />
                                            <label  class="btn input-group-addon"
                                                ng-repeat="language in controller.data.languages"
                                                ng-class="{'btn-primary': controller.currentInvitationTextLanguageUid === language.uid, 'btn-default': controller.currentInvitationTextLanguageUid !== language.uid}">
                                                <span ng-bind-html="language.flagIcon"></span>
                                                <input type="radio" ng-model="controller.currentInvitationTextLanguageUid" ng-value="{{language.uid}}" class="hide" />
                                            </label>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-primary" ng-class="{disabled: 0 == controller.newCouponCount}" data-dismiss="modal" ng-click="controller.createCouponInvitations()">PDF-Logins erstellen</button>
            </div>
        </div>

    </div>

</div>
