<div class="modal fade invite-leader-by-email-modal" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Führungskraft einladen</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Einladungstext:</h4>
                        <ul class="nav nav-pills">
                            <li ng-repeat="language in controller.data.languages" ng-class="{active: controller.currentInvitationTextLanguageUid === language.uid}">
                                <a href="#" ng-click="controller.currentInvitationTextLanguageUid = language.uid">
                                    {{language.isoCode}}
                                </a>
                            </li>
                        </ul>
                        <div class="well" ng-repeat="language in controller.data.languages" ng-if="language.uid === controller.currentInvitationTextLanguageUid">
                            <div ng-if="!controller.leaderMailInvitation.team.hasText('Tx_XlncTools_LeaderInvitationText').inLanguage(language)">
                                <p class="alert alert-info">
                                    Noch ist kein Text zu dieser Sprache angelegt.
                                </p>
                                <a

                                    ng-click="controller.leaderMailInvitation.team.requestText('Tx_XlncTools_LeaderInvitationText').inLanguage(language)"
                                    class="btn btn-primary">
                                    Text erstellen
                                </a>
                            </div>
                            <div ng-if="controller.leaderMailInvitation.team.hasText('Tx_XlncTools_LeaderInvitationText').inLanguage(language)">
                                <span
                                    ng-bind-html="controller.sanitizer.trustAsHtml(controller.leaderMailInvitation.team.getText('Tx_XlncTools_LeaderInvitationText').inLanguage(language).content)"
                                ></span>
                            </div>

                        </div>
                        <hr />
                        <p class="alert alert-info">
                            Die Einladung wird an folgende Adresse verschickt:
                        </p>
                    </div>
                    <div class="col-sm-12 control-group">
                        <label for="invite-leader-by-email">Führungskraft "{{controller.leaderMailInvitation.team.leaderFullName()}}" für das Team "{{controller.leaderMailInvitation.team.title}}" einladen</label>:
                        <div class="input-group">
                            <input id="invite-leader-by-email" class="form-control" disabled ng-model="controller.leaderMailInvitation.address" />
                            <label  class="btn input-group-addon"
                                ng-repeat="language in controller.data.languages"
                                ng-class="{'btn-primary': controller.leaderMailInvitation.language === language.uid, 'btn-default': controller.leaderMailInvitation.language !== language.uid}">
                                <span ng-bind-html="language.flagIcon"></span>
                                <input type="radio" ng-model="controller.leaderMailInvitation.language" ng-value="{{language.uid}}" class="hide" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="controller.createLeaderMailInvitation()">Einladung verschicken</button>
            </div>
        </div>
    </div>
</div>
