<div class="modal invite-by-email-modal" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Mail-Einladungen verschicken</h4>
            </div>
            <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Einladungstext:</h4>
                            <ul class="nav nav-pills">
                                <li ng-repeat="language in controller.data.languages" ng-class="{active: controller.currentInvitationTextLanguageUid === language.uid}">
                                    <a href="#" ng-click="controller.currentInvitationTextLanguageUid = language.uid">
                                        {{language.isoCode}}
                                    </a>
                                </li>
                            </ul>
                            <div class="well" ng-repeat="language in controller.data.languages" ng-if="language.uid === controller.currentInvitationTextLanguageUid">
                                <div ng-if="!controller.mailInvitations[0].team.hasText('Tx_XlncTools_InvitationText').inLanguage(language)">
                                    <p class="alert alert-info">
                                        Noch ist kein Text zu dieser Sprache angelegt.
                                    </p>
                                    <a

                                        ng-click="controller.mailInvitations[0].team.requestText('Tx_XlncTools_InvitationText').inLanguage(language)"
                                        class="btn btn-primary">
                                        Text erstellen
                                    </a>
                                </div>
                                <div ng-if="controller.mailInvitations[0].team.hasText('Tx_XlncTools_InvitationText').inLanguage(language)">
                                    <span
                                        ng-bind-html="controller.sanitizer.trustAsHtml(controller.mailInvitations[0].team.getText('Tx_XlncTools_InvitationText').inLanguage(language).content)"
                                    ></span>
                                </div>

                            </div>
                            <hr />
                            <p class="alert alert-info">
                                Bitte geben Sie die E-Mail-Adressen der Team-Mitglieder ein,
                                die Sie einladen möchten.
                            </p>
                            <form class="form-horizontal">
                                <div class="form-group" ng-repeat="invitation in controller.mailInvitations">
                                    <div class="col-xs-12 control-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-at"></i></div>
                                            <input class="form-control" ng-model="invitation.address" placeholder="E-Mail-Adresse" />
                                            <a class="btn btn-default input-group-addon" ng-if="$index === 0" ng-click="controller.depastify(invitation)">
                                                <i class="fa fa-clipboard"></i>
                                            </a>
                                            <a class="btn btn-default input-group-addon" ng-if="$index === controller.mailInvitations.length-1" ng-click="controller.pushMailInvitation()">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                            <label  class="btn input-group-addon"
                                                ng-repeat="language in controller.data.languages"
                                                ng-class="{'btn-primary': invitation.language === language.uid, 'btn-default': invitation.language !== language.uid}">
                                                <span ng-bind-html="language.flagIcon"></span>
                                                <input type="radio" ng-model="invitation.language" ng-value="{{language.uid}}" class="hide" />
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="controller.sendMailInvitations()">Einladungen verschicken</button>
            </div>
        </div>

    </div>

</div>

<style>
    .input-group-addon.btn-primary {
        color: #ffffff;
        background-color: #0078e6;
        border-color: #006bcd;
    }
</style>
