<div class="modal fade team-reminder-modal" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Erinnerung an Team "{{controller.currentTeam.title}}" schicken</h4>
            </div>
            <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Erinnerungstext:</h4>
                            <ul class="nav nav-pills">
                                <li ng-repeat="language in controller.data.languages" ng-class="{active: controller.currentInvitationTextLanguageUid === language.uid}">
                                    <a href="#" ng-click="controller.currentInvitationTextLanguageUid = language.uid">
                                        {{language.isoCode}}
                                    </a>
                                </li>
                            </ul>
                            <div class="well" ng-repeat="language in controller.data.languages" ng-if="language.uid === controller.currentInvitationTextLanguageUid">
                                <div ng-if="!controller.currentTeam.hasText('Tx_XlncTools_ReminderText').inLanguage(language)">
                                    <p class="alert alert-info">
                                        Noch ist kein Text zu dieser Sprache angelegt.
                                    </p>
                                    <a
                                        ng-click="controller.currentTeam.requestText('Tx_XlncTools_ReminderText').inLanguage(language)"
                                        class="btn btn-primary">
                                        Text erstellen
                                    </a>
                                </div>
                                <div ng-if="controller.currentTeam.hasText('Tx_XlncTools_ReminderText').inLanguage(language)">
                                    <span
                                        ng-bind-html="controller.sanitizer.trustAsHtml(controller.currentTeam.getText('Tx_XlncTools_ReminderText').inLanguage(language).content)"
                                    ></span>
                                </div>

                            </div>
                            <hr />
                        </div>
                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"data-dismiss="modal">Schließen</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="controller.sendReminder()">Erinnerung verschicken</button>
            </div>
        </div>

    </div>

</div>
