<tr ng-repeat="team in project.teams" ng-class="{firstcol: 0 === $index, lastcol: 1 === $index}">

    <td nowrap="nowrap" class="col-icon">

        <span>
            <span class="icon icon-size-small icon-state-default">
                <span class="icon-markup">
                    <span class="icon-unify">
                        <i class="fa fa-users"></i>
                    </span>
                </span>
            </span>
        </span>

    </td>

    <td nowrap="nowrap" class="">
        <a  class="btn btn-warning"
            ng-if="team.isFinished"
            ng-click="controller.unlockTeam(team)"
            tooltip
            data-tooltip-position="right"
            title="Befragung geschlossen">
            <span class="icon icon-size-small icon-state-default icon-actions-edit-hide">
                <span class="">
                    <span class=""><i class="fa fa-lock" ></i></span>
                </span>
            </span>
        </a>

        <a  class="btn"
            ng-class="{'btn-warning': team.isArchived, 'btn-default': !team.isArchived}"
            ng-if="team.isFinished"
            ng-click="controller.archiveTeam(team)"
            tooltip
            data-tooltip-position="top"
            title="archivieren">
            <span class="icon icon-size-small icon-state-default icon-actions-edit-hide">
                <span class="">
                    <span class=""><i class="fa fa-archive" ></i></span>
                </span>
            </span>
        </a>

        <a  class="btn btn-success"
            ng-if="!team.isFinished"
            ng-click="controller.lockTeam(team)"
            tooltip
            data-tooltip-position="right"
            title="Befragung schließen">
            <span class="icon icon-size-small icon-state-default icon-actions-edit-hide">
                <span class="">
                    <span class=""><i class="fa fa-unlock" ></i></span>
                </span>
            </span>
        </a>
        {{team.title}} <small>[{{team.uid}}]</small>
        <div class="btn-group" role="group">
            <span class="btn disabled" ng-if="team.hasAutomaticEnd" style="cursor: default;">
                ended automatisch am {{team.automaticEndAt | date : 'dd.mm.yy, HH:MM'}}
            </span>

        </div>

    </td>
    <td nowrap="nowrap" ng-repeat="tool in customer.tools" class="col-control">
        <div class="btn-group" role="group"  style="margin-right: 4px;" ng-if="team.hasTool(tool)">

            <span class="btn btn-disabled">
                {{team.getTool(tool).leaderSheetFinished ? 1 : 0}} + {{team.getTool(tool).finishedSheetCount - (team.getTool(tool).leaderSheetFinished ? 1 : 0)}}
                <span class="icon icon-size-small icon-state-default icon-actions-edit-hide">
                    <span class="">
                        <span class=""><i class="fa fa-flag-checkered" ></i></span>
                    </span>
                </span>
            </span>
            <a  class="btn btn-default dropdown-toggle"
                data-toggle="dropdown"
                tooltip
                title="Report herunterladen"
                data-container="body">
                <span class="icon icon-size-small icon-state-default icon-actions-edit-hide">
                    <span class="">
                        <span class=""><i class="fa fa-download" ></i></span>
                    </span>
                </span>
            </a>
            <div class="dropdown-menu" style="top: -2em; padding: 0; right: 0; min-width: 0; left: auto;">
                <div class="btn-group">
                    <a
                        class="btn btn-default"
                        ng-click="controller.downloadReport(team, tool, language)"
                        ng-repeat="language in controller.data.languages" href="#">
                        <span ng-bind-html="language.flagIcon"></span>
                    </a>
                    <a
                        class="btn btn-default"
                        ng-if="tool.type === 'Xlnc\\XlncTools\\Domain\\Model\\LeadershipTool' || tool.type === 'Xlnc\\XlncTools\\Domain\\Model\\ClimateTool'"
                        ng-click="controller.downloadReport(team, tool, language, 'single')"
                        ng-repeat="language in controller.data.languages" href="#">
                        <span ng-bind-html="language.flagIcon"></span> SE
                    </a>
                </div>
            </div>



            <a  class="btn disabled"
                ng-class="{'btn-warning': team.getTool(tool).hasEnoughFinishedSheets, 'btn-danger': !team.getTool(tool).hasEnoughFinishedSheets}"
                ng-click="controller.sendReport(team, tool)"
                disabled
                tooltip
                title="Report versenden"
                >
                <span class="icon icon-size-small icon-state-default icon-actions-edit-hide">
                    <span class="">
                        <span class=""><i class="fa fa-mail-forward" ></i></span>
                    </span>
                </span>
            </a>
        </div>
    </td>
    <td nowrap="nowrap" class="col-clipboard">

        <a  class="btn btn-default"
            ng-click="controller.initializeTeamReminderModal(team)"
            data-title="Reminder verschicken"
            tooltip
            data-toggle="modal"
            data-target=".team-reminder-modal">
            <span class="icon icon-size-small icon-state-default icon-actions-edit-hide">
                <span class="">
                    <span class=""><i class="fa fa-exclamation" ></i></span>
                </span>
            </span>
        </a>

        <div class="btn-group" role="group">
            <a  class="btn"
                ng-class="{
                'btn-danger': !team.hasEnoughParticipants,
                'btn-success': team.hasEnoughParticipants}"
                data-toggle="modal"
                data-target=".team-info-modal"
                data-title="Anzahl der Einladungen - für Details klicken"
                tooltip
                ng-click="controller.initializeTeamInfoModal(team)" >
                {{team.getSheetsByType().Leader.length}} + {{team.getSheetsByType().Sheet.length}}
            </a>
        </div>

        <div class="btn-group" role="group">
            <span class="btn btn-default disabled" style="cursor: default;">
                <i class="fa fa-users"></i>
            </span>
            <a  class="btn btn-default"
                data-toggle="modal"
                data-target=".invite-by-email-modal"
                data-title="E-Mail-Einladungen erstellen"
                tooltip
                ng-click="controller.initializeInviteByEmailModal(team)"
                style="width: 60px; text-align: right;">
                {{team.getInvitationsByType().Mail.Sheet.length}}
                <span class="icon icon-size-small icon-state-default icon-actions-edit-hide">
                    <span class="">
                        <span class=""><i class="fa fa-envelope-o" ></i></span>
                    </span>

                </span>
            </a>
            <a  class="btn btn-default"
                data-toggle="modal"
                data-target=".invite-by-coupon-modal"
                data-title="PDF-Logins erstellen"
                tooltip
                ng-click="controller.initializeInviteByCouponModal(team)"
                style="width: 60px; text-align: right;">
                {{team.getInvitationsByType().Coupon.Sheet.length}}
                <span class="icon icon-size-small icon-state-default icon-actions-edit-hide">
                    <span class="">
                        <span class=""><i class="fa fa-file-o" ></i></span>
                    </span>

                </span>
            </a>
        </div>

        <div class="btn-group" role="group">
            <span class="btn btn-default disabled" style="cursor: default;">
                <i class="fa fa-user"></i>
            </span>
            <a class="btn"
                data-toggle="modal"
                data-target=".invite-leader-by-email-modal"
                data-title="E-Mail-Einladung für die Führungskraft erstellen"
                tooltip
                ng-click="controller.initializeInviteLeaderByEmailModal(team)"
                ng-class="{
                    'btn-success': team.hasLeaderMailInvitation(),
                    'btn-default': !team.hasLeaderMailInvitation()}"
                >

                <span class="icon icon-size-small icon-state-default icon-actions-edit-hide">
                    <span class="">
                        <span class=""><i class="fa fa-envelope" ></i></span>
                    </span>
                </span>
            </a>
            <a class="btn dropdown-toggle"
                data-title="PDF-Login für die Führungskraft erstellen"
                tooltip
                data-toggle="dropdown"
                ng-class="{
                'btn-success': team.hasLeaderCouponInvitation(),
                'btn-default': !team.hasLeaderCouponInvitation()}">
                <span class="icon icon-size-small icon-state-default icon-actions-edit-hide">
                    <span class="">
                        <span class=""><i class="fa fa-file" ></i></span>
                    </span>
                </span>
            </a>
            <div class="dropdown-menu" style="top: -2em; padding: 0; right: 0; min-width: 0; left: auto;">
                <div class="btn-group">
                    <a
                        class="btn btn-default"
                        ng-click="controller.inviteLeaderByCoupon(team, language)"
                        ng-repeat="language in controller.data.languages" href="#">
                        <span ng-bind-html="language.flagIcon"></span>
                    </a>
                </div>
            </div>


        </div>

        <div class="btn-group" role="group">
            <a
                href="{{team.actions.edit}}&returnUrl={{controller.appHref}}"
                class="btn btn-default"
                data-title="Team '{{team.title}}' bearbeiten"
                tooltip
                >
                <span class="icon icon-size-small icon-state-default icon-actions-document-open">
                    <span class="icon-markup">
                        <span class="icon-unify"><i class="fa fa-pencil"></i></span>
                    </span>

                </span>
            </a>
        </div>
    </td>
</tr>
