<div class="modal fade team-info-modal" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Team "{{controller.currentTeam.title}}"</h4>
            </div>
            <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-xs-4">
                                    <h3><i class="fa fa-street-view"></i> Führungskraft</h3>
                                    <h6> <i class="fa fa-envelope"></i>
                                        E-Mail-Adresse
                                        <span ng-if="!controller.currentTeam.leaderEmail">(keine Adresse angegeben)</span>
                                        <span ng-if="controller.currentTeam.leaderEmail">({{controller.currentTeam.leaderEmail}})</span>
                                    </h6>
                                    <em ng-if="!controller.currentTeam.getInvitationsByType().Mail.Leader[0]">keine Einladung per E-Mail verschickt</em>
                                    <span ng-if="controller.currentTeam.getInvitationsByType().Mail.Leader[0]">eingeladen über {{controller.currentTeam.getInvitationsByType().Mail.Leader[0].address}}</span>
                                    <h6> <i class="fa fa-file"></i> Coupon</h6>
                                    <a  class="btn btn-default btn-sm"
                                        ng-if="controller.currentTeam.getInvitationsByType().Coupon.Leader[0]"
                                        ng-href="/api/invitations/{{controller.currentTeam.getInvitationsByType().Coupon.Leader[0].uid}}/download"
                                        download="{{controller.currentTeam.getInvitationsByType().Coupon.Leader[0].address}}.pdf"
                                        >
                                        {{controller.currentTeam.getInvitationsByType().Coupon.Leader[0].address}}
                                        <i class="fa fa-download"></i>
                                    </a>
                                    <em ng-if="!controller.currentTeam.getInvitationsByType().Coupon.Leader[0]">kein Coupon erstellt</em>

                                </div>
                                <div class="col-xs-8">
                                    <h3> <i class="fa fa-user"></i> Teammitglieder</h3>
                                    <h6> <i class="fa fa-envelope-o"></i> E-Mail-Adressen</h6>
                                    <span
                                        ng-if="controller.currentTeam.getInvitationsByType().Mail.Sheet.length"
                                        ng-repeat="invitation in controller.currentTeam.getInvitationsByType().Mail.Sheet">
                                        {{invitation.address}}<span ng-if="$index !== controller.currentTeam.getInvitationsByType().Mail.Sheet.length -1">; </span>
                                    </span>
                                    <em ng-if="!controller.currentTeam.getInvitationsByType().Mail.Sheet.length">
                                        keine Einladungen per E-Mail versandt
                                    </em>
                                    <h6> <i class="fa fa-file-o"></i> Coupons</h6>
                                    <span ng-repeat="invitation in controller.currentTeam.getInvitationsByType().Coupon.Sheet">
                                        <a  class="btn btn-default btn-sm"
                                            ng-href="/api/invitations/{{invitation.uid}}/download"
                                            download="{{invitation.address}}.pdf">
                                            {{invitation.address}} <i class="fa fa-download"></i>
                                        </a>
                                    </span>
                                    <div>
                                        <br>
                                        <a  class="btn btn-primary"
                                            ng-href="/api/teams/{{controller.currentTeam.uid}}/coupons"
                                            download="team-{{controller.currentTeam.uid}}-coupons.zip">
                                            <i class="fa fa-file-zip-o"></i> alle Coupons herunterladen
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>





                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"data-dismiss="modal">Schließen</button>
            </div>
        </div>

    </div>

</div>
