{namespace vhsroyal=Fhkonzept\VhsRoyal\ViewHelpers}
<vhsroyal:pdf.tcpdf configuration="{format:'A4',orientation:'landscape',dest:'F',destname:'{filename}.pdf'}">

    <vhsroyal:pdf.tcpdf.setter.autopagebreak auto="0" margin="0"></vhsroyal:pdf.tcpdf.setter.autopagebreak>

    <vhsroyal:pdf.tcpdf.element.page orientation="portrait">

    	<vhsroyal:pdf.tcpdf.setter.colorarray type="draw" color="{0:131,1:208,2:245}"></vhsroyal:pdf.tcpdf.setter.colorarray>
    	<vhsroyal:pdf.tcpdf.setter.colorarray type="text" color="{0:24,1:24,2:24}"></vhsroyal:pdf.tcpdf.setter.colorarray>

    	<vhsroyal:pdf.tcpdf.setter.x x="0"></vhsroyal:pdf.tcpdf.setter.x>
        <vhsroyal:pdf.tcpdf.setter.y y="0"></vhsroyal:pdf.tcpdf.setter.y>

        <vhsroyal:pdf.tcpdf.setter.font family="sourcesansprolight" style="" size="10"></vhsroyal:pdf.tcpdf.setter.font>

    	<!-- Tool -->
    	<vhsroyal:pdf.tcpdf.element.image x="0" y="0" w="210" type="PNG" dpi="150" palign="C">
    		typo3conf/ext/xlnc_tools/Resources/Public/Images/ReportBackgrounds/CombinedReport.Cover.png
    	</vhsroyal:pdf.tcpdf.element.image>
    	<vhsroyal:pdf.tcpdf.element.image x="0" y="52" w="60" type="PNG" dpi="150" palign="C">
    		typo3conf/ext/xlnc_tools/Resources/Public/Images/RZ_XLNC_Logo_RGB.png
    	</vhsroyal:pdf.tcpdf.element.image>
        <vhsroyal:pdf.tcpdf.element.image x="0" y="189" w="40" type="PNG" dpi="300" palign="C">
            <vhsroyal:gfx.qr z="4" dest="A" filename="{filename}">{authenticationUri}</vhsroyal:gfx.qr>
        </vhsroyal:pdf.tcpdf.element.image>

    	<vhsroyal:pdf.tcpdf.setter.y y="54"></vhsroyal:pdf.tcpdf.setter.y>

    	<vhsroyal:pdf.tcpdf.element.html align="L">
            <table>
                <tr>
                    <td width="10%">

                    </td>
                    <td width="80%">
                        <p><f:translate key="tx_xlnctools_domain_model_invitation.salutation.{invitation.salutationKey}" arguments="{0: '{f:translate(key: \'tx_xlnctools_domain_model_invitation.salutation.{invitation.team.gender.title}\', extensionName: \'xlnc_tools\')}', 1: invitation.team.firstName, 2: invitation.team.lastName}" extensionName="xlnc_tools" /></p>
                        {text.bodytext -> f:format.html()}
                        <p><f:translate key="tx_xlnctools_domain_model_invitation.please_login" extensionName="xlnc_tools" /> <b>{accessKey}</b></p>
                        <p><f:translate key="tx_xlnctools_domain_model_invitation.contact" extensionName="xlnc_tools" /></p>
                        <f:if condition="{0: invitation.sheetType} != {0: 'Xlnc\XlncTools\Domain\Model\LeaderSheet'}">
                            <p><f:translate key="tx_xlnctools_domain_model_invitation.thanks_for_participation" extensionName="xlnc_tools" /></p>
                        </f:if>
                        <p><br ><f:translate key="tx_xlnctools_domain_model_invitation.greetings" extensionName="xlnc_tools" />
                        </p>
                        <p><f:translate key="tx_xlnctools_domain_model_invitation.your_team" extensionName="xlnc_tools" /></p>
                    </td>
                    <td width="10%">

                    </td>
                </tr>
            </table>

    	</vhsroyal:pdf.tcpdf.element.html>



    </vhsroyal:pdf.tcpdf.element.page>

    <vhsroyal:pdf.tcpdf.setter.footerHtml>
    	<br><br><br><br>
    	<table cellspancing=0 cellpadding=0 class="footer">
    		<tr>
    			<td></td>
    			<td>www.xlnc-leadership.com</td>
    		</tr>
    	</tabel>
    </vhsroyal:pdf.tcpdf.setter.footerHtml>


</vhsroyal:pdf.tcpdf>
