{namespace xlnc=Xlnc\XlncTools\ViewHelpers}
<f:layout name="default" />

<f:section name="template">

	<f:render partial="Fluid/FlashMessages" />
	<f:if condition="{messageId}">
		<p class="alert alert-warning text-center">
			<f:translate key="authentication.message.{messageId}" />
		</p>
	</f:if>
	<f:form action="authenticate" method="post" id="xlnc-Tools-auth-form">
		<div class="form-group">
			<f:form.textfield name="code" class="form-control" placeholder="{f:translate(key: 'authform.placeholder')}" />
		</div>
		<xlnc:languageSelector />
		<hr />
		<div class="form-group text-center">
			<a href="" onclick="jQuery('#xlnc-Tools-auth-form').submit();return false;" class="xlnc-Tools-auth-form-submit"><div class="xlnc-Tools-auth-form-submit-arrow"></div><f:translate key="authform.login" /></a>
		</div>
	</f:form>

</f:section>
