{namespace xlnc=Xlnc\XlncTools\ViewHelpers}
<f:layout name="default" />

<f:section name="template">

    <div class="row xlnc-Tools-intro content-area">
        <f:translate key="static.altIntro.{sheet.txExtbaseType}" /> 
    </div>
    
    <div class="form-group text-right">
  		<f:link.action action="dashboard" controller="Tool" pageUid="{toolPageId}" class="btn btn-primary">
            <f:translate key="static.survey.next" />
        </f:link.action>
  	</div>
    <style>
        b {
            font-family: "Trade Gothic W01 bold","Helvetica","Verdana","sans-serif" !important;
        }
        .xlnc-Tools-intro {
            font-size: 16px;
        }
    </style>
</f:section>
