<div class="arrow-link">
    <f:link.typolink parameter="{data.header_link}">
        <img class="arrow" src="{f:uri.resource(path: 'Images/Gfx/XLNC_Button_Pfeil_Unten.png', extensionName: 'xlnc_de')}" /><br>{data.header}
    </f:link.typolink>
</div>
