<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="">
    <f:for each="{files}" as="image" iteration="iteration">
        <f:image src="{image.uid}" title="{image.title}" alt="{image.alternative}" class="caption-media" treatIdAsReference="1" />
    </f:for>
</div>
