<f:be.container
	includeJsFiles="{
		0: '{f:uri.resource(path:\'Libraries/angular-1.4.8/angular.min.js\')}',
		1: '{f:uri.resource(path:\'Libraries/angular-1.4.8/angular-resource.min.js\')}',
		2: '{f:uri.resource(path:\'Libraries/angular-1.4.8/angular-sanitize.min.js\')}',
		3: '{f:uri.resource(path:\'Javascript/Apps/Archive.min.js\')}'
	}"
	includeRequireJsModules="{0: 'TYPO3/CMS/Backend/Notification', 1: 'nprogress'}"
	loadExtJs="TRUE"
	loadJQuery="TRUE">
	<div class="module" ng-app="Xlnc.ArchiveApp" ng-controller="Archive as controller" ng-init="controller.init()">
		<div class="module-loading-indicator"></div>
		<div class="module-docheader t3js-module-docheader">
			<div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation">
				<div class="module-docheader-bar-column-left">

				</div>
				<div class="module-docheader-bar-column-right">

				</div>
			</div>

			<div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons">
				<div class="module-docheader-bar-column-left">
					<a href="#" ng-click="controller.view.showSearch = !controller.view.showSearch" class="btn btn-default btn-sm t3js-toggle-search-toolbox" tooltip data-tooltip-position="right" title="Filtern">
						<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-search" data-identifier="actions-search">
							<span class="icon-markup">
								<img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-search.svg" width="16" height="16">
							</span>
						</span>
					</a>

					<a href="#" ng-click="controller.resetFilter(); controller.view.showSearch = false;" class="btn btn-default btn-sm t3js-toggle-search-toolbox" tooltip data-tooltip-position="right" title="Filter zurücksetzen">
						<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-search" data-identifier="actions-search">
							<span class="icon-markup">
								<i class="fa fa-minus-circle"></i>
							</span>
						</span>
					</a>

					<a href="#" ng-if="(filteredTeams || []) | count" ng-click="controller.selectTeams(filteredTeams)" class="btn btn-default btn-sm " tooltip data-tooltip-position="right" title="Alle angezeigten Teams auswählen">
						<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-search" data-identifier="actions-search">
							<span class="icon-markup">
								<i class="fa fa-check-circle"></i>
							</span>
						</span>
					</a>
				</div>

				<div class="module-docheader-bar-column-right">
					<a href="#" ng-if="controller.selectedTeams.length"
								ng-repeat="tool in controller.selectedTeams | tools"
								ng-click="controller.downloadExport(tool)"
								class="btn btn-default btn-sm t3js-toggle-search-toolbox"
								tooltip
								data-tooltip-position="left"
								title="Datenexport für {{tool.title}} erstellen">
						<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-search" data-identifier="actions-search">
							<span class="icon-markup">
								<i class="fa fa-file-excel-o"></i>
							</span>
						</span>
					</a>
                                     <a href="#" ng-if="controller.selectedTeams.length" ng-repeat="language in controller.data.languages"
                                           ng-click="controller.downloadReport(language)" class="btn btn-default btn-sm t3js-toggle-search-toolbox" tooltip data-tooltip-position="left" title="Gesamtreport erstellen">
						<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-search" data-identifier="actions-search">
							<span class="icon-markup">
								<span ng-bind-html="language.flagIcon"></span> <i class="fa fa-download"></i>
							</span>
						</span>
					    </a>
                                        <f:comment>
                                            <!-- removed in favor of language selector below -->
					    <a href="#" ng-if="controller.selectedTeams.length"ng-click="controller.downloadReport()" class="btn btn-default btn-sm t3js-toggle-search-toolbox" tooltip data-tooltip-position="left" title="Gesamtreport erstellen">
						<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-search" data-identifier="actions-search">
							<span class="icon-markup">
								<span ng-bind-html="language.flagIcon"></span> <i class="fa fa-download"></i>
							</span>
						</span>
					    </a>
                                        </f:comment>
                                    <f:comment>
					<a href="#" 
                                           ng-if="controller.selectedTeams.length" 
                                           class="btn btn-default btn-sm t3js-toggle-search-toolbox" 
                                           tooltip 
                                           data-tooltip-position="left"
                                           title="Gesamtreport erstellen"
                                           data-container="body"
                                           data-toggle="dropdown">
						<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-search" data-identifier="actions-search">
							<span class="icon-markup">
								<i class="fa fa-download"></i>
							</span>
						</span>
					</a>
                                        <div class="dropdown-menu" style="top: -2em; padding: 0; right: 0; min-width: 0; left: auto;">
                                            <div class="btn-group">
                                                <a class="btn btn-default"
                                                    ng-click="controller.downloadReport(language)"
                                                    ng-repeat="language in controller.data.languages" href="#">
                                                    <span ng-bind-html="language.flagIcon"></span>
                                                </a>

                                            </div>
                                        </div>
                                        </f:comment>
				</div>
			</div>
			<f:render partial="Archive/SearchForm" arguments="{_all}"/>
		<div class="module-body t3js-module-body">

			<h1><f:render section="headline" /> <small>XLNC Tool Management</h1>
			<f:flashMessages />

			<f:render section="content" />
		</div>
	</div>

	<script type="text/javascript">
		(function ($, window) {
			$( function () {
				window.jQuery = $;
			});
		})(TYPO3.jQuery, window);
	</script>
</f:be.container>
