<f:be.container
	includeJsFiles="{
		0: '{f:uri.resource(path:\'Libraries/angular-1.4.8/angular.min.js\')}',
		1: '{f:uri.resource(path:\'Libraries/angular-1.4.8/angular-resource.min.js\')}',
		2: '{f:uri.resource(path:\'Libraries/angular-1.4.8/angular-sanitize.min.js\')}',
		3: '{f:uri.resource(path:\'Javascript/Apps/Backend.min.js\')}'
	}"
	includeRequireJsModules="{0: 'TYPO3/CMS/Backend/Notification', 1: 'nprogress'}"
	loadExtJs="FALSE">
	<div class="typo3-fullDoc" ng-app="Xlnc.BackendApp" ng-controller="Management as controller" ng-init="controller.init()">
		<div id="typo3-docbody" style="top: 0;">
			<div id="typo3-inner-docbody">
				<h1><f:render section="headline" /> <small>XLNC Tool Management</h1>

				<f:flashMessages />

				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>
