<div class="xlnc-Tools">
	
	<f:if condition="{sheet}">
		<div class="executiveName-container executiveName-container-withoutTool">
			<span class="executiveName">
				<f:translate key="static.title.executiveName"></f:translate> {sheet.team.firstName} {sheet.team.lastName}
			</span>
		</div>
	</f:if>
	
	<f:render section="template" />
</div>

<script>
	(function ($) {
		$(function () {
			$('.executiveName-container-withoutTool').appendTo($('#logo'));
		});
	})(jQuery);
</script>
