{namespace vhsroyal=Fhkonzept\VhsRoyal\ViewHelpers}
<vhsroyal:excel.phpexcel configuration="{dest:'{settings.dest}',destname:'test.xslx'}">

    <!-- Set inital document properties -->
    <vhsroyal:excel.phpexcel.setter.creator phpexcel="{phpexcel}">TYPO3</vhsroyal:excel.phpexcel.setter.creator>
    <vhsroyal:excel.phpexcel.setter.title phpexcel="{phpexcel}">PHPExcel via TYPO3 Fluid ViewHelper</vhsroyal:excel.phpexcel.setter.title>
    <vhsroyal:excel.phpexcel.setter.description phpexcel="{phpexcel}">Renders Excel document via PHPExcel and TYPO3 Fluid ViewHelper</vhsroyal:excel.phpexcel.setter.description>
    <vhsroyal:excel.phpexcel.setter.keywords phpexcel="{phpexcel}">PHPExcel, TYPO3, Fluid</vhsroyal:excel.phpexcel.setter.keywords>

    <!-- Create worksheet and content -->
    <vhsroyal:excel.phpexcel.element.sheet iSheetIndex="0" title="Sheet 1" phpexcel="{phpexcel}">

        <!-- Set current active working sheet -->
        <vhsroyal:excel.phpexcel.setter.activeSheetIndex index="0" phpexcel="{phpexcel}" />

        <!-- Set header row values -->
        <vhsroyal:excel.phpexcel.element.cellValue pCoordinate="A1" phpexcel="{phpexcel}">Name</vhsroyal:excel.phpexcel.element.cellValue>
        <vhsroyal:excel.phpexcel.element.cellValue pCoordinate="B1" phpexcel="{phpexcel}">Surname</vhsroyal:excel.phpexcel.element.cellValue>
        <vhsroyal:excel.phpexcel.element.cellValue pCoordinate="C1" phpexcel="{phpexcel}">E-Mail</vhsroyal:excel.phpexcel.element.cellValue>
        <vhsroyal:excel.phpexcel.element.cellValue pCoordinate="D1" phpexcel="{phpexcel}">Gender</vhsroyal:excel.phpexcel.element.cellValue>

        <!-- Set first row to bold style -->
        <vhsroyal:excel.phpexcel.setter.bold range="A1:D1" phpexcel="{phpexcel}" />
        <!-- Set first row ARGB-color to red -->
        <vhsroyal:excel.phpexcel.setter.color range="A1:D1" pARGB="FFFF0000" phpexcel="{phpexcel}" />
        <!-- Set first row styles from array (grey linear gradient fill) -->
        <vhsroyal:excel.phpexcel.setter.applyStylesFromArray range="A1:D1" pStyles="{fill:{type:'linear',rotation:'90',startcolor:{argb:'FFCCCCCC'},endcolor:{argb:'FFFFFFFF'}}}" phpexcel="{phpexcel}" />

        <!-- set url/mail hyperlink (must be set before setting data, see below) -->
        <vhsroyal:excel.phpexcel.setter.url cell="c3" url="mailto:martina@mustermann.de" phpexcel="{phpexcel}" />

        <!-- set text wrap -->
        <vhsroyal:excel.phpexcel.setter.wrapText range="A1:A4" wrap="1" phpexcel="{phpexcel}" />

        <!-- Set data rows from array -->
        <vhsroyal:excel.phpexcel.element.fromArray phpexcel="{phpexcel}"
        source="{0:{0:'Mustermann',1:'Max',2:'max@mustermann.de',3:'male'},1:{0:'Mustermann
geb. Niemand',1:'Martina',2:'martina@mustermann.de',3:'female'}}"
        startCell="A2" />

        <!-- Insert image -->
        <vhsroyal:excel.phpexcel.element.drawing coordinates="A4" height="40" path="typo3conf/ext/vhs_royal/Resources/Public/Images/logo.png" phpexcel="{phpexcel}" />

        <!-- Set column and row sizes -->
        <vhsroyal:excel.phpexcel.setter.columnAutosize column="A" autosize="1" phpexcel="{phpexcel}" />
        <vhsroyal:excel.phpexcel.setter.columnAutosize column="B" autosize="1" phpexcel="{phpexcel}" />
        <vhsroyal:excel.phpexcel.setter.columnAutosize column="C" autosize="1" phpexcel="{phpexcel}" />
        <vhsroyal:excel.phpexcel.setter.columnAutosize column="D" autosize="1" phpexcel="{phpexcel}" />
        <vhsroyal:excel.phpexcel.setter.rowHeight row="4" height="35" phpexcel="{phpexcel}" />

        <!-- Set filters -->
        <vhsroyal:excel.phpexcel.setter.autoFilter phpexcel="{phpexcel}" />

        <!-- Freeze first row.
        *                                    Examples:
        *                                        A2 will freeze the rows above cell A2 (i.e row 1)
        *                                        B1 will freeze the columns to the left of cell B1 (i.e column A)
        *                                        B2 will freeze the rows above and to the left of cell A2
        -->
        <vhsroyal:excel.phpexcel.setter.freezePane phpexcel="{phpexcel}" pCell="A2" />

    </vhsroyal:excel.phpexcel.element.sheet>

    <!-- Protect document by password -->
    <vhsroyal:excel.phpexcel.setter.security password="password" phpexcel="{phpexcel}" />

</vhsroyal:excel.phpexcel>