{namespace vhsroyal=Fhkonzept\VhsRoyal\ViewHelpers}
<!-- Start export Management Style report PDF -->
<vhsroyal:pdf.tcpdf configuration="{format:'A4',orientation:'landscape',dest:'F',destname:'team_{team.uid}.tool_{tool.uid}.pdf'}">

    <!-- Initial setters -->
    <vhsroyal:pdf.tcpdf.setter.pageunit unit="mm"></vhsroyal:pdf.tcpdf.setter.pageunit>
    <vhsroyal:pdf.tcpdf.setter.pageorientation orientation="portrait"></vhsroyal:pdf.tcpdf.setter.pageorientation>
    <vhsroyal:pdf.tcpdf.setter.rtl enable="0"></vhsroyal:pdf.tcpdf.setter.rtl>
    <vhsroyal:pdf.tcpdf.setter.margins left="20" top="20" right="20" keepmargins="1"></vhsroyal:pdf.tcpdf.setter.margins>
    <vhsroyal:pdf.tcpdf.setter.autopagebreak auto="1" margin="20"></vhsroyal:pdf.tcpdf.setter.autopagebreak>
    <vhsroyal:pdf.tcpdf.setter.title>XLNC_c - <f:translate key="reports.climate.chapter.cover.title.1" extensionName="xlnc_tools" /></vhsroyal:pdf.tcpdf.setter.title>
    <vhsroyal:pdf.tcpdf.setter.subject>XLNC_c - <f:translate key="reports.climate.chapter.cover.title.1" extensionName="xlnc_tools" /></vhsroyal:pdf.tcpdf.setter.subject>
    <vhsroyal:pdf.tcpdf.setter.author>XLNC</vhsroyal:pdf.tcpdf.setter.author>
    <vhsroyal:pdf.tcpdf.setter.keywords></vhsroyal:pdf.tcpdf.setter.keywords>
    <vhsroyal:pdf.tcpdf.setter.creator>XLNC</vhsroyal:pdf.tcpdf.setter.creator>
    <vhsroyal:pdf.tcpdf.setter.printheader enable="0"></vhsroyal:pdf.tcpdf.setter.printheader>

    <vhsroyal:pdf.tcpdf.setter.colorarray type="text" color="{0:24,1:24,2:24}"></vhsroyal:pdf.tcpdf.setter.colorarray>

    <vhsroyal:pdf.tcpdf.setter.font family="sourcesansprolight" style="" size="12"></vhsroyal:pdf.tcpdf.setter.font>
    <vhsroyal:pdf.tcpdf.setter.footerfont family="sourcesansprolight" style="" size="12"></vhsroyal:pdf.tcpdf.setter.footerfont>

    <!-- Pages with elements -->

    <!-- Cover page -->
    <f:render partial="Pages/Climate/Cover" arguments="{_all}" />
    <!-- TOC page -->
    <f:render partial="Pages/Climate/Toc" arguments="{_all}" />
    <!-- Content pages -->

    <!--{0:1, 1:2, 2:3, 3:4, 4:5, 5:6, 6:7, 7:8, 8:9, 9:10, 10:11, 11:12, 12:13}-->
    <f:for each="{0:1, 1:2, 2:3, 3:4, 4:5, 5:6, 6:7, 7:8, 8:9, 9:10, 10:11, 11:12, 12:13}" as="chapter">
        <f:render partial="Pages/Climate/Chapter_{chapter}" arguments="{_all}" />
    </f:for>

    <!-- Back page -->
    <f:render partial="Pages/Styles/Back" arguments="{_all}" />

    <vhsroyal:pdf.tcpdf.setter.font family="sourcesansprolight" style="" size="14"></vhsroyal:pdf.tcpdf.setter.font>

    <!-- TOC -->
    <vhsroyal:pdf.tcpdf.setter.margins left="20" top="40" right="20" keepmargins="1"></vhsroyal:pdf.tcpdf.setter.margins>
    <vhsroyal:pdf.tcpdf.setter.page pageNo="2"></vhsroyal:pdf.tcpdf.setter.page>
    <vhsroyal:pdf.tcpdf.setter.y y="62" mode="absolute"></vhsroyal:pdf.tcpdf.setter.y>
    <vhsroyal:pdf.tcpdf.setter.font family="sourcesansprolight" style="" size="11"></vhsroyal:pdf.tcpdf.setter.font>
    <vhsroyal:pdf.tcpdf.element.toc numbersfont="sourcesansprolight"></vhsroyal:pdf.tcpdf.element.toc>

</vhsroyal:pdf.tcpdf>
<!-- End export Management Style report PDF -->
