$white: #ffffff;
$greyBlue: #efefef;
$anthracite: #3c3c3c;
$grey: #7d7d7d;
$lighterGrey: #fafafa;
$middleGrey: #9d9d9d;
$backgroundGray: #eaedf2;
$deepBlue: #494B61;
$lilacDark: #767a9f;
$lilacLight: #d5dbe6;

$xlncBlue: #83d0f5;
$xlncBluePastel1: #a1daf8;
$xlncBluePastel2: #bce4fa;
$xlncBluePastel3: #d4edfc;
$xlncBluePastel4: #eaf6fe;

$xlncOrange: #f59e36;
$xlncOrangePastel1: #fbbe62;
$xlncOrangePastel2: #fdd48c;
$xlncOrangePastel3: #ffe4b3;
$xlncOrangePastel4: #fff1d7;

$xlncGreen: #86bd40;
$xlncGreenPastel1: #a1c854;
$xlncGreenPastel2: #cfe09b;
$xlncGreenPastel3: #e9efc6;
$xlncGreenPastel4: #f1f5db;

$xlncTurquoise: #78c7c9;
$xlncTurquoisePastel1: #97d2d4;
$xlncTurquoisePastel2: #bfe1de;
$xlncTurquoisePastel3: #d6ebe9;
$xlncTurquoisePastel4: #e7f4f4;

$xlncRose: #f191a3;
$xlncRosePastel1: #f4a8b8;
$xlncRosePastel2: #f7bece;
$xlncRosePastel3: #fbdbe3;
$xlncRosePastel4: #fceaf1;

$xlncFooterATag: #767A9F;
