{namespace vhsroyal=Fhkonzept\VhsRoyal\ViewHelpers}
<vhsroyal:zip.zipArchive configuration="{dest:'F',destname:'{filename}.zip'}">

    <!-- Add static file to zip -->
    <f:for each="{pdfs}" as="pdf">
        <vhsroyal:zip.zipArchive.setter.file file="{pdf}" zip="{zip}" />
    </f:for>

</vhsroyal:zip.zipArchive>
