<div class="col-sm-6 col-md-6 xlnc-Tools-dashboard-listItem">
	<h3 class="tk-anivers text-center"><f:image src="{f:uri.resource(path:'Images/{toolData.tool.txExtbaseType}.png')}" width="120" alt="{toolData.tool.title}" /></h3>
	<div class="caption">
		<div class="text-center">{toolData.countFinishedItems} {f:translate(key: 'Listitem.from')} {toolData.countRequiredItems} {f:translate(key: 'Listitem.answers')}</div>
		<div class="xlnc-Tools-dashboard-progressIcon">
			<div id="progressCircle{toolData.tool.uid}"></div>
			<div id="xlnc-Tools-dashboard-progressIcon-text-{toolData.tool.uid}" class="tk-anivers xlnc-Tools-dashboard-progressIcon-text xlnc-Tools-dashboard-progressIcon-text-{toolData.tool.txExtbaseType}">
				{toolData.percentFinished}%
			</div>
		</div>
		<f:if condition="{toolData.percentFinished} != 100">
			<f:then>
				<div class="text-center"><f:link.action action="form" arguments="{tool:toolData.tool.uid}"><div class="xlnc-Tools-dashboard-listItem-arrow"></div>{f:translate(key: 'Listitem.start')}</f:link.action></div>
			</f:then>
			<f:else>
				<div class="text-center xlnc-Tools-dashboard-listItem-finishedText"><f:translate key="static.surveyFinished"></f:translate><br /><f:translate key="static.thanks"></f:translate></div>
			</f:else>
		</f:if>
	</div>
	<script type="text/javascript">

		jQuery( document ).ready( function() {

			var loader{toolData.tool.uid}Settings = {

	            //mode : CircletPreloader.MODE_FILL,
	            mode : CircletPreloader.MODE_STROKE,
	            diameterExternal : 110,
	            diameterCircle : 100,
	            diameterInternal : 90,
	            clockwise : true,
	            //clockwise : false,
	            progress : {toolData.percentFinished} / 100,
	            angle : 1.5,
	            colorExternal : '#eeefef',
	            colorCircle : '#83d0f5',
	            colorInternal : '#eeefef',
	            lineWidthOuter : 7,
	            lineWidthInner : 5

	        };

	        if('{toolData.percentFinished}' == '100') {
	        	loader{toolData.tool.uid}Settings.colorCircle = '#9d9d9c';
	        	jQuery('#xlnc-Tools-dashboard-progressIcon-text-{toolData.tool.uid}').css('color', '#9d9d9c');
	        } else if('{toolData.tool.txExtbaseType}' == 'Tx_XlncTools_LeadershipTool') {
	        	loader{toolData.tool.uid}Settings.colorCircle = '#83d0f5';
	        } else if('{toolData.tool.txExtbaseType}' == 'Tx_XlncTools_ClimateTool') {
	        	loader{toolData.tool.uid}Settings.colorCircle = '#f59e36';
	        }

	        var loader{toolData.tool.uid}  = new CircletPreloader( document.getElementById( 'progressCircle{toolData.tool.uid}' ), loader{toolData.tool.uid}Settings );

		});

	</script>

</div>
