{namespace vhsroyal=Fhkonzept\VhsRoyal\ViewHelpers}
<!-- Start export TCPDF -->
<vhsroyal:pdf.tcpdf configuration="{format:'A4',orientation:'landscape',dest:'D',destname:'test.pdf'}">


    <!-- Initial setters -->
    <vhsroyal:pdf.tcpdf.setter.pageunit unit="mm"></vhsroyal:pdf.tcpdf.setter.pageunit>
    <vhsroyal:pdf.tcpdf.setter.pageorientation orientation="portrait"></vhsroyal:pdf.tcpdf.setter.pageorientation>
    <vhsroyal:pdf.tcpdf.setter.rtl enable="1"></vhsroyal:pdf.tcpdf.setter.rtl>
    <vhsroyal:pdf.tcpdf.setter.margins left="20" top="20" right="20" keepmargins="0"></vhsroyal:pdf.tcpdf.setter.margins>
    <vhsroyal:pdf.tcpdf.setter.autopagebreak auto="1"></vhsroyal:pdf.tcpdf.setter.autopagebreak>
    <vhsroyal:pdf.tcpdf.setter.title>Fluid generated TCPDF - Title</vhsroyal:pdf.tcpdf.setter.title>
    <vhsroyal:pdf.tcpdf.setter.subject>Fluid generated TCPDF - Subject</vhsroyal:pdf.tcpdf.setter.subject>
    <vhsroyal:pdf.tcpdf.setter.author>Fluid generated TCPDF - Author</vhsroyal:pdf.tcpdf.setter.author>
    <vhsroyal:pdf.tcpdf.setter.keywords>Fluid, TCPDF, TYPO3</vhsroyal:pdf.tcpdf.setter.keywords>
    <vhsroyal:pdf.tcpdf.setter.creator>TYPO3</vhsroyal:pdf.tcpdf.setter.creator>


    <!-- Initial setters, could also be set individually for each added page (set before vhsroyal:pdf.tcpdf.element.page) -->
    <vhsroyal:pdf.tcpdf.setter.headerdata ht="My header title" hs="My header"></vhsroyal:pdf.tcpdf.setter.headerdata>


    <!-- Initial setters, could also be set individually for each added element (e.g. set before vhsroyal:pdf.tcpdf.element.text) -->
    <vhsroyal:pdf.tcpdf.setter.colorarray type="text" color="{0:255,1:0,2:0}"></vhsroyal:pdf.tcpdf.setter.colorarray>
    <vhsroyal:pdf.tcpdf.setter.font family="times" style="regular" size="12"></vhsroyal:pdf.tcpdf.setter.font>


    <!-- Pages with elements -->
    <vhsroyal:pdf.tcpdf.element.page orientation="portrait">
        
        <vhsroyal:pdf.tcpdf.element.text x="0" y="40" align="L">Hallo Text()</vhsroyal:pdf.tcpdf.element.text>

        <vhsroyal:pdf.tcpdf.setter.x x="20"></vhsroyal:pdf.tcpdf.setter.x>
        <vhsroyal:pdf.tcpdf.setter.y y="70"></vhsroyal:pdf.tcpdf.setter.y>

        <vhsroyal:pdf.tcpdf.element.cell w="0" h="50" border="1" align="C">Hallo Cell()</vhsroyal:pdf.tcpdf.element.cell>

        <vhsroyal:pdf.tcpdf.setter.y y="130"></vhsroyal:pdf.tcpdf.setter.y>

        <vhsroyal:pdf.tcpdf.element.write h="50" align="C">Hallo Write()</vhsroyal:pdf.tcpdf.element.write>

        <vhsroyal:pdf.tcpdf.setter.y y="180"></vhsroyal:pdf.tcpdf.setter.y>

        <vhsroyal:pdf.tcpdf.setter.y y="200"></vhsroyal:pdf.tcpdf.setter.y>

        <vhsroyal:pdf.tcpdf.element.multicell w="100" h="40" border="1" align="C" ishtml="1"><b>Hallo MultiCell()</b></vhsroyal:pdf.tcpdf.element.multicell>

    </vhsroyal:pdf.tcpdf.element.page>

    <vhsroyal:pdf.tcpdf.element.page orientation="portrait">

        <vhsroyal:pdf.tcpdf.setter.x x="20"></vhsroyal:pdf.tcpdf.setter.x>
        <vhsroyal:pdf.tcpdf.setter.y y="40"></vhsroyal:pdf.tcpdf.setter.y>

        <vhsroyal:pdf.tcpdf.element.image x="0" y="" w="180" type="PNG" dpi="300" palign="C">
            <f:render partial="Chart/Barchart" arguments="{dest:'R'}" />
        </vhsroyal:pdf.tcpdf.element.image>

    </vhsroyal:pdf.tcpdf.element.page>


</vhsroyal:pdf.tcpdf>
<!-- End export TCPDF -->