<table class="table table-striped table-hover" >
    <thead ng-repeat-start="project in filteredTeams | withCustomer : customer | project | deduplicate">
        <tr>
            <!-- ICON -->

            <th nowrap="nowrap" class="col-icon">
                <span>
                    <span class="icon icon-size-small icon-state-default">
                        <span class="icon-markup">
                            <span class="icon-unify">
                                <i class="fa fa-book"></i>
                            </span>
                        </span>

                    </span>
                </span>
            </th>

            <th nowrap="nowrap" class="col-title">
                <span ng-bind-html="project.title | highlightSearchResults : controller.view.filters.searchTerm"></span>
                <small>[{{project.uid}}]</small>
            </th>

            <th nowrap="nowrap" ng-repeat="tool in customerTools = (controller.data.teams | withCustomer : customer | tools | deduplicate)">
                <span>{{tool.title}}</span>
            </th>
            <th nowrap="nowrap" class="col-clipboard">
                <div class="btn-group" role="group">
                    <a
                        href="{{project.actions.edit}}&returnUrl={{controller.appHref}}"
                        class="btn btn-default"
                        data-title="Projekt '{{project.title}}' bearbeiten"
                        data-container="body"
                        tooltip>
                        <span class="icon icon-size-small icon-state-default icon-actions-document-open">
                            <span class="icon-markup">
                                <span class="icon-unify"><i class="fa fa-pencil"></i></span>
                            </span>
                        </span>
                    </a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody ng-repeat-end>
        <f:render partial="Archive/Team" />
    </tbody >
</table>
