<div ng-show="controller.view.showSearch" class="db_list-searchbox-form db_list-searchbox-toolbar module-docheader-bar module-docheader-bar-search t3js-module-docheader-bar t3js-module-docheader-bar-search" style="height: auto; display: block;">
    <form>
        <div id="typo3-dblist-search">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-inline form-inline-spaced">
                        <div class="row">
                            <div class="col-xs-6 form-group">
                                <div class="form-control-clearable">
                                    <input class="form-control" type="search" placeholder="Volltextsuche" style="width: 100%;" ng-model="controller.view.filters.searchTerm">
                                    <button ng-click="controller.view.filters.searchTerm = ''" ng-show="controller.view.filters.searchTerm" type="button" class="close" tabindex="-1">
                                        <span class="fa fa-times"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label>Projekt:</label>
                                <div class="form-group">
                                    <f:form.select options="{references}"
                                    optionLabelField="title"
                                    prependOptionLabel="Projektreferenz"
                                    prependOptionValue="0"
                                    class="form-control"
                                    additionalAttributes="{ng-model: 'controller.view.filters.project.reference', convert-to-number: 'convertToNumber'}">
                                </f:form.select>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label>Kunde:</label>
                            </div>
                            <div class="form-group col-xs-6">
                                <f:form.select
                                    options="{industries}"
                                    optionLabelField="title"
                                    prependOptionLabel="Industrie"
                                    prependOptionValue="0"
                                    class="form-control"
                                    style="width: 100%;"
                                    additionalAttributes="{ng-model: 'controller.view.filters.project.customer.industry', convert-to-number: 'convertToNumber'}">
                                </f:form.select>
                            </div>
                            <div class="form-group col-xs-6">
                                <f:form.select
                                    options="{employees}"
                                    optionLabelField="title"
                                    prependOptionLabel="Anzahl Mitarbeiter"
                                    prependOptionValue="0"
                                    class="form-control"
                                    style="width: 100%;"
                                    additionalAttributes="{ng-model: 'controller.view.filters.project.customer.numEmployees', convert-to-number: 'convertToNumber'}">
                                </f:form.select>
                            </div>
                            <div class="form-group col-xs-6">
                                <f:form.select
                                    options="{internationalities}"
                                    optionLabelField="title"
                                    prependOptionLabel="Internationalität"
                                    prependOptionValue="0"
                                    class="form-control"
                                    style="width: 100%;"
                                    additionalAttributes="{ng-model: 'controller.view.filters.project.customer.internationality', convert-to-number: 'convertToNumber'}">
                                </f:form.select>
                            </div>
                            <div class="form-group col-xs-6">
                                <f:form.select
                                    options="{turnovers}"
                                    optionLabelField="title"
                                    prependOptionLabel="Umsatz"
                                    prependOptionValue="0"
                                    class="form-control"
                                    style="width: 100%;"
                                    additionalAttributes="{ng-model: 'controller.view.filters.project.customer.turnover', convert-to-number: 'convertToNumber'}">
                                </f:form.select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

</div>
