<table class="table table-striped table-hover" >
    <thead ng-repeat-start="project in controller.data.teams | selected | withCustomer : customer | project | deduplicate">
        <tr>
            <!-- ICON -->

            <th nowrap="nowrap" class="col-icon">

                <span>
                    <span class="icon icon-size-small icon-state-default">
                        <span class="icon-markup">
                            <span class="icon-unify">
                                <i class="fa fa-book"></i>
                            </span>
                        </span>

                    </span>
                </span>

            </th>

            <th nowrap="nowrap" class="col-title">
                {{project.title}} <small>[{{project.uid}}]</small>
            </th>

        </tr>
    </thead>
    <tbody ng-repeat-end>
        <f:render partial="Archive/SelectedTeam" />
    </tbody >
</table>
