<tr ng-repeat="team in controller.data.teams | selected | withProject : project" ng-class="{firstcol: 0 === $index, lastcol: 1 === $index}">

    <td nowrap="nowrap" class="col-icon">

        <span>
            <span class="icon icon-size-small icon-state-default">
                <span class="icon-markup">
                    <span class="icon-unify">
                        <i class="fa fa-users"></i>
                    </span>
                </span>
            </span>
        </span>

    </td>

    <td nowrap="nowrap" class="">
        <a  class="btn btn-sm btn-default"
            ng-click="team.selected = false"
            tooltip
            title="entfernen"
            data-container="body">
            <span class="icon icon-size-small icon-state-default icon-actions-edit-hide">
                <span class="">
                    <span class=""><i class="fa fa-close" ></i></span>
                </span>
            </span>
        </a>
        {{team.title}} <small>[{{team.uid}}]</small>
    </td>

</tr>
