<tr ng-repeat="team in filteredTeams | withProject : project" ng-class="{firstcol: 0 === $index, lastcol: 1 === $index}">

    <td nowrap="nowrap" class="col-icon">

        <span>
            <span class="icon icon-size-small icon-state-default">
                <span class="icon-markup">
                    <span class="icon-unify">
                        <i class="fa fa-users"></i>
                    </span>
                </span>
            </span>
        </span>

    </td>

    <td nowrap="nowrap" class="">
        <a  class="btn"
            ng-click="team.selected = !team.selected"
            ng-class="{'btn-primary': team.selected, 'btn-default': !team.selected}"
            tooltip
            title="auswählen"
            data-container="body">
            <span class="icon icon-size-small icon-state-default icon-actions-edit-hide">
                <span class="">
                    <span class=""><i class="fa fa-check" ></i></span>
                </span>
            </span>
        </a>
        <span ng-bind-html="team.title | highlightSearchResults : controller.view.filters.searchTerm"></span>
        <small>[{{team.uid}}]</small>
    </td>

    <td nowrap="nowrap" ng-repeat="tool in customerTools" class="col-control">
        <div class="btn-group" role="group"  style="margin-right: 4px;" ng-if="team.hasTool(tool)">

            <span class="btn btn-disabled">
                {{team.getTool(tool).leaderSheetFinished ? 1 : 0}} + {{team.getTool(tool).finishedSheetCount - (team.getTool(tool).leaderSheetFinished ? 1 : 0)}}
                <span class="icon icon-size-small icon-state-default icon-actions-edit-hide">
                    <span class="">
                        <span class=""><i class="fa fa-flag-checkered" ></i></span>
                    </span>
                </span>
            </span>
            <a  class="btn"
                data-toggle="dropdown"
                ng-class="{'btn-success': team.getTool(tool).hasEnoughFinishedSheets, 'btn-danger': !team.getTool(tool).hasEnoughFinishedSheets}"
                tooltip
                title="Report herunterladen"
                data-container="body">
                <span class="icon icon-size-small icon-state-default icon-actions-edit-hide">
                    <span class="">
                        <span class=""><i class="fa fa-download" ></i></span>
                    </span>
                </span>
            </a>
            <div class="dropdown-menu" style="top: -2em; padding: 0; right: 0; min-width: 0; left: auto;">
                <div class="btn-group">
                    <a
                        class="btn btn-default"
                        ng-click="controller.downloadTeamReport(team, tool, language)"
                        ng-repeat="language in controller.data.languages" href="#">
                        <span ng-bind-html="language.flagIcon"></span>
                    </a>
                    <a
                        class="btn btn-default"
                        ng-if="tool.type === 'Xlnc\\XlncTools\\Domain\\Model\\LeadershipTool' || tool.type === 'Xlnc\\XlncTools\\Domain\\Model\\ClimateTool'"
                        ng-click="controller.downloadTeamReport(team, tool, language, 'single')"
                        ng-repeat="language in controller.data.languages" href="#">
                        <span ng-bind-html="language.flagIcon"></span> SE
                    </a>
                </div>
            </div>
        </div>
    </td>

    <td nowrap="nowrap" class="col-clipboard">
        <div class="btn-group" role="group">
            <a
                href="{{team.actions.edit}}&returnUrl={{controller.appHref}}"
                class="btn btn-default"
                data-title="Team '{{team.title}}' bearbeiten"
                tooltip
                >
                <span class="icon icon-size-small icon-state-default icon-actions-document-open">
                    <span class="icon-markup">
                        <span class="icon-unify"><i class="fa fa-pencil"></i></span>
                    </span>

                </span>
            </a>
        </div>

    </td>
</tr>
