<f:if condition="flashMessages">
	<f:flashMessages as="flashMessages">
		<dl class="flashmessages alert alert-danger">
			<f:for each="{flashMessages}" as="flashMessage">
				<f:format.nl2br>{flashMessage.message}</f:format.nl2br>
			</f:for>
		</dl>
	</f:flashMessages>
</f:if>