<f:form.validationResults for="{property}">
    <f:if condition="{validationResults.flattenedErrors}">
        <dl class="flashmessages alert alert-danger">
            <f:for each="{validationResults.errors}" as="error">
                <dd class="f3-form-error ">
                    {error.message}
                </dd>
            </f:for>
        </dl>
    </f:if>
</f:form.validationResults>
