<p><strong><f:translate key="reports.SampleSizesTable.1" extensionName="xlnc_tools" /></strong></p>
<p><f:translate key="reports.SampleSizesTable.2" extensionName="xlnc_tools" /></p>

<table width="100%" border=1>
    <tr>
        <th style="border-right: 1px solid #cccccc;border-bottom: 1px solid #cccccc"></th>
        <th style="border-right: 1px solid #cccccc;border-bottom: 1px solid #cccccc;text-align: center"><f:translate key="reports.SampleSizesTable.3" extensionName="xlnc_tools" /></th>
        <th style="border-bottom: 1px solid #cccccc;text-align: center"><f:translate key="reports.SampleSizesTable.4" extensionName="xlnc_tools" /></th>
    </tr>
    <tr>
        <td style="border-right: 1px solid #cccccc;border-bottom: 1px solid #cccccc"><f:translate key="reports.SampleSizesTable.5" extensionName="xlnc_tools" /></td>
        <td style="border-right: 1px solid #cccccc;border-bottom: 1px solid #cccccc;text-align: center">{report.sampleSize.leader.invited}</td>
        <td style="border-bottom: 1px solid #cccccc;text-align: center">{report.sampleSize.leader.finished}</td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #cccccc"><f:translate key="reports.SampleSizesTable.6" extensionName="xlnc_tools" /></td>
        <td style="border-right: 1px solid #cccccc;text-align: center">{report.sampleSize.member.invited}</td>
        <td style="text-align: center">{report.sampleSize.member.finished}</td>
    </tr>
</table>
