$aniversBold:           'Anivers W01 Bold',             'Helvetica', 'Verdana', sans-serif;
$aniversRegular:        'Anivers W01 Regular',          'Helvetica', 'Verdana', sans-serif;

$tradeGothicLight:      'Trade Gothic W01 Light',       'Helvetica', 'Verdana', sans-serif;
$tradeGothicRegular:    'Trade Gothic W01 Regular',     'Helvetica', 'Verdana', sans-serif;
$tradeGothicBold:       'Trade Gothic W01 Bold',        'Helvetica', 'Verdana', sans-serif;
