.xlnc-corporate {
    .large-link {
        display: block;
        text-align: center;

        font-family: "Anivers W01 Regular", "Helvetica", "Verdana", sans-serif !important;
        line-height: 1.3em;
        font-size: 22px;

        &::before {
            display: inline-block;
            width:30px;
            margin-bottom:-7px;
            margin-right: 10px;
            content:" ";
            height:28px;
            background-image: url(../../Images/Gfx/Pfeil_Link-Auszeichnung_Retina.png);
            background-size: 50%;
            background-position: 15px;

            background-repeat: no-repeat;

        }
    }
}
