.xlnc-corporate {
    background-color: #ffffff;

    .container_gray_background {
		background-color: #eeefef;
    }

    .container_gray_background, .container_no_background {
        padding-top: 70px;
        padding-bottom: 90px;
    }

    .ce-media img {
        max-width: 100%;
        height: auto;
    }

    hr {
        border-top: 1px solid #000;
        margin-top: 15px;
        margin-bottom: 0px;
        width: 40px;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .tx_gridelements_col_one_facelift {
    	.ce-gallery {
			margin-bottom: 10px;
            .ce-outer{
                margin-bottom: 0px;
                .ce-inner{
                    margin-bottom: 0px;
                    .ce-row{
                        margin-bottom: 0px;
                        .ce-column{
                            margin-bottom: 0px;
                            .ce-media{
                                img {
                                    width:100%;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
    	}

    }
    .tx_gridelements_col_one_block_facelift {

    	h1, h2, h3, h4, h5, h6 {
            text-align: center;
            margin-bottom: 15px;
    	}

    }

    .tx_gridelements_seperatorLine {
    	hr {
            margin-top: 0;
    		border-top: 1px solid #9D9D9C;

    		width: 40px;
    	}
    }

    .tx_gridelements_col_five_three {

        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 1em;
        }

        p {
            margin-top: 1.5em;

            &:first-child {
                margin-top: 0;
            }
        }

        .right-column > * {
            margin-bottom: calc(70px - 1em);

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }

    .grid-content > * {
        padding-bottom: 70px;
    }

    .grid-content > *:last-child {
        padding-bottom: 0;
    }
}



@media (max-width: 767px) {

	.xlnc-corporate {

        .tx_gridelements_col_five_three {
            padding-top: 0;

            .right-column > * {
                margin-bottom: 0;
            }
        }

        .tx_gridelements_seperatorLine {
            display: none;
        }

        .tx_gridelements_col_two_facelift {
            .row > :first-child {
                padding-bottom: 50px;
            }
        }

        .tx_gridelements_col_three_facelift {
            .row > * {
                padding-bottom: 50px;
            }
            
            .row > :last-child {
                padding-bottom: 0;
            }
        }



	}

}
