.xlnc-corporate {
    ol, ul {
        padding-left: 0px;

        li.arrows {
            padding-left: 15px;
            padding-bottom: 0.5em;
            list-style-type: none;

            font-size: 15px;
            line-height: 1.5em;

            background-image:url('../../Images/Gfx/xlnc_list_style.png');
            background-repeat:no-repeat;
            background-position:2px 5px;
            background-size: 6px;
        }

		li.arrowsAlt {
			text-indent: 22px;
            list-style-type: none;

            font-size: 15px;
			line-height: 1.5em;

            background-image: url(../../Images/Gfx/Pfeil_Link-Fliesstext_Retina.png);
            background-repeat:no-repeat;
			background-position: 0px 6px;
			background-size: 14px;
		}
    }
}