.xlnc-corporate {
    .tx_gridelements_profile {

		.profiles {
            display: inline-block;
            .padding {
				padding-bottom: 0px;

                .ce-textpic{

                    .ce-bodytext{
                        display: block;
                        position: relative;
                        padding-top: 20px;
                    }
                }
            }
		}

		.placeholder {
			display: inline-block;
			width: 206px;
			height: 241px;
			margin-top: 8px;
			margin-left: 8px;
			margin-right: 8px;
			background-image: url(../../Images/Backgrounds/XLNC_Coaching_Placeholder.png);
		}

		text-align: center;

		.content {
			display: inline-block;
		}

		.content-optional {

			.ce-bodytext {

		    	h1, h2, h3, h4, h5, h6 {
		    		font-size: 29px;
		    	}

			}

		}

		.ce-bodytext {

			p {
				font-size: 14px;
			}

			h1, h2, h3, h4, h5, h6 {
				font-size: 20px;
			}

		}

		.ce-textpic {

			.ce-gallery {
				display: inline-block;
				width: 206px;
				height: 240px;
				margin-top: 8px;
				margin-left: 8px;
				margin-right: 8px;
				border-top: 8px;
				border-bottom: 8px;
				border-left: 8px;
				border-right: 8px;
				border-style: solid;
				border-color: #ffffff;
				-webkit-box-shadow: 0px 0px 10px 0px rgba(189,189,189,1);
				-moz-box-shadow: 0px 0px 10px 0px rgba(189,189,189,1);
				box-shadow: 0px 0px 10px 0px rgba(189,189,189,1);

				img {
                    width: 100%;
                    height: 100%;
				}

			}

		}



	}
}

@media (max-width: 767px) {

	.xlnc-corporate {
        .tx_gridelements_profile {
            padding-bottom: 0;

            .profiles {
                display: inline-block;

                .padding {
                    padding-bottom: 0px;

                    .ce-textpic{
                        .ce-bodytext{
                            display: block;
                            position: relative;
                            padding-top: 20px;
                            margin-bottom: 50px;
                        }
                    }
                }
            }

            .placeholder {
                display: none;
            }

            .ce-bodytext {

                .ce-gallery {
                    width: 206px;
                }

                h1, h2, h3, h4, h5, h6 {
                    padding-top: 0px;
                    padding-bottom: 0px;
                }

            }

        }
    }
}

@media (max-width: 567px) {

    .xlnc-corporate {

        .tx_gridelements_profile {
            .profiles {
                display: inline-block;
                .padding {
    				padding-bottom: 0px;

                    .ce-textpic{
                        .ce-bodytext{
                            display: block;
                            position: relative;
                        }
                    }
                }
            }
		}
	}

}
