.xlnc-corporate {
    .tx_gridelements_roofLine {
        padding-bottom: 70px;
        padding-top: 70px;

        &:first-child {
            padding-top: 0px;
        }

        text-align: center;
        .roofline-content {
            h1, h2, h3, h4, h5, h6 {
                line-height: 1.3em;
                color: #9D9D9C;
                margin-top: 0;
                margin-bottom: 0;
                text-align: center;
                font-size: 22px;
            }
        }

        hr {
            border-top: 1px solid #9D9D9C;
            margin-top: 25px;
            margin-bottom: 0;
            width: 40px;
        }
    }
}

@media (max-width: 767px) {

	.xlnc-corporate {

        .no_background_content {
            .tx_gridelements_roofLine {
                padding-bottom: 50px;
            }
        }

        .gray_background_content {
            .tx_gridelements_roofLine {
                padding-bottom: 50px;
            }
        }

	    .tx_gridelements_roofLine {
			padding-top: 0px;

			hr {
				width: 15%;
			}

		}
    }
}
