.xlnc-corporate {

    .align-center {
        text-align: center;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "Anivers W01 Regular", "Helvetica", "Verdana", sans-serif;
        line-height: 1.3em;
        font-size: 22px;

        color: #494B61;
    }

    p {
        line-height: 1.5em;
    }

    .tx_gridelements_col_three_facelift {

		a {
			font-family: "Trade Gothic W01 Bold","Helvetica","Verdana",sans-serif;
		}
    }

    .tx_gridelements_col_one_block_facelift {

        p {
            text-align: justify;

            &.align-center {
                text-align: center;
            }
        }
    }
}

@media (max-width: 991px) {
    .tx_gridelements_col_three_facelift {
        h1, h2, h3, h4, h5, h6 {
            font-size: 18px !important;
        }
    }
}


@media (max-width: 767px) {

	.xlnc-corporate {

        .tx_gridelements_col_three_facelift {
            h1, h2, h3, h4, h5, h6 {
                font-size: 20px;
            }
        }

        .tx_gridelements_col_one_facelift, .tx_gridelements_col_two_facelift, .tx_gridelements_col_three_facelift {
            font-size: 18px;
        }

		.tx_gridelements_col_one_facelift {
			h1, h2, h3, h4, h5, h6 {
				font-size: 26px;
			}

		}

		.tx_gridelements_col_two_facelift {
			h1, h2, h3, h4, h5, h6 {
				font-size: 22px;
			}
		}


	}

}
