{namespace be = TYPO3\CMS\Backend\ViewHelpers}
<f:layout name="Archive" />

<f:section name="headline">
	Archiv
</f:section>

<f:section name="content">
    <div class="row">
        <div class="col-xs-8">
            <div class="panel panel-default" ng-repeat="customer in filteredTeams = (controller.data.teams | dictionary : controller.view.filters | fulltext : controller.view.filters.searchTerm) | customer | deduplicate">
        		<div class="panel-heading">
        			<a>
						<i class="fa fa-bank"></i>
						<span ng-bind-html="customer.title | highlightSearchResults : controller.view.filters.searchTerm"></span>
					</a>
					<a
						href="{{customer.actions.edit}}&returnUrl={{controller.appHref}}"
						class="btn btn-default pull-right"
						style="margin-top: -8px; margin-right: -8px;"
						data-title="Kunden '{{customer.title}}' bearbeiten"
						data-container="body"
						tooltip>
						<span class="collapseIcon"><span class="t3js-icon icon icon-size-small icon-state-default icon-actions-view-list-collapse" data-identifier="actions-view-list-collapse">
							<span class="icon-markup">
								<i class="fa fa-pencil"></i>
							</span>

						</span>

					</a>
        		</div>

        		<div class="table-fit">
        			<f:render partial="Archive/Project" />
        		</div>
        	</div>
        </div>
        <div class="col-xs-4 well" >

			<h6>ausgewählte Teams</h6>

			<div class="panel panel-default" ng-repeat="customer in (controller.selectedTeams = (controller.data.teams | selected)) | customer | deduplicate">
        		<div style="padding: 4px 8px;" class="panel-heading">
        			<a><i class="fa fa-bank"></i> {{customer.title}}</a>
        		</div>

        		<div class="table-fit">
        			<f:render partial="Archive/SelectedProject" />
        		</div>
        	</div>
        </div>
		<script type="text/javascript">
			(function($) {
				$('body').on('mouseover', '.tooltip', function() {
					$(this).remove();
				})
			})(TYPO3.jQuery);
		</script>
		<style>
			.search-hit {
				text-decoration: underline;
			}
		</style>
    </div>
</f:section>
