<div class="row affixable">
	<div class="col-sm-6">
		&nbsp;
	</div>
	<div class="col-sm-6">
		<div class="text-center xlnc-Tools-survey-header">
			<f:translate key="static.survey.scale.hit"></f:translate>
		</div>
		<div class="text-center xlnc-Tools-survey-header">
			<f:translate key="static.survey.scale.1"></f:translate>
		</div>
		<div class="text-center xlnc-Tools-survey-header">
			 <f:translate key="static.survey.scale.2"></f:translate>
		</div>
		<div class="text-center xlnc-Tools-survey-header">
			  <f:translate key="static.survey.scale.3"></f:translate>
		</div>
		<div class="text-center xlnc-Tools-survey-header">
			 <f:translate key="static.survey.scale.4"></f:translate>
		</div>
		<div class="text-center xlnc-Tools-survey-header">
			 <f:translate key="static.survey.scale.5"></f:translate>
		</div>
		<div class="text-center xlnc-Tools-survey-header">
			 <f:translate key="static.survey.scale.to"></f:translate>
		</div>
	</div>
</div>
