<f:if condition="{answer.status} == 1">

	<div class="xlnc-Tools-survey-item xlnc-Tools-survey-leadershipItem">

		<!-- Devide between primary and compare question -->
		<f:if condition="{answer.answerIndex} == 1">
			<f:then>

				<div class="row">
					<div class="col-sm-6">
						<f:if condition="{sheet.txExtbaseType} == 'Tx_XlncTools_Sheet'">
							<f:then>
								<label class="tk-anivers xlnc-Tools-survey-item-question">{answer.item.question}</label>
							</f:then>
							<f:else>
								<label class="tk-anivers xlnc-Tools-survey-item-question">{answer.item.alternativeQuestion}</label>
							</f:else>
						</f:if>
					</div>
					<div class="col-sm-6">
						<div class="xlnc-Tools-survey-answer">&nbsp;</div>
						<div class="xlnc-Tools-survey-answer text-center">
							<f:form.radio id="answer_{answer.uid}_1" name="sheet[answers][{answer.uid}][value]" value="1" />
							<label for="answer_{answer.uid}_1" class="xlnc-Tools-survey-item-label"></label>
						</div>
						<div class="xlnc-Tools-survey-answer text-center">
							<f:form.radio id="answer_{answer.uid}_2" name="sheet[answers][{answer.uid}][value]" value="2" />
							<label for="answer_{answer.uid}_2" class="xlnc-Tools-survey-item-label"></label>
						</div>
						<div class="xlnc-Tools-survey-answer text-center">
							<f:form.radio id="answer_{answer.uid}_3" name="sheet[answers][{answer.uid}][value]" value="3" />
							<label for="answer_{answer.uid}_3" class="xlnc-Tools-survey-item-label"></label>
						</div>
						<div class="xlnc-Tools-survey-answer text-center">
							<f:form.radio id="answer_{answer.uid}_4" name="sheet[answers][{answer.uid}][value]" value="4" />
							<label for="answer_{answer.uid}_4" class="xlnc-Tools-survey-item-label"></label>
						</div>
						<div class="xlnc-Tools-survey-answer text-center">
							<f:form.radio id="answer_{answer.uid}_5" name="sheet[answers][{answer.uid}][value]" value="5" />
							<label for="answer_{answer.uid}_5" class="xlnc-Tools-survey-item-label"></label>
						</div>
						<div class="xlnc-Tools-survey-answer">&nbsp;</div>
					</div>
				</div>

			</f:then>
			<f:else>

				<f:if condition="{answer.answerIndex} == 2">

					<div class="row">
						<div class="col-sm-6">
							<label class="tk-anivers xlnc-Tools-survey-item-question-appropriate"><f:translate key="static.appropriate_behaviour"></f:translate></label>
						</div>
						<div class="col-sm-6">
							<div class="xlnc-Tools-survey-answer">&nbsp;</div>
							<div class="xlnc-Tools-survey-answer text-center">
								<f:form.radio id="answer_{answer.uid}_1" name="sheet[answers][{answer.uid}][value]" value="1" />
								<label for="answer_{answer.uid}_1" class="xlnc-Tools-survey-item-label"></label>
							</div>
							<div class="xlnc-Tools-survey-answer text-center">
								<f:form.radio id="answer_{answer.uid}_2" name="sheet[answers][{answer.uid}][value]" value="2" />
								<label for="answer_{answer.uid}_2" class="xlnc-Tools-survey-item-label"></label>
							</div>
							<div class="xlnc-Tools-survey-answer text-center">
								<f:form.radio id="answer_{answer.uid}_3" name="sheet[answers][{answer.uid}][value]" value="3" />
								<label for="answer_{answer.uid}_3" class="xlnc-Tools-survey-item-label"></label>
							</div>
							<div class="xlnc-Tools-survey-answer text-center">
								<f:form.radio id="answer_{answer.uid}_4" name="sheet[answers][{answer.uid}][value]" value="4" />
								<label for="answer_{answer.uid}_4" class="xlnc-Tools-survey-item-label"></label>
							</div>
							<div class="xlnc-Tools-survey-answer text-center">
								<f:form.radio id="answer_{answer.uid}_5" name="sheet[answers][{answer.uid}][value]" value="5" />
								<label for="answer_{answer.uid}_5" class="xlnc-Tools-survey-item-label"></label>
							</div>
							<div class="xlnc-Tools-survey-answer">&nbsp;</div>
						</div>
					</div>
					
				</f:if>

			</f:else>
		</f:if>

	</div>

	<f:form.hidden name="sheet[answers][{answer.uid}][__identity]" value="{answer.uid}" />

</f:if>