<f:if condition="{answer.status} == 1">

	<div class="xlnc-Tools-survey-item xlnc-Tools-survey-textItem">

		<!-- Devide between primary and compare question -->
		<f:if condition="{answer.answerIndex} == 1">
			<f:then>

				<div class="row">
					<div class="col-sm-6">
						<label class="tk-anivers xlnc-Tools-survey-item-question">{answer.item.question}</label>
					</div>
					<div class="col-sm-6">
						<f:form.textarea name="sheet[answers][{answer.uid}][textValue]" cols="50" rows="7" />
					</div>
				</div>

			</f:then>
		</f:if>

	</div>

	<f:form.hidden name="sheet[answers][{answer.uid}][__identity]" value="{answer.uid}" />

</f:if>