.arrow-link {
    text-align: center;
    margin-top: -70px;
    .arrow {
        padding: 10px;
    }
    a {
        display: block;
        font-family: $tradeGothicBold;
        font-size: 15px;
    }
}
