

#logo{

	background-image: url('../../Images/Logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom left;

}

.content-area {

	background: $white;

}

.login-page {

	.xlnc-Tools-auth-form-submit-arrow {

		margin: 0 auto 20px auto;
		background-image: url("../../Images/Gfx/XLNC_Button_Pfeil_Inaktiv.png");
		background-repeat: no-repeat;
		background-position: center;
		width: 20px;
		height: 40px;

	}

	.xlnc-Tools-auth-form-submit:hover .xlnc-Tools-auth-form-submit-arrow {

		background-image: url("../../Images/Gfx/XLNC_Button_Pfeil_Hover.png");

	}

}
.xlnc-Tools-dashboard-listItem-arrow {
	margin: 0 auto 10px auto;
	background-image: url("../../Images/Gfx/XLNC_Button_Pfeil_Inaktiv.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;
	height: 40px;
}
.xlnc-Tools-dashboard-listItem-arrow:hover {

	background-image: url("../../Images/Gfx/XLNC_Button_Pfeil_Hover.png");

}

.xlnc-Tools-dashboard-page {

	background-image: url("../../Images/Backgrounds/XLNC_Hintergrund_Start.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

.xlnc-Tools-leadershipTool-page {

	background: -webkit-linear-gradient(left top, $white , $xlncBlue); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, $white , $xlncBlue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, $white , $xlncBlue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, $white , $xlncBlue); /* Standard syntax */

}

.xlnc-Tools-climateTool-page {

	background: -webkit-linear-gradient(left top, $white , $xlncOrange); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, $white , $xlncOrange); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, $white , $xlncOrange); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, $white , $xlncOrange); /* Standard syntax */

}

.xlnc-Tools-leadershipTool-page, .xlnc-Tools-climateTool-page {

	min-height: auto;

}

.login-page, .xlnc-Tools-personalDataForm-page {

	background-image: url("../../Images/Backgrounds/XLNC_Hintergrund_Start.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

.xlnc-Tools-content {
	background: $white;
}

.xlnc-Tools-survey-progress {
	background: $white;
}

.xlnc-Tools-survey {

	.xlnc-Tools-survey-item {
		.xlnc-Tools-survey-answer:first-child {
			overflow:visible;
			direction: rtl;
			&:after {
				content: '';

				color: transparent;
				display: inline-block;
				height: 100%;
				width: 18px;
				float: right;
				margin-right: -20px;
				margin-top: -100%;
				background-image: url("../../Images/Gfx/XLNC_Grafik_Pfeil.png");
				background-repeat: no-repeat;
				background-position: right center;
			}
		}
		.xlnc-Tools-survey-item-label:before {
		    background-image: url("../../Images/Gfx/XLNC_Radio-Button_Inaktiv.png");
		}
		input[type=radio]:checked + label:before {
		    background-image: url("../../Images/Gfx/XLNC_Radio-Button_Aktiv.png");
		}
	}

}

.xlnc-Tools-survey-next {

	background-color: $white;

	.xlnc-Tools-survey-next-btn {
		background-image: url("../../Images/Gfx/XLNC_Button_Pfeil_Inaktiv.png");
		background-repeat: no-repeat;
		background-position: center;
	}

	&:hover {
		background-color: $lilacLight;

		.xlnc-Tools-survey-next-btn {
			background-image: url("../../Images/Gfx/XLNC_Button_Pfeil_Hover.png");
		}
	}

}

.footer {
	background-image: url("../../Images/Backgrounds/XLNC_Hintergrund_Footer.jpg");

	.footer-menu {
		.footer-menu-item {
			a:last-child {

			}
		}
	}
}

/*XLNC Corporate Facelift*/
.xlnc-corporate {
	.footer {
		background-image: none;
		background-color: $white;

		.content {
			background-image: url("../../Images/Backgrounds/XLNC_Hintergrund_Footer_Facelift.jpg");
		}

	}
}
