html,body {
	height: 100%;
	font-family: "Trade Gothic W01 Light","Helvetica","Verdana",sans-serif;
	color: $anthracite;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Anivers W01 Regular","Helvetica","Verdana",sans-serif;
	color: $lilacDark;
}

h1 {
	font-size: 34pt;
}

.xlnc-corporate {
    padding-bottom: 1px; /* fix: Safari does not respect padding-bottom at
    the end of the page otherwise */
	p {
		font-size: 15px;
		color: #4A4A49;
	}
}
