.tx_gridelements {
	padding-bottom: 10em;
	padding-top: 6em;

	.align-center {
		text-align: center;
	}

	.carousel {
		background-color: #ffffff;
	}

	.carousel-inner {
		height: 300px;

		.item > div {
			margin: 80px 80px;
		}
	}

	.carousel-indicators {

		li {
			background-image: url("../../Images/Gfx/XLNC_Slide_Bullet_Inaktive.png");
			background-repeat: no-repeat;
			height: 18px;
			width: 18px;
			background-size: 16px;
		}

		.active {
			background-image: url("../../Images/Gfx/XLNC_Slide_Bullet_Active.png");
		}
	}

	.carousel-control {
		width: 0;
		color: black;
		text-shadow: none;

		&.left {
			left: -60px;
		}

		&.right {
			right: -60px;
		}

		.arrow-left {
			color: transparent;
			background-image: url("../../Images/Gfx/XLNC_Button_Pfeil_Inaktiv_Slider_Left.png");
			background-repeat: no-repeat;
			height: 40px;
		}

		.arrow-right {
			color: transparent;
			background-image: url("../../Images/Gfx/XLNC_Button_Pfeil_Inaktiv_Slider_Right.png");
			background-repeat: no-repeat;
			height: 40px;
		}
	}

	.carousel-fade {
    	.carousel-inner {
	        .item {
	            transition-property: opacity;
	        }

	        .item,
	        .active.left,
	        .active.right {
	            opacity: 0;
	        }

	        .active,
	        .next.left,
	        .prev.right {
	            opacity: 1;
	        }

	        .next,
	        .prev,
	        .active.left,
	        .active.right {
	            left: 0;
	            transform: translate3d(0, 0, 0);
	        }
	    }

	    .carousel-control {
	        z-index: 2;
	    }
	}

	h1, h2, h3, h4, h5, h6 {
		text-align: center;
		color: #000000;
	}

}

@media (max-width: 392px) {
	.tx_gridelements {

		.carousel-inner {
			height: 440px !important;

			.item > div {
				margin: 20px 20px;
			}
		}

		.carousel-control {

			&.left {
				left: -25px;
			}

			&.right {
				right: -25px;
			}
		}
	}

	.carousel-indicators {
		bottom: -10px;
	}

}

@media (max-width: 992px) {
	.tx_gridelements {

		.carousel-inner {
			height: 420px;
		}

		.carousel-control {

			&.left {
				left: -25px;
			}

			&.right {
				right: -25px;
			}
		}

	}
}

@media (max-width: 767px) {
	.tx_gridelements {

		padding-top: 1em;

	}
}
