.executiveName-container-withoutTool {
  display: none;
}

#logo .executiveName-container-withoutTool {
  display: block;
}

.executiveName-container {
  position: relative;
  left: 220px;
  bottom: 0;
  height: 100%;
}

.executiveName {
  position: absolute;
  display: inline-block;
  bottom: 0;
  margin-bottom: -6px;
  font-size: 14pt;
  overflow: visible;
  width: 100vw;
  font-family: "Anivers W01 Regular","Helvetica","Verdana",sans-serif;
}

.xlnc-Tools-survey-titlebar .executiveName {
  margin-bottom: -4px;
}

@media (max-width: 767px) {
  .executiveName-container {
    display: block;
    top: 100%;
    left: 0;
  }
  
  #logo .executiveName-container-withoutTool {
    display: none;
  }
}