.default-page {

	position: relative;
	z-index: 1;
	min-height: 85%;

	.header-area {
		position: relative;
		height: 74px;
		margin-bottom: 40px;
	}

	.content-area {
		position: relative;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		padding: 40px 20px;

	}

	.page {

		.container {

			#logo{
				position: absolute;
				top: 35px;
				left: 15px;
				width: 300px;
				height: 34px;
				max-width: 70%;
			}

			.claim {

				position: absolute;
				bottom: -6px;
				right: 15px;

				color: $anthracite;
				font-size: 14pt;
				font-family: "Anivers W01 Regular","Helvetica","Verdana",sans-serif;

				a:hover {
					text-decoration: none;
				}

			}

			.content {

				padding: 30px 40px;
				margin: 0;

			}

		}

	}

}

@media (max-width: 768px) {
	
	.default-page {
		.page {
			.container {
				#logo {
					top: 58px;
				}
			}
		}
	}

}

// Landscape

@media (max-height: 441px) {

	.default-page {
		.page {
			.container {
				#logo {
					top: 35px;
				}
			}
		}
	}

}



.footer {

	position: relative;

	height: 15%;
	min-height: 180px;
	text-align: center;

	.footer-menu {
		text-align: left;
		margin-top: 20px;

		.footer-menu-item {
            a {
                white-space: nowrap;
            }
			display: inline-block;
			width: 50%;
			text-align: center;
			line-height: 30px;

		}

	}

	.claim {

		position: absolute;
		top: 50%;
		left: 35%;
		color: $anthracite;
		font-size: 14pt;
		font-family: "Anivers W01 Regular","Helvetica","Verdana",sans-serif;

	}

}

/*XLNC Corporate Facelift*/
.xlnc-corporate {

	.tx_gridelements_no_background {

		ul {
			padding-left: 0px;

			li {
				padding-left: 0;
				list-style-type: none;
				background-image: url(../../Images/Gfx/Pfeil_Link-Fliesstext_Retina.png);
				background-repeat: no-repeat;
				background-position: 0px 6px;
				background-size: 14px;
				line-height: 1.5em;
				font-size: 15px;
			}
		}

	}

	.ce-bodytext {
		span {
			a {
				letter-spacing: 0.5px;
			}
		}
	}

	/*Platzhalter Element*/
	.ce-div {
		margin-top: 40px;
		margin-bottom: 40px;
		border-top: 1px solid transparent;
	}

	.footer {
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 20px;

		.content {
			display: block;
			z-index: 50;
		}

		.menu-float {
			float: right;
		}

		.last-child {
			.footer-menu-item:last-child {
				a {
					font-family: "Trade Gothic W01 Bold","Helvetica","Verdana",sans-serif;
				}
			}
		}

		.footer-menu {
			text-align: left;
			margin-top: 70px;
			margin-bottom: 70px;

			.footer-menu-item {
				width: 45%;
				line-height: 30px;
				display: block;
				text-align: left;
			}

		}

		.claim {
			position: static;
			margin-top: 75px;
			color: #494b61;
			font-size: 14px;
			font-family: "Trade Gothic W01 Bold","Helvetica","Verdana",sans-serif;
			text-align: left;
			letter-spacing: 0.5px;
		}

	}

}

@media (max-width: 767px) {

	.xlnc-corporate {

		.footer {

			.first-child {
				margin-bottom: 30px !important;
			}

			.last-child {
				margin-top: 30px !important;
			}

		}

	}

}
