@media(max-width: 767px) {
    .default-page.frontpage, .default-page.contentpage {
        .page .container .claim {
            width: 100%;
            bottom: auto;
            top: 46px;
            right: 0;
        }

        .navbar-collapse {
            text-align: center;
            background: white;
            margin-top: 20px;

            .navbar-nav {
                float: none;
            }
        }
    }
}

.default-page.frontpage, .default-page.contentpage {
    .ce-textpic .ce-gallery img {
        max-width: 100%;
        height: auto;
    }
}
