
.xlnc-corporate {

	.tx-gridelements-header_slider {
        margin-left: 5px;
        margin-right: 5px;

        .ce-media img {
            max-width: none;
        }

		.slick-dotted {
			margin-bottom: 0px;
		}

        .slick-dots {
            li {
                margin: 0 5px;
            }
        }

		h1, h2, h3, h4, h5, h6 {
			font-size: 32px;
            font-weight: bold;
		}

        color: #494b61;
        h1, h2, h3, h4, h5, h6, p {
            color: #494b61;
        }

        .text-white {

            color: white;
            text-shadow: 0 0 2px rgba(0, 0, 0, 0.4), 0 0 15px rgba(0, 0, 0, 0.6);

            h1, h2, h3, h4, h5, h6, p {
                color: white;
            }

            .white-box {
                color: #494b61;
                h1, h2, h3, h4, h5, h6, p {
                    color: #494b61;
                }
            }
        }

	    .header_slider {
			z-index: 1;
            height: 590px;

    		.slick-slider {
    			margin-bottom: 0px;
    		}

    	    .slick-item {
    	        position: relative;
                height: 590px;

    	        .smartphone {
    	        	display: none;
    	        }

    	        .landscape {
    	        	display: none;
    	        }

    	        .image {
    	            .ce-gallery {
    	            	margin-left: 0px;
    	            	float: none;
    	            }
    	        }

    	        .slide-text {

    	            text-align: center;
    	            position: absolute;
    	            top: 0;
    	            height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    h1 {
                        padding:6px;
                    }
    	        }
    	    }

            .slick-arrow {
                z-index: 200;
                bottom: 0;
                width: 100px;
                height: 100%;

                &::before {
                    content: "";
    				width: 4rem;
    				height: 4rem;
                    display: block;
                    margin: 0 auto 0;
                    border: 0 solid transparent;
    				border-right: .1rem solid black;
    				border-bottom: .1rem solid black;
                }
            }

    		.arrow-next {
    			right: 15px;

                &::before {
                    transform: rotate(-45deg);
                }
    		}

    		.arrow-prev {
    			left: 15px;

                &::before {
                    transform: rotate(135deg);
                }
    		}

    		.slick-slide {
    			outline: none;
    		}

    		.slick-dots {
    			position: absolute;
    	        bottom: 17px;

    			li {
    	            background-image: url("../../Images/Gfx/RZ_Punkt_Slider_Inaktiv_Retina.png");
    	            background-repeat: no-repeat;
    	            height: 26px;
    	            width: 13px;
                    background-size: 8px;
                    background-position: 3px;

    			}

    			.slick-active {
    	            background-image: url("../../Images/Gfx/RZ_Punkt_Slider_Aktiv_Retina.png");
                    background-size: 13px;
                    background-position: 0;
    			}

    			button::before {
    				display: none;
    			}
    		}

		}

	}

}

@media (max-width: 1199px) {
	.xlnc-corporate {

		.tx-gridelements-header_slider {
            .slick-item-wrap {
                padding-left: 20px;
                padding-right: 20px;
            }
			.header_slider {

				.slick-item {
                    height: 590px;
				}

			}

		}

	}
}

@media (max-width: 992px) {

	.xlnc-corporate {

		.tx-gridelements-header_slider {
            .slick-item-wrap {
                padding: 20px;
            }

            .slick-list {
                height: 590px;
            }

			.header_slider {
				z-index: 0;
			}

		}

	}

}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .xlnc-corporate {
        .tx-gridelements-header_slider {
            .header_slider {
                .slick-list {
                    height: auto;
                }
                .slick-item {
                    .smartphone {
                        .ce-media {
                            width: 100vw;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {

	.xlnc-corporate {

		.tx-gridelements-header_slider {

            h3 {
                font-size: 22px;
            }

            .slick-item-wrap {
                padding: 0px;
            }

			h1 {
				font-size: 32px;
				letter-spacing: -1px;
				width: 100%;
			}

			.header_slider {
                height: auto;

                .slick-item {
                    height: auto;
                }

                .slick-arrow {
                    height: 50px;
                    top: calc(100% - 42px);

                    &::before {
                        margin: 25px auto;
                        width: 25px;
    					height: 25px;
                    }
                }

				.slick-dots {
					height: 50px;
					background-color: rgba(255,255,255,0.7);
					padding-top: 2px;
					padding-bottom: 10px;
					bottom: 0px;
				}

				.slick-item {

					.desktop {
						display: none;
					}

					.smartphone {
						display: block;
						position: relative;

						.ce-gallery {

							img {
								width: 100%;
								height: auto;
                                padding-top: 110px;
							}
						}

					}

					.landscape {
						display: none;
					}

					.slide-text {

                        display: block;
					}

				}

			}

		}

	}

}

@media (max-height: 384px) {

	.xlnc-corporate {
		.tx-gridelements-header_slider {

            h3 {
                font-size: 16px;
            }

            .slick-item-wrap {
                padding: 0px;
            }

			.header_slider {
                height: calc(100vh - 80px);

				.slick-item {

                    .slide-text {
                        top: -10px;
                    }

					.text {
						margin-top: 0px;
						margin-left: 25.555%;

						.ce-bodytext {
							position: absolute;
						}
					}

					.desktop {
						display: none;
					}

					.smartphone {
						display: none;
					}

					.landscape {
						display: block;
						height: auto;
						margin-top: 0px;

						img {
							height: auto;
							width: 100%;
						}

					}

				}

			}

		}

	}

}

@media (min-width: 1600px) {
    .xlnc-corporate {

    	.tx-gridelements-header_slider {


            .desktop {

                .ce-gallery {

                    position: relative;
                    width:100%;
                    .ce-column {
                        width:100%;


                        img {
                            width: 100%;
                            height: auto;
                            margin-top: calc((-25vw + 460px )/2);

                        }
                    }
                }

    		}
    	}

    }
}

@media (max-width: 1600px) {
    .xlnc-corporate {

    	.tx-gridelements-header_slider {


            .desktop {
                .ce-gallery {
                    position: relative;
                    width:100%;
                    .ce-column {
                        width:100%;
                        img {
                            width: 1600px;
                            height: 590px;
                            margin-left: calc((-1600px + 100vw)/2);
                        }
                    }

                }

    		}
    	}

    }
}
