.language-selector, .language-lock-selector {
    position: absolute;
    right: 24px;
    top: 8px;

    img {
        height: 0.8em;
        width: 1.2em;
        vertical-align: baseline;
    }
}

.content-area .language-selector {
    right: 8px;
}

.language-lock-selector {
    position: static;
    display: inline-block;
}
