.login-page {

	h1,h2,h3,h4 {

		text-align: center;
		color: $deepBlue;
		margin: 90px 0 20px 0;
		padding: 0;

	}

	.content {

		background: $white;
		color: $anthracite;
		padding: 20px;
		margin-bottom: 30px;

		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;

		hr {
			height: 1px;
			border: 0;
			border-bottom: 1px solid $grey;
			margin: 50px 0 30px 0;
		}

		input.form-control {
			text-align: center;
			font-size: 14pt;
			height: 38px;
			width: 40%;
			margin: 0 auto;
			color: $lilacDark;
			border-color: $lilacDark;
			border-radius: 0;
		}
	}

	.xlnc-Tools-auth-form-submit, .xlnc-Tools-auth-form-submit-arrow {
		display: block;
		color: $lilacDark;
		font-size: 17pt;
		font-family: "Anivers W01 Regular","Helvetica","Verdana",sans-serif;
	}
	.xlnc-Tools-auth-form-submit:hover, .xlnc-Tools-auth-form-submit:active, .xlnc-Tools-auth-form-submit:focus {
		text-decoration: none;
	}

	.xlnc-Tools-auth-form-submit {
		margin-bottom: 90px;
	}
}