@media (max-width: 1220px) {

	.xlnc-Tools-survey {

		.xlnc-Tools-survey-item {

			.xlnc-Tools-survey-answer:first-child {

				background-image: none;

			}

		}

	}

}

@media (max-width: 768px) {

	.login-page {

		input.form-control {

			width: 100% !important;

		}

	}

	.xlnc-Tools {

		.xlnc-Tools-content {
			padding: 20px 0;

			.xlnc-Tools-survey-form-answers {

				padding-left: 0;
    			padding-right: 0;

			}

		}

	}

}

/*XLNC Corporate Facelift*/
@media (max-width: 767px) {
	
	.xlnc-Tools {

		.xlnc-Tools-dashboard {

			.xlnc-Tools-dashboard-listItem {

				border-left: none !important;
				& + .xlnc-Tools-dashboard-listItem {
					border-top: 1px solid $middleGrey;
				}

				padding-top: 50px;

				&:first-child {
					border-top: none;
					padding-top: 0;
				}

			}

		}

		

	}

	.xlnc-corporate {

		.footer {

			.footer-menu {
				margin-top: 50px;
				margin-bottom: 50px;

				.footer-menu-item {
					width: 100%;
					display: block;
					text-align: center;
				}

			}

			.claim {
				margin-top: 50px;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				padding-bottom: 45px;
				margin-bottom: 0px;
				text-align: center;
			}

		}

	}

}
