.default-page.frontpage, .default-page.contentpage {
	.navigation {

		.navbar {
			margin-bottom: 0px;
		}

		.navbar-nav {
			float: right;

			li {
				a {
					font-family: 'Trade Gothic W01 Light', Helvetica, Verdana, sans-serif;
				}
			}
		}

		.navbar-toggle .icon-bar {
			background: $anthracite;
		}
	}

	.page .container .claim {
		top: 46px;
		bottom: auto;
	}
}

/*XLNC Corporate Facelift START*/

.xlnc-corporate {

	.header-area {
		height: 110px;
		position: relative;

		.claim {
			position: absolute;
			display: block;
			z-index: 100;

			.video {
				float: left;
				z-index: 1;
				padding-top: 41px;
				position: relative;
                display: none;
			}
            &.show-video {
                .logo-image-link {
					display: none;
				}

                .video {
                    display: inline;

                }
                #logo {
                    background: none;
                }
            }


				.logo-image {
					display: inline;
				}

		}

		.navigation {
			padding-top: 42px;

			.navbar {
				margin-bottom: 0px;
			}

			.navbar-nav {
				float: right;

				.active {

					hr {
						margin-top: 0px;
						margin-bottom: 0px;
						border-top: 1px solid #9D9D9C;
						width: 40px;
					}

				}

				li {
					a {
						font-family: 'Trade Gothic W01 Light', Helvetica, Verdana, sans-serif;
						font-size: 14px;
						padding-right: 14px;
					}
				}

				li:last-child {
					a {
						font-family: 'Trade Gothic W01 Bold', Helvetica, Verdana, sans-serif;
                        margin-top: -1px;

                        @-moz-document url-prefix() {
                            margin-top: 1px;
                        }
					}
				}

				.with-submenu {

					.submenu {

						li {

							a {
								padding-right: 15px;
								text-decoration: none;
								font-family: 'Trade Gothic W01 Light', Helvetica, Verdana, sans-serif;
							}
						}

					}

				}

			}
			.language{
				list-style-type:none;
				float:right;
				height: 36px;
				margin-bottom: 0;
				margin-left: 15px;
				li{
					float:left;
					a{
						font-family: 'Trade Gothic W01 Light', Helvetica, Verdana, sans-serif;
						font-size: 14px;

						padding-top: 4.5px;
						padding-bottom: 4.5px;
						line-height: 21px;
						display: block;
					}
				}
				.current{
					display:none;
				}
			}

			.navbar-toggle .icon-bar {
				background: #464b60;
				margin-bottom: 8px;
				width: 40px;
				height: 3px;
			}
		}
	}

}

@media (min-width: 992px) {
	.xlnc-corporate {

		.navbar-collapse.collapse {
		    display: block !important;
		    height: auto !important;
		    padding-bottom: 0;
		    overflow: visible !important;
		}

		.navbar-toggle {
		    display: none;
		}

        .navbar-nav {
            height: 36px; /* attempt #4 for fixing the "hover bug" in safari */
        }

        .with-submenu {
            -webkit-box-sizing: content-box;
            &:hover {
                border-bottom: 20px solid transparent;
            }
		}
	}

}

@media (max-width: 991px) {
	.xlnc-corporate {
		.header-area {
			.navigation {
    			padding-top: 32px;
			}
			.navigation .navbar-nav {
				float: none;
				background: white;

			}
			.navigation .language{
				float: none;
				li{
					border-bottom: solid #9d9d9d 1px;
				}
			}
		}

		.header-area {
			height: 90px;
			
			.claim {
				#logo {
					margin-left: 0px;
					height: 34px;
					margin-top: 22px;
				}

				.logo-image-link {
					top: 26px;
					position: relative;
					float: left;
					display: block;
				}

				.logo-image {
					width: auto;
					height: 34px;
					display: block;
				}

			}

		}

		.navbar-nav>li>a {
			padding: 0.8em;
		}

        .header-area .navigation .navbar-nav .with-submenu .submenu li a {
            padding-left: 15px;
        }

        .header-area .navigation .navbar-nav li a {
            padding-right: 0.8em;
        }

        .header-area .navigation .navbar-nav > li > a {
            font-family: 'Trade Gothic W01 Bold', Helvetica, Verdana, sans-serif;
        }

		.navbar-collapse {
			display: none !important;
			text-align: center;
			background: white;
			margin-top: 20px;
			border-radius: 5px;
			border: 1px solid $greyBlue;
			position: relative;
			z-index: 2;

			ul li {
				border-bottom: solid $middleGrey 1px;
				width: 90%;
				left: 5%;
				z-index: 500;

				a:hover {
					background-color: $lilacLight;
				}

				&:last-child {
					border-bottom: solid white 1px;
				}
			}

			&.in, &.collapsing {
				display: block !important;
				overflow-y: auto !important;
				right: 0;
				z-index: 300;
			}
		}

		.navbar-header {
		    float: none;
		}

		.navbar-toggle {
		    display: block;
		    margin-right: 0px;
		    padding: 0px;
		}
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.xlnc-corporate {
		.navbar-collapse {
			&.in, &.collapsing {
				width: 50%;
				margin-left: 50%;
			}
		}
	}
}
.xlnc-corporate {

	.with-submenu a {
		cursor: pointer;
	}

	.navbar-collapse .submenu {
		display: block;
		padding: 0;

		& > li {
			list-style-type: none;
			text-align: center;
			width: 100%;
			left: 0;
			border-bottom-color: transparent;

			a {
				padding: 10px 20px;
				display: block;
				font-size: 0.9em;

				&:hover {
					background: $lilacLight;
				}
			}
		}
	}


}

@media (min-width: 992px) {
	.xlnc-corporate {
		.with-submenu:hover {

			.submenu {
				display: block;
				z-index: 2;
				border: 1px solid $greyBlue;
			}
		}

		.navbar-collapse .submenu {
			display: none;
			margin: 0;
			padding: 10px;
			background-color: white;
			border-radius: 5px;
			position: absolute;
			font-size: 0.9em;
			left: 50%;
			margin-left: -111px - 3px;
			margin-top: 20px;

			&:before {
                content: '';
                display: block;
                height: 10px;
                width: 10px;
                position: absolute;
                top: -6px;
                left: calc(50% - 3px);
                border-bottom: 1px solid #efefef;
                border-right: 1px solid #efefef;
                transform: rotate(-135deg);
                background-color: #FFF;


			}

			li {
				border-bottom: 1px solid $middleGrey;

				&:last-child {
					border-bottom-color: transparent;
				}

				a {
					width: 200px;
				}
			}


		}

	}

}

@media (max-width: 991px) {

	.xlnc-corporate {

		.header-area {
			.claim {

                .video {
                    video {
                        display: none;
                    }
                }

                &.show-video .logo-image-link {
                    display: block;
                }

				.logo-image-link {
					top: 26px;
					position: relative;
					float: left;
					display: block;
					margin-top: 0 !important;
				}

				.logo-image {
					width: auto;
					height: 34px;
					display: block;
				}

				#logo {
					display: none;
				}
			}

			.navigation {

				.navbar-nav {

					.active {

						hr {
							display: none;
						}

					}

				}

				.navbar-toggle {

					.icon-bar {
						height: 4px;
					}

				}

			}

		}


		.navbar-toggle {
			margin-top: -7px;
		}

	}

}



	.xlnc-corporate {
		.header-area {
			.claim {



				.logo-image-link {
					display: block;
					float: left;
					margin-top: 32px;
                    position: relative;
                    z-index: 2;

					.logo-image {
						display: block;
						height: 34px;
						width: auto;
					}
				}
			}
		}

	}


@media (max-width: 767px) {
	.xlnc-corporate {
		.header-area {
			height: 90px;
		}
	}
}

/*XLNC Corporate Facelift END*/

@media (min-width: 992px) {
	.default-page.frontpage, .default-page.contentpage {
		.navbar-collapse.collapse {
		    display: block !important;
		    height: auto !important;
		    padding-bottom: 0;
		    overflow: visible !important;
		}

		.navbar-toggle {
		    display: none;
		}
	}

}


@media (max-width: 991px) {
	.default-page.frontpage, .default-page.contentpage {
		.navigation .navbar-nav {
			float: none;
			background: white;

		}

		.navbar-nav>li>a {
			padding: 0.8em;
		}

		.navbar-collapse {
			display: none !important;
			text-align: center;
			background: white;
			margin-top: 20px;
			border-radius: 5px;
			padding: 10px;
			border: 1px solid $greyBlue;
			position: relative;
			z-index: 2;

			ul li {
				border-bottom: solid $middleGrey 1px;
				width: 90%;
				left: 5%;

				a:hover {
					background-color: $lilacLight;
				}

				&:last-child {
					border-bottom: solid white 1px;
				}
			}

			&.in, &.collapsing {
				display: block !important;
				overflow-y: auto !important;
				right: 0;
			}
		}

		.navbar-header {
		    float: none;
		}

		.navbar-toggle {
		    display: block;
		}
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.default-page.frontpage, .default-page.contentpage {
		.navbar-collapse {
			&.in, &.collapsing {
				width: 50%;
				margin-left: 50%;
			}
		}
	}
}
.default-page.frontpage, .default-page.contentpage {

	.with-submenu a {
		cursor: pointer;
	}

	.navbar-collapse .submenu {
		display: block;
		padding: 0;

		& > li {
			list-style-type: none;
			text-align: center;
			width: 100%;
			left: 0;
			border-bottom-color: transparent;

			a {
				padding: 10px 20px;
				display: block;
				font-size: 0.9em;

				&:hover {
					background: $lilacLight;
				}
			}
		}
	}


}

@media (min-width: 992px) {
	.default-page.frontpage, .default-page.contentpage {
		.with-submenu:hover {
			border-bottom: 20px solid transparent;

			.submenu {
				display: block;
				z-index: 2;
				border: 1px solid $greyBlue;
			}
		}

		.navbar-collapse .submenu {
			display: none;
			margin: 0;
			padding: 10px;
			background-color: white;
			border-radius: 5px;
			position: absolute;
			left: -60px;
			font-size: 0.9em;
			margin-top: 20px;

			&:before {
				content: '';
				display: block;
				height: 0;
				width: 0;
				position: absolute;
				top: -10px;
				left: 50%;
				border-bottom: 10px solid white;
				border-right: 10px solid transparent;
				border-left: 10px solid transparent;
				margin-left: -10px;
			}

			li {
				border-bottom: 1px solid $middleGrey;

				&:last-child {
					border-bottom-color: transparent;
				}

				a {
					width: 200px;
				}
			}


		}

	}

}
