
.closed {
    display: none;
}

.popup {
    position: fixed;
    z-index: 9000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    display: none;

    &.open {
        display: block;

    }

    .btn {
        white-space: normal;
    }

}
.popup-background {

    // background-image: linear-gradient(-45deg,
    // rgba(12,12,12,0.3)  0%,
    // rgba(12,12,12,0.3)  25%,
    // $grey               25%,
    // $grey               50%,
    // rgba(12,12,12,0.3)  50%,
    // rgba(12,12,12,0.3)  75%,
    // $grey               75%,
    // $grey
    // );
    // background-size: 12px 12px;
    background-color: transparentize($anthracite, 0.2);
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.popup-content {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-top: 1px solid $anthracite;
    border-bottom: 1px solid $anthracite;
    width: 100%;
}
