.tx_gridelements_reference_gallery_facelift {


    .reference-background:hover {
        .reference-normal {
            opacity:0;
        }
        .reference-hover {
            opacity:1;
        }
    }

    .reference-background {
        background-color: $lighterGrey;
    }

    .reference-wraper {
        padding-bottom: 30px;
        position: relative;
    }

    .reference {
        width:100%;

        .ce-gallery {
            margin: 0;
        }
        .ce-outer, .ce-inner, .ce-column {
            float: none;
            position: static;
        }
        .ce-media{
            img {
                width:100%;
                height: auto;
            }
        }
    }

    .reference-hover {
        position: absolute;
        top: 0;
        opacity: 0;
    }


}
