.frontpage {
	background-image: url("../../Images/Backgrounds/XLNC_Hintergrund_Start.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.tx_gridelements_col_one {
	background-color: #ffffff;
	padding-top: 70px;

	.align-center {
		text-align: center;
	}

	.ce-media {
		margin-top: 10px;
		margin-bottom: 12px;
	}

	h1, h2, h3, h4, h5, h6 {
		line-height: 1.3em;
		color: #000000;
	}

	hr {
		border-top: 1px solid #000;
		margin-top: 15px;
		margin-bottom: 0px;
		width: 95%;
	}
}


.tx_gridelements_col_two {
	background-color: #ffffff;
	padding-bottom: 40px;

	.align-center {
		text-align: center;
	}

	.ce-media {
		margin-top: 10px;
		margin-bottom: 12px;
	}

	.col-bottom {
		margin-bottom: 40px;
	}

	h1, h2, h3, h4, h5, h6 {
		line-height: 1.3em;
		color: #000000;
	}
}

.tx_gridelements_col_three {
	background-color: #ffffff;
	padding-bottom: 40px;

	.align-center {
		text-align: center;
	}

	.ce-media {
		margin-top: 10px;
		margin-bottom: 12px;
	}

	.col-bottom {
		margin-bottom: 40px;
	}

	h1, h2, h3, h4, h5, h6 {
		line-height: 1.3em;
		color: #000000;
	}

	&.without-container {
		padding-bottom: 0;
	}
}

.tx_gridelements_green_content {
	background-color: #A1C6BA;

	.align-center {
		text-align: center;
	}

	h1, h2, h3, h4, h5, h6 {
		line-height: 1.3em;
		color: #000000;
	}
}
