.xlnc-corporate {

	.tx_gridelements_site_picture {
		position: relative;
        margin-left:20px;
        margin-right:20px;

		.smartphone {
			display: none;
		}

		.landscape {
			display: none;
		}

        .slide-text {

            text-align: center;
            position: absolute;
            top: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1 {
                padding:6px;
                font-size: 32px;
                margin-top: 10.5px;
                margin-bottom: 10.5px;
                width: 100%;
            }
        }

        color: #494b61;
        h1, h2, h3, h4, h5, h6, p {
            color: #494b61;
        }

        .text-white {
            color: white;

            h1, h2, h3, h4, h5, h6, p {
                color: white;
                text-shadow: 0 0 2px rgba(0, 0, 0, 0.4), 0 0 15px rgba(0, 0, 0, 0.6);
            }

            .white-box {
                color: #494b61;
                h1, h2, h3, h4, h5, h6, p {
                    color: #494b61;
                }
            }
        }

		.ce-gallery {
			margin-bottom: 0px;
			margin-left: 0px;

            img {
                max-width: none;
            }
		}


	}

}

@media (min-width: 1600px) {
    .xlnc-corporate {

    	.tx_gridelements_site_picture {


            .desktop {

                .ce-gallery {

                    position: relative;
                    width:100%;
                    .ce-column {
                        width:100%;


                        img {
                            width:100%;
                            height: auto;
                            margin-top: calc((-25vw + 460px )/2);

                        }
                    }
                }

    		}
    	}

    }
}

@media (max-width: 1600px) {
    .xlnc-corporate {

    	.tx_gridelements_site_picture {


            .desktop {
                .ce-gallery {
                    // position: relative;
                    // width:100%;
                    margin-top: 0px;
                    
                    .ce-column {
                        width:100%;
                        img {
                            width: 1600px;
                            height: auto;
                        }
                    }

                }

    		}
    	}

    }
}

@media (max-width: 767px) {

	.xlnc-corporate {

		.tx_gridelements_site_picture {

			.slide-text {

                h1 {
                    padding:6px;
                }

				.ce-textpic {
					height: auto;
				}
			}

			.desktop {
				display: none;
			}

			.smartphone {
				display: block;
                height: auto;
				max-height: calc(100vh - 90px);

				.ce-textpic {
					position: relative;

					img {
						display: block;
						height: auto;
						width: 100%;
						bottom: 0;
						left: 0;
					}

				}

			}

			.landscape {
				display: none;
			}

		}

	}

}


/* Smartphone Landscape */
@media (max-height: 384px) {

	.xlnc-corporate {

        .tx_gridelements_no_background {
            margin-top: -50px;
        }

		.tx_gridelements_site_picture {

        	.ce-bodytext {
        		display: block;
        	}

			.text {
				height: 140px;
				position: absolute;
				top: 0;
				width: 100%;
			}

			.align-center {
				height: auto;
				width: auto;
				float: right;
				right: 15px;
				top: 35px;
			}

			.ce-textpic {
				position: relative;
				height: calc(100vh - 90px);
			}

			.desktop {
				display: none;
			}

			.smartphone {
				display: none;
			}

			.landscape {
				display: block;
				height: auto;
				margin-top: 0px;

				img {
					height: auto;
					width: 100%;
				}

			}

		}

	}

}
