.xlnc-Tools {

	padding-bottom: 30px;

	/* Dashboard */
	.xlnc-Tools-dashboard {

		.dashboard-status {
			background: $lilacDark;
			padding: 1em;
			color: white;
			font-weight: bold;
			border-radius: 4px;
			margin-top: 0.5em;
			margin-bottom: 2em;

			.finePrint {
				font-weight: normal;;
			}
		}

		h3 {
			margin-top: 0;
			text-align: center;
		}

		.xlnc-Tools-dashboard-listItem {

			padding-bottom: 50px;
			& + .xlnc-Tools-dashboard-listItem {
				border-left: 1px solid $middleGrey;
			}
			&:first-child {
				border-left: none;
			}
			font-size: 10pt;

			a {
				font-size: 12pt;
				&:hover {
					text-decoration: none;
				}
			}

			.xlnc-Tools-dashboard-progressIcon {

				position: relative;
				width: 110px;
				height: 110px;
				margin: 20px auto 40px auto;

				.xlnc-Tools-dashboard-progressIcon-text {

					position: absolute;
					z-index: 3;
					width: 100%;
					text-align: center;
					font-family: "Anivers W01 Regular","Helvetica","Verdana",sans-serif;
					font-size: 18pt;
					color: $xlncGreen;
					bottom: 37px;

				}
				.xlnc-Tools-dashboard-progressIcon-text-Tx_XlncTools_LeadershipTool {
					color: $xlncBlue;
				}
				.xlnc-Tools-dashboard-progressIcon-text-Tx_XlncTools_ClimateTool {
					color: $xlncOrange;
				}

			}

			.xlnc-Tools-dashboard-listItem-finishedText {
				font-size: 12pt;
				color: $middleGrey;
			}

		}


	}

	/* Persomal data form */
	.xlnc-Tools-personalDataForm {

		form {

			.row {

				padding-bottom: 10px;

				.alert {
					padding: 5px 15px;
				}

			}

		}

	}

	/* Survey */

	.xlnc-Tools-survey-titlebar {
		margin: 20px 0 20px 0;

		.close {
			font-size: 48px;
		}
	}

	.xlnc-Tools-survey-title{

		h1 {
			display: none;
		}

		&.xlnc-Tools-survey-title-Tx_XlncTools_LeadershipTool {
			display: block;
			width: 200px;
			height: 47px;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url(/typo3conf/ext/xlnc_tools/Resources/Public/Images/xlnc_s_small.png);
		}
		&.xlnc-Tools-survey-title-Tx_XlncTools_ClimateTool {
			display: block;
			width: 200px;
			height: 46px;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url(/typo3conf/ext/xlnc_tools/Resources/Public/Images/xlnc_c_small.png);
		}
	}

	.xlnc-Tools-survey {

		.xlnc-Tools-survey-legend{

			background: $greyBlue;
			padding: 5px 10px;

			color: $lilacDark;
			font-weight: bold;

			.fa {
				font-size: 20px;
				color: $lilacDark;
				margin-right: 8px;
			}
		}

		.xlnc-Tools-survey-header {

			float: left;
			width: 14%;
			overflow: hidden;

			font-family: "Trade Gothic W01 Light","Helvetica","Verdana",sans-serif;
			font-size: 11pt;
			color: $grey;

			min-height: 40px;
			margin-bottom: 10px;

			&:last-child {
				color: $grey;
			}
			&:first-child {
				color: $grey;
			}
		}

		.xlnc-Tools-survey-item {

			.row {
				min-height: 45px;
			}

			&:nth-of-type(2n) {
				border-bottom: 1px solid $grey;
				margin-bottom: 15px;
				padding-bottom: 15px;
			}

			.xlnc-Tools-survey-answer {
				float: left;
				width: 14%;
				overflow: hidden;
				color: $grey;

				&:first-child {
					text-align: right;
					overflow: visible;
					direction: rtl;
				}
			}

			.xlnc-Tools-survey-item-question, .xlnc-Tools-survey-item-question-appropriate {
				font-family: "Anivers W01 Regular","Helvetica","Verdana",sans-serif;
				font-size: 13pt;
				color: $deepBlue;
			}
			.xlnc-Tools-survey-item-question-appropriate {
				font-family: "Trade Gothic W01 Light","Helvetica","Verdana",sans-serif;
				font-style: italic;
			}

			input[type="radio"] {
				display: none;
				height: 24px;
			}
			.xlnc-Tools-survey-item-label:before {
			    content: "";
			    display: inline-block;
			 	cursor: pointer;
			    width: 21px;
			    height: 21px;
			}

		}

		.xlnc-Tools-survey-climateItem {

			.fa {
				font-size: 28px;
				line-height: 18px;
				color: $lilacDark;
				margin-right: -18px;
			}

		}

		.xlnc-Tools-survey-textItem {

			border-bottom: 2px solid $greyBlue;
			margin-bottom: 15px;
			padding-bottom: 15px;

		}

	}

	.xlnc-Tools-survey-next {

		display: block;
		text-align: center;
		border-left: 1px solid $greyBlue;

		h4 {
			font-size: 17pt;
		}

		&:hover, &:focus, &:active {
			text-decoration: none;
		}

		.xlnc-Tools-survey-next-btn {
			display: block;
			height: 40px;
		}
	}

	.xlnc-Tools-survey-progress {

		clear: both;
		margin-top: 14px;
		margin-bottom: -30px;
		height: 60px;

		.xlnc-Tools-survey-progress-currentPage-indicator {
			height: 14px;
			font-size: 24px;
			margin-top: -8px;
		}
		.xlnc-Tools-survey-progress-item {

			float: left;
			color: $grey;
			height: 30px;
			line-height: 30px;
			font-family: "Anivers W01 Regular","Helvetica","Verdana",sans-serif;
			text-align: center;

			.pipe {
				border-right: 1px solid $grey;
			}
		}
		.xlnc-Tools-survey-progress-indicator-item {
			height: 14px;
		}

	}

	.xlnc-Tools-content {
		padding: 20px;
	}

}

.xlnc-Tools-leadershipTool-page, .xlnc-Tools-climateTool-page {
	.header-area{
		display: none;
	}
}
.xlnc-Tools-leadershipTool-page {
	.xlnc-Tools-survey-progress-currentPage-indicator {
		color: $xlncBlue;
	}
}
.xlnc-Tools-climateTool-page {
	.xlnc-Tools-survey-progress-currentPage-indicator {
		color: $xlncOrange;
	}
}

@media(max-width: 1200px) {
	.xlnc-Tools .xlnc-Tools-survey .xlnc-Tools-survey-header {
		font-size: 10pt;
	}
}

.xlnc-Tools .xlnc-Tools-survey .xlnc-Tools-survey-header {
	transform: translateX(50%) rotate(-60deg);
	overflow: visible;
	transform-origin: bottom left;
	height: 3em;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: left;

	line-height: 1.1em;

	&:first-child, &:last-child {
		transform: none;
		text-align: center;
	}
}

@media(max-width: 767px) {
	.xlnc-Tools .xlnc-Tools-survey .affixed {

		width: 100%;
		background: white;
		z-index: 2;
		position: fixed;
		top: 0;
	}
}
