.xlnc-corporate {
    .white-box {
        background: white;
        height: 380px;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;

        h1, h2, h3, h4, h5, h6 {
            margin-top: 10px;
        }
    }
}

@media (max-width: 767px) {
    .xlnc-corporate {
        .white-box {
            margin-top: 0px;
            height: auto;
        }
    }
}
