{namespace vhsroyal=Fhkonzept\VhsRoyal\ViewHelpers}
<vhsroyal:gfx.chart width="1440" height="720" dest="R" preset="barchartSelf" data="{_all}">

	<!-- Chart data -->
	<vhsroyal:gfx.chart.add.points Values="{preset.serie1Values}" SerieName="{preset.serie1Name}" />
	<vhsroyal:gfx.chart.set.seriedescription Series="{preset.serie1Name}" Description="{preset.serie1Description}" />
	<vhsroyal:gfx.chart.set.serieonaxis AxisID="0" Series="{preset.serie1Name}" />
	<vhsroyal:gfx.chart.set.axiscolor AxisID="0" Format="{R: 255, G: 255, B: 255}" />

	<vhsroyal:gfx.chart.add.points Values="{preset.serie3Values}" SerieName="{preset.serie3Name}" />
	<vhsroyal:gfx.chart.set.abscissa Serie="{preset.serie3Name}" />

	<vhsroyal:gfx.chart.set.axisposition AxisID="0" Position="{preset.axisPosition}" />
	<vhsroyal:gfx.chart.set.axisname AxisID="0" Name="" />
	<vhsroyal:gfx.chart.set.axisunit AxisID="0" Unit="%" />

	<!-- Attach data to chart -->
	<vhsroyal:gfx.chart.set.dataset />

	<!-- Draw chart -->
	<vhsroyal:gfx.chart.set.grapharea X1="{preset.graphareaX1}" Y1="{preset.graphareaY1}" X2="{preset.graphareaX2}" Y2="{preset.graphareaY2}" />

	<!-- font -->
	<vhsroyal:gfx.chart.set.fontproperties Format="{preset.blueFontFormat}" />

	<!-- chart bar colors -->
	<vhsroyal:gfx.chart.set.palette Series="{preset.serie1Name}" Format="{preset.serie1Palette}" />

	<!-- Scale -->
	<vhsroyal:gfx.chart.draw.scale Format="{preset.scaleFormat}" />

	<!--Thresholds -->
	<f:for each="{preset.thresholds.items}" as="threshold">
		<vhsroyal:gfx.chart.draw.threshold Value="{threshold.value}" Format="{preset.thresholds.format}" />
		<vhsroyal:gfx.chart.draw.text X="{threshold.X}" Y="{preset.thresholds.upperTextY}" Text="{threshold.label}" Format="{preset.thresholds.textFormat}" />
	</f:for>

	<!-- Lines between Thresholds -->
	<f:for each="{preset.thresholds.lines.positions}" as="line">
		<vhsroyal:gfx.chart.draw.line
			X1="{line.X}"
			Y1="{preset.thresholds.lines.startY}"
			X2="{line.X}"
			Y2="{preset.thresholds.lines.endY}"
			Format="{preset.thresholds.lines.format}" />
	</f:for>

	<!--Threshold labels -->
	<f:for each="{preset.thresholds.lines.positions}" as="line">
		<vhsroyal:gfx.chart.draw.text
			X="{line.X}"
			Y="{preset.thresholds.lines.labelY}"
			Text="{line.label}"
			Format="{preset.thresholds.lines.format}" />
	</f:for>
	<!-- Chart -->
	<vhsroyal:gfx.chart.draw.barchart Format="{preset.chartFormat}" />

	<!--Legend -->
	<!-- Text for Legend -->
    <vhsroyal:gfx.chart.draw.text X="{preset.legendHeaderX}" Y="{preset.legendHeaderY}" Text="{f:translate(key: 'reports.styles.charts.situation', extensionName:'xlnc_tools')}" Format="{preset.legendFormat}" />

	<vhsroyal:gfx.chart.draw.roundedfilledrectangle Radius="4" X1="{preset.legendBox1X1}" Y1="{preset.legendBox1Y1}" X2="{preset.legendBox1X2}" Y2="{preset.legendBox1Y2}" Format="{preset.legendBox1Format}" />
	<vhsroyal:gfx.chart.draw.text X="{preset.legendText1X}" Y="{preset.legendTextY}" Text="{f:translate(key: 'reports.styles.charts.sit.1', extensionName:'xlnc_tools')}" Format="{preset.legendFormat}" />

	<vhsroyal:gfx.chart.draw.roundedfilledrectangle Radius="4" X1="{preset.legendBox2X1}" Y1="{preset.legendBox2Y1}" X2="{preset.legendBox2X2}" Y2="{preset.legendBox2Y2}" Format="{preset.legendBox2Format}" />
	<vhsroyal:gfx.chart.draw.text X="{preset.legendText2X}" Y="{preset.legendTextY}" Text="{f:translate(key: 'reports.styles.charts.sit.2', extensionName:'xlnc_tools')}" Format="{preset.legendFormat}" />

	<vhsroyal:gfx.chart.draw.roundedfilledrectangle Radius="4" X1="{preset.legendBox3X1}" Y1="{preset.legendBox3Y1}" X2="{preset.legendBox3X2}" Y2="{preset.legendBox3Y2}" Format="{preset.legendBox3Format}" />
	<vhsroyal:gfx.chart.draw.text X="{preset.legendText3X}" Y="{preset.legendTextY}" Text="{f:translate(key: 'reports.styles.charts.sit.3', extensionName:'xlnc_tools')}" Format="{preset.legendFormat}" />

	<vhsroyal:gfx.chart.draw.roundedfilledrectangle Radius="4" X1="{preset.legendBox4X1}" Y1="{preset.legendBox4Y1}" X2="{preset.legendBox4X2}" Y2="{preset.legendBox4Y2}" Format="{preset.legendBox4Format}" />
	<vhsroyal:gfx.chart.draw.text X="{preset.legendText4X}" Y="{preset.legendTextY}" Text="{f:translate(key: 'reports.styles.charts.sit.4', extensionName:'xlnc_tools')}" Format="{preset.legendFormat}" />

	<vhsroyal:gfx.chart.draw.roundedfilledrectangle Radius="4" X1="{preset.legendBox5X1}" Y1="{preset.legendBox5Y1}" X2="{preset.legendBox5X2}" Y2="{preset.legendBox5Y2}" Format="{preset.legendBox5Format}" />
	<vhsroyal:gfx.chart.draw.text X="{preset.legendText5X}" Y="{preset.legendTextY}" Text="{f:translate(key: 'reports.styles.charts.sit.5', extensionName:'xlnc_tools')}" Format="{preset.legendFormat}" />


</vhsroyal:gfx.chart>
