<div class="row xlnc-Tools-survey-titlebar">
	<div class="col-sm-6 text-left">
		<div class="xlnc-Tools-survey-title xlnc-Tools-survey-title-{tool.txExtbaseType}">
			<h1>{tool.title}</h1>
			<div class="executiveName-container">
				<span class="executiveName">
					<f:translate key="static.title.executiveName"></f:translate> {sheet.team.firstName} {sheet.team.lastName}
				</span>
			</div>
		</div>
	</div>
	<div class="col-sm-6 text-right">
		<f:link.action action="interrupt" title="{f:translate(key: 'static.survey.interrupt')}" class="close action-interrupt">
			<f:image src="EXT:xlnc_tools/Resources/Public/Images/XLNC_Button_Close_Hover.png" />
		</f:link.action>
	</div>
</div>
