{namespace vhsroyal=Fhkonzept\VhsRoyal\ViewHelpers}
<vhsroyal:mail.mailMessage>

	<!-- Setters -->
	<vhsroyal:mail.mailMessage.setter.subject>Test mail from Mailmessage ViewHelper</vhsroyal:mail.mailMessage.setter.subject>
	<vhsroyal:mail.mailMessage.setter.from>test@localhost</vhsroyal:mail.mailMessage.setter.from>
	<vhsroyal:mail.mailMessage.setter.to>fischer@fh-konzept.de</vhsroyal:mail.mailMessage.setter.to>

	<!-- Elements -->
	<vhsroyal:mail.mailMessage.element.body>

		<table class="row">
            <tr>
                <td>
                    <table class="container">
                        <tr>
                            <td class="wrapper last">

                                <table class="twelve columns">
                                    <tr>
                                        <td class="two sub-columns">
                                            Hallo Mail!
                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

	</vhsroyal:mail.mailMessage.element.body>

	<vhsroyal:mail.mailMessage.element.attachment name="myAttachment.png">
		<f:uri.resource path='Images/logo.png' />
	</vhsroyal:mail.mailMessage.element.attachment>

</vhsroyal:mail.mailMessage>