{namespace be = TYPO3\CMS\Backend\ViewHelpers}
<f:layout name="Backend" />

<f:section name="headline">
	Status
</f:section>

<f:section name="content">

	<a class="btn btn-default pull-right" href="{newCustomerUrl}&returnUrl={{controller.appHref}}" style="margin-top: -40px;">
		<i class="fa fa-plus"></i> Kunden anlegen
	</a>

	<div class="panel panel-space panel-default" ng-repeat="customer in controller.data.customers">
		<div class="panel-heading">
			<a><i class="fa fa-bank"></i> {{customer.title}}</a>
			<a
				href="{{customer.actions.edit}}&returnUrl={{controller.appHref}}"
				class="btn btn-default pull-right"
				style="margin-top: -8px; margin-right: -8px;"
				data-title="Kunden '{{customer.title}}' bearbeiten"
				data-container="body"
				tooltip>
				<span class="collapseIcon"><span class="t3js-icon icon icon-size-small icon-state-default icon-actions-view-list-collapse" data-identifier="actions-view-list-collapse">
					<span class="icon-markup">
						<i class="fa fa-pencil"></i>
					</span>

				</span>

			</a>
		</div>

		<div class="table-fit">
			<f:render partial="Management/Project" />
		</div>
	</div>

	<f:render partial="Management/InviteLeaderByEmailModal" />

	<f:render partial="Management/InviteByMailModal" />

	<f:render partial="Management/InviteByCouponModal" />

	<f:render partial="Management/TeamInfoModal" />

	<f:render partial="Management/TeamReminderModal" />

	<script>
		(function($) {
			// move modals out of the TYPO3 backend scroll container
			// so that position: fixed actually shows them on screen
			// and not at the top of the page
			$( function() { ;
				$('.modal').appendTo($('.typo3-fullDoc').first());
			});
		})(TYPO3.jQuery);
	</script>

</f:section>
