<div class="footer" id="footer">
    <div class="container-fluid content">
        <div class="row">
            <div class="menu-float col-lg-5 col-lg-offset-1 col-sm-5 col-sm-offset-0 col-xs-12 col-xs-offset-0">
                <f:cObject typoscriptObjectPath="lib.menues.footer.col.one" />
                <f:cObject typoscriptObjectPath="lib.menues.footer.col.two" />
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-sm-5 col-sm-offset-1 col-xs-12 col-xs-offset-0">
                <f:if condition="{showClaim} == '1'">
                    <div class="claim">
                        ...inspiring High Performance Leadership.
                    </div>
                </f:if>
            </div>
        </div>
    </div>
</div>
