<div class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <f:cObject typoscriptObjectPath="lib.menues.footer" />
                <f:if condition="{showClaim} == '1'">
		    		<div class="claim hidden-sm hidden-xs">...inspiring High Performance Leadership.</div>
		    	</f:if>
            </div>
        </div>
    </div>
</div>
