<div class="row header-area">
    <div class="col-xs-3 col-sm-4 hidden-lg hidden-md"></div>
    <div id="logo" class="col-xs-6 col-sm-4 col-md-2 col-lg-2"></div>
    <div class="col-sm-10 hidden-xs hidden-sm text-right claim">...inspiring High Performance Leadership.</div>
    <div class="col-xs-3 col-sm-4 hidden-lg hidden-md"></div>
</div>
