<div class="navigation">
	<nav class="navbar">
			<div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
		        <span class="sr-only">Navigation einblenden</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#"></a>
		    </div>

	        <div class="collapse navbar-collapse" id="main-navbar">
	          <f:cObject typoscriptObjectPath="lib.menues.main" />

	        </div>
    </nav>
</div>