<div class="popup popup-interrupt">
    <div class="popup-background">
        <div class="popup-content col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h1>
                                <f:translate key="static.popup.logout.header" />
                            </h1>
                            <hr>
                            <p>
                                <f:translate key="static.popup.logout.text" />
                            </p>
                            <hr>
                            <div class="text-center">
                                <button class="btn btn-primary action-interrupt-dismiss">
                                    <f:translate key="static.popup.logout.dismiss" />
                                </button>
                                <f:link.action action="interrupt" extensionName="xlnctools" pluginName="tool" controller="Tool" class="btn btn-default action-interrupt-confirm">
                                    <f:translate key="static.popup.logout.confirm" />
                                </f:link.action>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
