{namespace vhsroyal=Fhkonzept\VhsRoyal\ViewHelpers}
<vhsroyal:gfx.chart width="1600" height="1120" dest="R" preset="TeamClimate/barchartComparison" data="{_all}">

	<!-- Chart data -->
	<vhsroyal:gfx.chart.add.points Values="{preset.serie1Values}" SerieName="{preset.serie1Name}" />
	<vhsroyal:gfx.chart.set.seriedescription Series="{preset.serie1Name}" Description="{preset.serie1Description}" />
	<vhsroyal:gfx.chart.set.serieonaxis AxisID="0" Series="{preset.serie1Name}" />

	<vhsroyal:gfx.chart.add.points Values="{preset.serie2Values}" SerieName="{preset.serie2Name}" />
	<vhsroyal:gfx.chart.set.seriedescription Series="{preset.serie2Name}" Description="{preset.serie2Description}" />
	<vhsroyal:gfx.chart.set.serieonaxis AxisID="0" Series="{preset.serie2Name}" />
	<vhsroyal:gfx.chart.set.axiscolor AxisID="0" Format="{R: 255, G: 255, B: 255}" />

	<vhsroyal:gfx.chart.add.points Values="{preset.serie3Values}" SerieName="{preset.serie3Name}" />
	<vhsroyal:gfx.chart.set.abscissa Serie="{preset.serie3Name}" />

	<vhsroyal:gfx.chart.set.axisposition AxisID="0" Position="{preset.axisPosition}" />
	<vhsroyal:gfx.chart.set.axisname AxisID="0" Name="" />
	<vhsroyal:gfx.chart.set.axisunit AxisID="0" Unit="%" />
	<vhsroyal:gfx.chart.set.axisdisplay AxisID="0" Mode="{preset.axisDisplayType}" Format="{preset.axisDisplayFunc}" />

	<!-- Attach data to chart -->
	<vhsroyal:gfx.chart.set.dataset />

	<!-- Draw chart -->
	<vhsroyal:gfx.chart.set.grapharea X1="{preset.graphareaX1}" Y1="{preset.graphareaY1}" X2="{preset.graphareaX2}" Y2="{preset.graphareaY2}" />

	<!-- font -->
	<vhsroyal:gfx.chart.set.fontproperties Format="{preset.blueFontFormat}" />

	<!-- chart bar colors -->
	<vhsroyal:gfx.chart.set.palette Series="{preset.serie1Name}" Format="{preset.serie1Palette}" />
	<vhsroyal:gfx.chart.set.palette Series="{preset.serie2Name}" Format="{preset.serie2Palette}" />

	<!-- Scale -->
	<vhsroyal:gfx.chart.draw.scale Format="{preset.scaleFormat}" />

	<!--Thresholds -->
	<f:for each="{preset.thresholds.items}" as="threshold">
		<vhsroyal:gfx.chart.draw.threshold Value="{threshold.value}" Format="{preset.thresholds.format}" />
		<vhsroyal:gfx.chart.draw.text X="{threshold.X}" Y="{preset.thresholds.upperTextY}" Text="{threshold.label}" Format="{preset.thresholds.textFormat}" />
	</f:for>

	<!-- Lines between Thresholds -->
	<f:for each="{preset.thresholds.lines.positions}" as="line">
		<vhsroyal:gfx.chart.draw.line
			X1="{line.X}"
			Y1="{preset.thresholds.lines.startY}"
			X2="{line.X}"
			Y2="{preset.thresholds.lines.endY}"
			Format="{preset.thresholds.lines.format}" />
	</f:for>

	<!--Threshold labels -->
	<f:for each="{preset.thresholds.lines.positions}" as="line">
		<vhsroyal:gfx.chart.draw.text
			X="{line.X}"
			Y="{preset.thresholds.lines.labelY}"
			Text="{line.label}"
			Format="{preset.thresholds.lines.format}" />
	</f:for>

	<vhsroyal:gfx.chart.draw.text X="{preset.thresholds.additionalLabelFormat.X}" Y="{preset.thresholds.upperTextY}" Text="{preset.thresholds.additionalLabelFormat.label}" Format="{preset.thresholds.additionalLabelFormat}" />
	<vhsroyal:gfx.chart.draw.text X="{preset.thresholds.additionalLabelFormat.X}" Y="{preset.thresholds.additionalLabelFormat.Y}" Text="{preset.thresholds.additionalLabelFormat.secondLabel}" Format="{preset.thresholds.additionalLabelFormat}" />


	<!-- Differences -->
	<vhsroyal:gfx.chart.draw.text X="{preset.differenceTextX}" Y="{preset.differenceTextY}" Text="" Format="{preset.legendFormat}" />

	<vhsroyal:gfx.chart.draw.filledrectangle X1="{preset.diffBars.0.X1}" Y1="{preset.diffBars.0.Y1}" X2="{preset.diffBars.0.X2}" Y2="{preset.diffBars.0.Y2}" Format="{preset.diffBarFormat}" />
	<vhsroyal:gfx.chart.draw.filledrectangle X1="{preset.diffBars.1.X1}" Y1="{preset.diffBars.1.Y1}" X2="{preset.diffBars.1.X2}" Y2="{preset.diffBars.1.Y2}" Format="{preset.diffBarFormat}" />
	<vhsroyal:gfx.chart.draw.filledrectangle X1="{preset.diffBars.2.X1}" Y1="{preset.diffBars.2.Y1}" X2="{preset.diffBars.2.X2}" Y2="{preset.diffBars.2.Y2}" Format="{preset.diffBarFormat}" />
	<vhsroyal:gfx.chart.draw.filledrectangle X1="{preset.diffBars.3.X1}" Y1="{preset.diffBars.3.Y1}" X2="{preset.diffBars.3.X2}" Y2="{preset.diffBars.3.Y2}" Format="{preset.diffBarFormat}" />
	<vhsroyal:gfx.chart.draw.filledrectangle X1="{preset.diffBars.4.X1}" Y1="{preset.diffBars.4.Y1}" X2="{preset.diffBars.4.X2}" Y2="{preset.diffBars.4.Y2}" Format="{preset.diffBarFormat}" />
	<vhsroyal:gfx.chart.draw.filledrectangle X1="{preset.diffBars.5.X1}" Y1="{preset.diffBars.5.Y1}" X2="{preset.diffBars.5.X2}" Y2="{preset.diffBars.5.Y2}" Format="{preset.diffBarFormat}" />
	<vhsroyal:gfx.chart.draw.filledrectangle X1="{preset.diffBars.6.X1}" Y1="{preset.diffBars.6.Y1}" X2="{preset.diffBars.6.X2}" Y2="{preset.diffBars.6.Y2}" Format="{preset.diffBarFormat}" />
	<vhsroyal:gfx.chart.draw.filledrectangle X1="{preset.diffBars.7.X1}" Y1="{preset.diffBars.7.Y1}" X2="{preset.diffBars.7.X2}" Y2="{preset.diffBars.7.Y2}" Format="{preset.diffBarFormat}" />
	<vhsroyal:gfx.chart.draw.filledrectangle X1="{preset.diffBars.8.X1}" Y1="{preset.diffBars.8.Y1}" X2="{preset.diffBars.8.X2}" Y2="{preset.diffBars.8.Y2}" Format="{preset.diffBarFormat}" />

	<vhsroyal:gfx.chart.draw.text X="{preset.differenceTextX}" Y="{preset.diffTextsY.0}" Text="← {preset.diffs.0}%" Format="{preset.diffFormats.0}" />
	<vhsroyal:gfx.chart.draw.text X="{preset.differenceTextX}" Y="{preset.diffTextsY.1}" Text="← {preset.diffs.1}%" Format="{preset.diffFormats.1}" />
	<vhsroyal:gfx.chart.draw.text X="{preset.differenceTextX}" Y="{preset.diffTextsY.2}" Text="← {preset.diffs.2}%" Format="{preset.diffFormats.2}" />
	<vhsroyal:gfx.chart.draw.text X="{preset.differenceTextX}" Y="{preset.diffTextsY.3}" Text="← {preset.diffs.3}%" Format="{preset.diffFormats.3}" />
	<vhsroyal:gfx.chart.draw.text X="{preset.differenceTextX}" Y="{preset.diffTextsY.4}" Text="← {preset.diffs.4}%" Format="{preset.diffFormats.4}" />
	<vhsroyal:gfx.chart.draw.text X="{preset.differenceTextX}" Y="{preset.diffTextsY.5}" Text="← {preset.diffs.5}%" Format="{preset.diffFormats.5}" />
	<vhsroyal:gfx.chart.draw.text X="{preset.differenceTextX}" Y="{preset.diffTextsY.6}" Text="← {preset.diffs.6}%" Format="{preset.diffFormats.6}" />
	<vhsroyal:gfx.chart.draw.text X="{preset.differenceTextX}" Y="{preset.diffTextsY.7}" Text="← {preset.diffs.7}%" Format="{preset.diffFormats.7}" />
	<vhsroyal:gfx.chart.draw.text X="{preset.differenceTextX}" Y="{preset.diffTextsY.8}" Text="← {preset.diffs.8}%" Format="{preset.diffFormats.8}" />


	<!-- Chart -->
	<vhsroyal:gfx.chart.draw.barchart Format="{preset.chartFormat}" />
	<vhsroyal:gfx.chart.set.fontproperties Format="{preset.mainFontFormat}" />

	<!--Legend -->
	<!-- Text for Legend -->
	<vhsroyal:gfx.chart.draw.text X="{preset.legendHeaderX}" Y="{preset.legendHeaderY}" Text="" Format="{preset.legendFormat}" />

	<vhsroyal:gfx.chart.draw.roundedfilledrectangle X1="{preset.legendBox1X1}" Y1="{preset.legendBox1Y1}" X2="{preset.legendBox1X2}" Y2="{preset.legendBox1Y2}" Radius="4" Format="{preset.legendBox1Format}" />
	<vhsroyal:gfx.chart.draw.text X="{preset.legendText1X}" Y="{preset.legendTextY}" Text="{f:translate(key: 'reports.climate.charts.selfIs', extensionName:'xlnc_tools')}" Format="{preset.legendFormat}" />

	<vhsroyal:gfx.chart.draw.roundedfilledrectangle X1="{preset.legendBox2X1}" Y1="{preset.legendBox2Y1}" X2="{preset.legendBox2X2}" Y2="{preset.legendBox2Y2}" Radius="4" Format="{preset.legendBox2Format}" />
	<vhsroyal:gfx.chart.draw.text X="{preset.legendText2X}" Y="{preset.legendTextY2}" Text="{f:translate(key: 'reports.climate.charts.forIs', extensionName:'xlnc_tools')}" Format="{preset.legendFormat}" />

	<!-- Abscissa Groupings -->
	<vhsroyal:gfx.chart.draw.filledrectangle X1="{preset.abscissaFormat.items.0.position.X1}" Y1="{preset.abscissaFormat.items.0.position.Y1}" X2="{preset.abscissaFormat.items.0.position.X2}" Y2="{preset.abscissaFormat.items.0.position.Y2}" Format="{preset.abscissaFormat.format.color}" />
	<vhsroyal:gfx.chart.draw.filledrectangle X1="{preset.abscissaFormat.items.1.position.X1}" Y1="{preset.abscissaFormat.items.1.position.Y1}" X2="{preset.abscissaFormat.items.1.position.X2}" Y2="{preset.abscissaFormat.items.1.position.Y2}" Format="{preset.abscissaFormat.format.color}" />
	<vhsroyal:gfx.chart.draw.filledrectangle X1="{preset.abscissaFormat.items.2.position.X1}" Y1="{preset.abscissaFormat.items.2.position.Y1}" X2="{preset.abscissaFormat.items.2.position.X2}" Y2="{preset.abscissaFormat.items.2.position.Y2}" Format="{preset.abscissaFormat.format.color}" />

	<vhsroyal:gfx.chart.draw.filledrectangle X1="{preset.abscissaFormat.textbox.0.position.X1}" Y1="{preset.abscissaFormat.textbox.0.position.Y1}" X2="{preset.abscissaFormat.textbox.0.position.X2}" Y2="{preset.abscissaFormat.textbox.0.position.Y2}" Format="{preset.abscissaFormat.format.blank}" />
	<vhsroyal:gfx.chart.draw.filledrectangle X1="{preset.abscissaFormat.textbox.1.position.X1}" Y1="{preset.abscissaFormat.textbox.1.position.Y1}" X2="{preset.abscissaFormat.textbox.1.position.X2}" Y2="{preset.abscissaFormat.textbox.1.position.Y2}" Format="{preset.abscissaFormat.format.blank}" />
	<vhsroyal:gfx.chart.draw.filledrectangle X1="{preset.abscissaFormat.textbox.2.position.X1}" Y1="{preset.abscissaFormat.textbox.2.position.Y1}" X2="{preset.abscissaFormat.textbox.2.position.X2}" Y2="{preset.abscissaFormat.textbox.2.position.Y2}" Format="{preset.abscissaFormat.format.blank}" />

	<vhsroyal:gfx.chart.draw.text X="{preset.abscissaFormat.textbox.0.textPosition.X}" Y="{preset.abscissaFormat.textbox.0.textPosition.Y}" Text="{preset.abscissaFormat.textbox.0.title}" Format="{preset.abscissaFormat.textFormat}" />
	<vhsroyal:gfx.chart.draw.text X="{preset.abscissaFormat.textbox.1.textPosition.X}" Y="{preset.abscissaFormat.textbox.1.textPosition.Y}" Text="{preset.abscissaFormat.textbox.1.title}" Format="{preset.abscissaFormat.textFormat}" />
	<vhsroyal:gfx.chart.draw.text X="{preset.abscissaFormat.textbox.2.textPosition.X}" Y="{preset.abscissaFormat.textbox.2.textPosition.Y}" Text="{preset.abscissaFormat.textbox.2.title}" Format="{preset.abscissaFormat.textFormat}" />
	<vhsroyal:gfx.chart.draw.text X="{preset.abscissaFormat.textbox.2.textPosition.X2}" Y="{preset.abscissaFormat.textbox.2.textPosition.Y}" Text="{preset.abscissaFormat.textbox.2.title2}" Format="{preset.abscissaFormat.textFormat}" />

</vhsroyal:gfx.chart>
