<div><strong>ViewHelpers Royal Examples:</strong></div>
<a href="index.php?id=4" target="_self">Open TCPDF</a>
<br />
<a href="index.php?id=11" target="_self">Open ZipArchive</a>
<br />
<a href="index.php?id=5" target="_self">Open Chart</a>
<div>&nbsp;</div>
<div><strong>ViewHelpers Royal Documentation:</strong></div>
<a href="typo3conf/ext/vhs_royal/Documentation/VhsRoyal/index.html" target="_blank">Open documentation</a>
<div>&nbsp;</div>