html, body {
  height: 100%;
  font-family: "Trade Gothic W01 Light","Helvetica","Verdana",sans-serif;
  color: #3c3c3c; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Anivers W01 Regular","Helvetica","Verdana",sans-serif;
  color: #767a9f; }

h1 {
  font-size: 34pt; }

.xlnc-corporate {
  padding-bottom: 1px;
                     /* fix: Safari does not respect padding-bottom at
the end of the page otherwise */ }
  .xlnc-corporate p {
    font-size: 15px;
    color: #4A4A49; }

.default-page {
  position: relative;
  z-index: 1;
  min-height: 85%; }
  .default-page .header-area {
    position: relative;
    height: 74px;
    margin-bottom: 40px; }
  .default-page .content-area {
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 40px 20px; }
  .default-page .page .container #logo {
    position: absolute;
    top: 35px;
    left: 15px;
    width: 300px;
    height: 34px;
    max-width: 70%; }
  .default-page .page .container .claim {
    position: absolute;
    bottom: -6px;
    right: 15px;
    color: #3c3c3c;
    font-size: 14pt;
    font-family: "Anivers W01 Regular","Helvetica","Verdana",sans-serif; }
    .default-page .page .container .claim a:hover {
      text-decoration: none; }
  .default-page .page .container .content {
    padding: 30px 40px;
    margin: 0; }

@media (max-width: 768px) {
  .default-page .page .container #logo {
    top: 58px; } }
@media (max-height: 441px) {
  .default-page .page .container #logo {
    top: 35px; } }
.footer {
  position: relative;
  height: 15%;
  min-height: 180px;
  text-align: center; }
  .footer .footer-menu {
    text-align: left;
    margin-top: 20px; }
    .footer .footer-menu .footer-menu-item {
      display: inline-block;
      width: 50%;
      text-align: center;
      line-height: 30px; }
      .footer .footer-menu .footer-menu-item a {
        white-space: nowrap; }
  .footer .claim {
    position: absolute;
    top: 50%;
    left: 35%;
    color: #3c3c3c;
    font-size: 14pt;
    font-family: "Anivers W01 Regular","Helvetica","Verdana",sans-serif; }

/*XLNC Corporate Facelift*/
.xlnc-corporate {
  /*Platzhalter Element*/ }
  .xlnc-corporate .tx_gridelements_no_background ul {
    padding-left: 0px; }
    .xlnc-corporate .tx_gridelements_no_background ul li {
      padding-left: 0;
      list-style-type: none;
      background-image: url(../../Images/Gfx/Pfeil_Link-Fliesstext_Retina.png);
      background-repeat: no-repeat;
      background-position: 0px 6px;
      background-size: 14px;
      line-height: 1.5em;
      font-size: 15px; }
  .xlnc-corporate .ce-bodytext span a {
    letter-spacing: 0.5px; }
  .xlnc-corporate .ce-div {
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid transparent; }
  .xlnc-corporate .footer {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px; }
    .xlnc-corporate .footer .content {
      display: block;
      z-index: 50; }
    .xlnc-corporate .footer .menu-float {
      float: right; }
    .xlnc-corporate .footer .last-child .footer-menu-item:last-child a {
      font-family: "Trade Gothic W01 Bold","Helvetica","Verdana",sans-serif; }
    .xlnc-corporate .footer .footer-menu {
      text-align: left;
      margin-top: 70px;
      margin-bottom: 70px; }
      .xlnc-corporate .footer .footer-menu .footer-menu-item {
        width: 45%;
        line-height: 30px;
        display: block;
        text-align: left; }
    .xlnc-corporate .footer .claim {
      position: static;
      margin-top: 75px;
      color: #494b61;
      font-size: 14px;
      font-family: "Trade Gothic W01 Bold","Helvetica","Verdana",sans-serif;
      text-align: left;
      letter-spacing: 0.5px; }

@media (max-width: 767px) {
  .xlnc-corporate .footer .first-child {
    margin-bottom: 30px !important; }
  .xlnc-corporate .footer .last-child {
    margin-top: 30px !important; } }
#logo {
  background-image: url("../../Images/Logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left; }

.content-area {
  background: #ffffff; }

.login-page .xlnc-Tools-auth-form-submit-arrow {
  margin: 0 auto 20px auto;
  background-image: url("../../Images/Gfx/XLNC_Button_Pfeil_Inaktiv.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 40px; }
.login-page .xlnc-Tools-auth-form-submit:hover .xlnc-Tools-auth-form-submit-arrow {
  background-image: url("../../Images/Gfx/XLNC_Button_Pfeil_Hover.png"); }

.xlnc-Tools-dashboard-listItem-arrow {
  margin: 0 auto 10px auto;
  background-image: url("../../Images/Gfx/XLNC_Button_Pfeil_Inaktiv.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 40px; }

.xlnc-Tools-dashboard-listItem-arrow:hover {
  background-image: url("../../Images/Gfx/XLNC_Button_Pfeil_Hover.png"); }

.xlnc-Tools-dashboard-page {
  background-image: url("../../Images/Backgrounds/XLNC_Hintergrund_Start.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.xlnc-Tools-leadershipTool-page {
  background: -webkit-linear-gradient(left top, #ffffff, #83d0f5);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #ffffff, #83d0f5);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #ffffff, #83d0f5);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #ffffff, #83d0f5);
  /* Standard syntax */ }

.xlnc-Tools-climateTool-page {
  background: -webkit-linear-gradient(left top, #ffffff, #f59e36);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #ffffff, #f59e36);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #ffffff, #f59e36);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #ffffff, #f59e36);
  /* Standard syntax */ }

.xlnc-Tools-leadershipTool-page, .xlnc-Tools-climateTool-page {
  min-height: auto; }

.login-page, .xlnc-Tools-personalDataForm-page {
  background-image: url("../../Images/Backgrounds/XLNC_Hintergrund_Start.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.xlnc-Tools-content {
  background: #ffffff; }

.xlnc-Tools-survey-progress {
  background: #ffffff; }

.xlnc-Tools-survey .xlnc-Tools-survey-item .xlnc-Tools-survey-answer:first-child {
  overflow: visible;
  direction: rtl; }
  .xlnc-Tools-survey .xlnc-Tools-survey-item .xlnc-Tools-survey-answer:first-child:after {
    content: '';
    color: transparent;
    display: inline-block;
    height: 100%;
    width: 18px;
    float: right;
    margin-right: -20px;
    margin-top: -100%;
    background-image: url("../../Images/Gfx/XLNC_Grafik_Pfeil.png");
    background-repeat: no-repeat;
    background-position: right center; }
.xlnc-Tools-survey .xlnc-Tools-survey-item .xlnc-Tools-survey-item-label:before {
  background-image: url("../../Images/Gfx/XLNC_Radio-Button_Inaktiv.png"); }
.xlnc-Tools-survey .xlnc-Tools-survey-item input[type=radio]:checked + label:before {
  background-image: url("../../Images/Gfx/XLNC_Radio-Button_Aktiv.png"); }

.xlnc-Tools-survey-next {
  background-color: #ffffff; }
  .xlnc-Tools-survey-next .xlnc-Tools-survey-next-btn {
    background-image: url("../../Images/Gfx/XLNC_Button_Pfeil_Inaktiv.png");
    background-repeat: no-repeat;
    background-position: center; }
  .xlnc-Tools-survey-next:hover {
    background-color: #d5dbe6; }
    .xlnc-Tools-survey-next:hover .xlnc-Tools-survey-next-btn {
      background-image: url("../../Images/Gfx/XLNC_Button_Pfeil_Hover.png"); }

.footer {
  background-image: url("../../Images/Backgrounds/XLNC_Hintergrund_Footer.jpg"); }

/*XLNC Corporate Facelift*/
.xlnc-corporate .footer {
  background-image: none;
  background-color: #ffffff; }
  .xlnc-corporate .footer .content {
    background-image: url("../../Images/Backgrounds/XLNC_Hintergrund_Footer_Facelift.jpg"); }

.flashmessages {
  color: #767a9f;
  font-weight: bold;
  text-align: center; }

.closed {
  display: none; }

.popup {
  position: fixed;
  z-index: 9000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: none; }
  .popup.open {
    display: block; }
  .popup .btn {
    white-space: normal; }

.popup-background {
  background-color: rgba(60, 60, 60, 0.8);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.popup-content {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-top: 1px solid #3c3c3c;
  border-bottom: 1px solid #3c3c3c;
  width: 100%; }

.login-page h1, .login-page h2, .login-page h3, .login-page h4 {
  text-align: center;
  color: #494B61;
  margin: 90px 0 20px 0;
  padding: 0; }
.login-page .content {
  background: #ffffff;
  color: #3c3c3c;
  padding: 20px;
  margin-bottom: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .login-page .content hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid #7d7d7d;
    margin: 50px 0 30px 0; }
  .login-page .content input.form-control {
    text-align: center;
    font-size: 14pt;
    height: 38px;
    width: 40%;
    margin: 0 auto;
    color: #767a9f;
    border-color: #767a9f;
    border-radius: 0; }
.login-page .xlnc-Tools-auth-form-submit, .login-page .xlnc-Tools-auth-form-submit-arrow {
  display: block;
  color: #767a9f;
  font-size: 17pt;
  font-family: "Anivers W01 Regular","Helvetica","Verdana",sans-serif; }
.login-page .xlnc-Tools-auth-form-submit:hover, .login-page .xlnc-Tools-auth-form-submit:active, .login-page .xlnc-Tools-auth-form-submit:focus {
  text-decoration: none; }
.login-page .xlnc-Tools-auth-form-submit {
  margin-bottom: 90px; }

.xlnc-Tools {
  padding-bottom: 30px;
  /* Dashboard */
  /* Persomal data form */
  /* Survey */ }
  .xlnc-Tools .xlnc-Tools-dashboard .dashboard-status {
    background: #767a9f;
    padding: 1em;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 0.5em;
    margin-bottom: 2em; }
    .xlnc-Tools .xlnc-Tools-dashboard .dashboard-status .finePrint {
      font-weight: normal; }
  .xlnc-Tools .xlnc-Tools-dashboard h3 {
    margin-top: 0;
    text-align: center; }
  .xlnc-Tools .xlnc-Tools-dashboard .xlnc-Tools-dashboard-listItem {
    padding-bottom: 50px;
    font-size: 10pt; }
    .xlnc-Tools .xlnc-Tools-dashboard .xlnc-Tools-dashboard-listItem + .xlnc-Tools-dashboard-listItem {
      border-left: 1px solid #9d9d9d; }
    .xlnc-Tools .xlnc-Tools-dashboard .xlnc-Tools-dashboard-listItem:first-child {
      border-left: none; }
    .xlnc-Tools .xlnc-Tools-dashboard .xlnc-Tools-dashboard-listItem a {
      font-size: 12pt; }
      .xlnc-Tools .xlnc-Tools-dashboard .xlnc-Tools-dashboard-listItem a:hover {
        text-decoration: none; }
    .xlnc-Tools .xlnc-Tools-dashboard .xlnc-Tools-dashboard-listItem .xlnc-Tools-dashboard-progressIcon {
      position: relative;
      width: 110px;
      height: 110px;
      margin: 20px auto 40px auto; }
      .xlnc-Tools .xlnc-Tools-dashboard .xlnc-Tools-dashboard-listItem .xlnc-Tools-dashboard-progressIcon .xlnc-Tools-dashboard-progressIcon-text {
        position: absolute;
        z-index: 3;
        width: 100%;
        text-align: center;
        font-family: "Anivers W01 Regular","Helvetica","Verdana",sans-serif;
        font-size: 18pt;
        color: #86bd40;
        bottom: 37px; }
      .xlnc-Tools .xlnc-Tools-dashboard .xlnc-Tools-dashboard-listItem .xlnc-Tools-dashboard-progressIcon .xlnc-Tools-dashboard-progressIcon-text-Tx_XlncTools_LeadershipTool {
        color: #83d0f5; }
      .xlnc-Tools .xlnc-Tools-dashboard .xlnc-Tools-dashboard-listItem .xlnc-Tools-dashboard-progressIcon .xlnc-Tools-dashboard-progressIcon-text-Tx_XlncTools_ClimateTool {
        color: #f59e36; }
    .xlnc-Tools .xlnc-Tools-dashboard .xlnc-Tools-dashboard-listItem .xlnc-Tools-dashboard-listItem-finishedText {
      font-size: 12pt;
      color: #9d9d9d; }
  .xlnc-Tools .xlnc-Tools-personalDataForm form .row {
    padding-bottom: 10px; }
    .xlnc-Tools .xlnc-Tools-personalDataForm form .row .alert {
      padding: 5px 15px; }
  .xlnc-Tools .xlnc-Tools-survey-titlebar {
    margin: 20px 0 20px 0; }
    .xlnc-Tools .xlnc-Tools-survey-titlebar .close {
      font-size: 48px; }
  .xlnc-Tools .xlnc-Tools-survey-title h1 {
    display: none; }
  .xlnc-Tools .xlnc-Tools-survey-title.xlnc-Tools-survey-title-Tx_XlncTools_LeadershipTool {
    display: block;
    width: 200px;
    height: 47px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/typo3conf/ext/xlnc_tools/Resources/Public/Images/xlnc_s_small.png); }
  .xlnc-Tools .xlnc-Tools-survey-title.xlnc-Tools-survey-title-Tx_XlncTools_ClimateTool {
    display: block;
    width: 200px;
    height: 46px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/typo3conf/ext/xlnc_tools/Resources/Public/Images/xlnc_c_small.png); }
  .xlnc-Tools .xlnc-Tools-survey .xlnc-Tools-survey-legend {
    background: #efefef;
    padding: 5px 10px;
    color: #767a9f;
    font-weight: bold; }
    .xlnc-Tools .xlnc-Tools-survey .xlnc-Tools-survey-legend .fa {
      font-size: 20px;
      color: #767a9f;
      margin-right: 8px; }
  .xlnc-Tools .xlnc-Tools-survey .xlnc-Tools-survey-header {
    float: left;
    width: 14%;
    overflow: hidden;
    font-family: "Trade Gothic W01 Light","Helvetica","Verdana",sans-serif;
    font-size: 11pt;
    color: #7d7d7d;
    min-height: 40px;
    margin-bottom: 10px; }
    .xlnc-Tools .xlnc-Tools-survey .xlnc-Tools-survey-header:last-child {
      color: #7d7d7d; }
    .xlnc-Tools .xlnc-Tools-survey .xlnc-Tools-survey-header:first-child {
      color: #7d7d7d; }
  .xlnc-Tools .xlnc-Tools-survey .xlnc-Tools-survey-item .row {
    min-height: 45px; }
  .xlnc-Tools .xlnc-Tools-survey .xlnc-Tools-survey-item:nth-of-type(2n) {
    border-bottom: 1px solid #7d7d7d;
    margin-bottom: 15px;
    padding-bottom: 15px; }
  .xlnc-Tools .xlnc-Tools-survey .xlnc-Tools-survey-item .xlnc-Tools-survey-answer {
    float: left;
    width: 14%;
    overflow: hidden;
    color: #7d7d7d; }
    .xlnc-Tools .xlnc-Tools-survey .xlnc-Tools-survey-item .xlnc-Tools-survey-answer:first-child {
      text-align: right;
      overflow: visible;
      direction: rtl; }
  .xlnc-Tools .xlnc-Tools-survey .xlnc-Tools-survey-item .xlnc-Tools-survey-item-question, .xlnc-Tools .xlnc-Tools-survey .xlnc-Tools-survey-item .xlnc-Tools-survey-item-question-appropriate {
    font-family: "Anivers W01 Regular","Helvetica","Verdana",sans-serif;
    font-size: 13pt;
    color: #494B61; }
  .xlnc-Tools .xlnc-Tools-survey .xlnc-Tools-survey-item .xlnc-Tools-survey-item-question-appropriate {
    font-family: "Trade Gothic W01 Light","Helvetica","Verdana",sans-serif;
    font-style: italic; }
  .xlnc-Tools .xlnc-Tools-survey .xlnc-Tools-survey-item input[type="radio"] {
    display: none;
    height: 24px; }
  .xlnc-Tools .xlnc-Tools-survey .xlnc-Tools-survey-item .xlnc-Tools-survey-item-label:before {
    content: "";
    display: inline-block;
    cursor: pointer;
    width: 21px;
    height: 21px; }
  .xlnc-Tools .xlnc-Tools-survey .xlnc-Tools-survey-climateItem .fa {
    font-size: 28px;
    line-height: 18px;
    color: #767a9f;
    margin-right: -18px; }
  .xlnc-Tools .xlnc-Tools-survey .xlnc-Tools-survey-textItem {
    border-bottom: 2px solid #efefef;
    margin-bottom: 15px;
    padding-bottom: 15px; }
  .xlnc-Tools .xlnc-Tools-survey-next {
    display: block;
    text-align: center;
    border-left: 1px solid #efefef; }
    .xlnc-Tools .xlnc-Tools-survey-next h4 {
      font-size: 17pt; }
    .xlnc-Tools .xlnc-Tools-survey-next:hover, .xlnc-Tools .xlnc-Tools-survey-next:focus, .xlnc-Tools .xlnc-Tools-survey-next:active {
      text-decoration: none; }
    .xlnc-Tools .xlnc-Tools-survey-next .xlnc-Tools-survey-next-btn {
      display: block;
      height: 40px; }
  .xlnc-Tools .xlnc-Tools-survey-progress {
    clear: both;
    margin-top: 14px;
    margin-bottom: -30px;
    height: 60px; }
    .xlnc-Tools .xlnc-Tools-survey-progress .xlnc-Tools-survey-progress-currentPage-indicator {
      height: 14px;
      font-size: 24px;
      margin-top: -8px; }
    .xlnc-Tools .xlnc-Tools-survey-progress .xlnc-Tools-survey-progress-item {
      float: left;
      color: #7d7d7d;
      height: 30px;
      line-height: 30px;
      font-family: "Anivers W01 Regular","Helvetica","Verdana",sans-serif;
      text-align: center; }
      .xlnc-Tools .xlnc-Tools-survey-progress .xlnc-Tools-survey-progress-item .pipe {
        border-right: 1px solid #7d7d7d; }
    .xlnc-Tools .xlnc-Tools-survey-progress .xlnc-Tools-survey-progress-indicator-item {
      height: 14px; }
  .xlnc-Tools .xlnc-Tools-content {
    padding: 20px; }

.xlnc-Tools-leadershipTool-page .header-area, .xlnc-Tools-climateTool-page .header-area {
  display: none; }

.xlnc-Tools-leadershipTool-page .xlnc-Tools-survey-progress-currentPage-indicator {
  color: #83d0f5; }

.xlnc-Tools-climateTool-page .xlnc-Tools-survey-progress-currentPage-indicator {
  color: #f59e36; }

@media (max-width: 1200px) {
  .xlnc-Tools .xlnc-Tools-survey .xlnc-Tools-survey-header {
    font-size: 10pt; } }
.xlnc-Tools .xlnc-Tools-survey .xlnc-Tools-survey-header {
  transform: translateX(50%) rotate(-60deg);
  overflow: visible;
  transform-origin: bottom left;
  height: 3em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  line-height: 1.1em; }
  .xlnc-Tools .xlnc-Tools-survey .xlnc-Tools-survey-header:first-child, .xlnc-Tools .xlnc-Tools-survey .xlnc-Tools-survey-header:last-child {
    transform: none;
    text-align: center; }

@media (max-width: 767px) {
  .xlnc-Tools .xlnc-Tools-survey .affixed {
    width: 100%;
    background: white;
    z-index: 2;
    position: fixed;
    top: 0; } }
@media (max-width: 1220px) {
  .xlnc-Tools-survey .xlnc-Tools-survey-item .xlnc-Tools-survey-answer:first-child {
    background-image: none; } }
@media (max-width: 768px) {
  .login-page input.form-control {
    width: 100% !important; }

  .xlnc-Tools .xlnc-Tools-content {
    padding: 20px 0; }
    .xlnc-Tools .xlnc-Tools-content .xlnc-Tools-survey-form-answers {
      padding-left: 0;
      padding-right: 0; } }
/*XLNC Corporate Facelift*/
@media (max-width: 767px) {
  .xlnc-Tools .xlnc-Tools-dashboard .xlnc-Tools-dashboard-listItem {
    border-left: none !important;
    padding-top: 50px; }
    .xlnc-Tools .xlnc-Tools-dashboard .xlnc-Tools-dashboard-listItem + .xlnc-Tools-dashboard-listItem {
      border-top: 1px solid #9d9d9d; }
    .xlnc-Tools .xlnc-Tools-dashboard .xlnc-Tools-dashboard-listItem:first-child {
      border-top: none;
      padding-top: 0; }

  .xlnc-corporate .footer .footer-menu {
    margin-top: 50px;
    margin-bottom: 50px; }
    .xlnc-corporate .footer .footer-menu .footer-menu-item {
      width: 100%;
      display: block;
      text-align: center; }
  .xlnc-corporate .footer .claim {
    margin-top: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 45px;
    margin-bottom: 0px;
    text-align: center; } }
.tx_gridelements {
  padding-bottom: 10em;
  padding-top: 6em; }
  .tx_gridelements .align-center {
    text-align: center; }
  .tx_gridelements .carousel {
    background-color: #ffffff; }
  .tx_gridelements .carousel-inner {
    height: 300px; }
    .tx_gridelements .carousel-inner .item > div {
      margin: 80px 80px; }
  .tx_gridelements .carousel-indicators li {
    background-image: url("../../Images/Gfx/XLNC_Slide_Bullet_Inaktive.png");
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    background-size: 16px; }
  .tx_gridelements .carousel-indicators .active {
    background-image: url("../../Images/Gfx/XLNC_Slide_Bullet_Active.png"); }
  .tx_gridelements .carousel-control {
    width: 0;
    color: black;
    text-shadow: none; }
    .tx_gridelements .carousel-control.left {
      left: -60px; }
    .tx_gridelements .carousel-control.right {
      right: -60px; }
    .tx_gridelements .carousel-control .arrow-left {
      color: transparent;
      background-image: url("../../Images/Gfx/XLNC_Button_Pfeil_Inaktiv_Slider_Left.png");
      background-repeat: no-repeat;
      height: 40px; }
    .tx_gridelements .carousel-control .arrow-right {
      color: transparent;
      background-image: url("../../Images/Gfx/XLNC_Button_Pfeil_Inaktiv_Slider_Right.png");
      background-repeat: no-repeat;
      height: 40px; }
  .tx_gridelements .carousel-fade .carousel-inner .item {
    transition-property: opacity; }
  .tx_gridelements .carousel-fade .carousel-inner .item,
  .tx_gridelements .carousel-fade .carousel-inner .active.left,
  .tx_gridelements .carousel-fade .carousel-inner .active.right {
    opacity: 0; }
  .tx_gridelements .carousel-fade .carousel-inner .active,
  .tx_gridelements .carousel-fade .carousel-inner .next.left,
  .tx_gridelements .carousel-fade .carousel-inner .prev.right {
    opacity: 1; }
  .tx_gridelements .carousel-fade .carousel-inner .next,
  .tx_gridelements .carousel-fade .carousel-inner .prev,
  .tx_gridelements .carousel-fade .carousel-inner .active.left,
  .tx_gridelements .carousel-fade .carousel-inner .active.right {
    left: 0;
    transform: translate3d(0, 0, 0); }
  .tx_gridelements .carousel-fade .carousel-control {
    z-index: 2; }
  .tx_gridelements h1, .tx_gridelements h2, .tx_gridelements h3, .tx_gridelements h4, .tx_gridelements h5, .tx_gridelements h6 {
    text-align: center;
    color: #000000; }

@media (max-width: 392px) {
  .tx_gridelements .carousel-inner {
    height: 440px !important; }
    .tx_gridelements .carousel-inner .item > div {
      margin: 20px 20px; }
  .tx_gridelements .carousel-control.left {
    left: -25px; }
  .tx_gridelements .carousel-control.right {
    right: -25px; }

  .carousel-indicators {
    bottom: -10px; } }
@media (max-width: 992px) {
  .tx_gridelements .carousel-inner {
    height: 420px; }
  .tx_gridelements .carousel-control.left {
    left: -25px; }
  .tx_gridelements .carousel-control.right {
    right: -25px; } }
@media (max-width: 767px) {
  .tx_gridelements {
    padding-top: 1em; } }
.frontpage {
  background-image: url("../../Images/Backgrounds/XLNC_Hintergrund_Start.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.tx_gridelements_col_one {
  background-color: #ffffff;
  padding-top: 70px; }
  .tx_gridelements_col_one .align-center {
    text-align: center; }
  .tx_gridelements_col_one .ce-media {
    margin-top: 10px;
    margin-bottom: 12px; }
  .tx_gridelements_col_one h1, .tx_gridelements_col_one h2, .tx_gridelements_col_one h3, .tx_gridelements_col_one h4, .tx_gridelements_col_one h5, .tx_gridelements_col_one h6 {
    line-height: 1.3em;
    color: #000000; }
  .tx_gridelements_col_one hr {
    border-top: 1px solid #000;
    margin-top: 15px;
    margin-bottom: 0px;
    width: 95%; }

.tx_gridelements_col_two {
  background-color: #ffffff;
  padding-bottom: 40px; }
  .tx_gridelements_col_two .align-center {
    text-align: center; }
  .tx_gridelements_col_two .ce-media {
    margin-top: 10px;
    margin-bottom: 12px; }
  .tx_gridelements_col_two .col-bottom {
    margin-bottom: 40px; }
  .tx_gridelements_col_two h1, .tx_gridelements_col_two h2, .tx_gridelements_col_two h3, .tx_gridelements_col_two h4, .tx_gridelements_col_two h5, .tx_gridelements_col_two h6 {
    line-height: 1.3em;
    color: #000000; }

.tx_gridelements_col_three {
  background-color: #ffffff;
  padding-bottom: 40px; }
  .tx_gridelements_col_three .align-center {
    text-align: center; }
  .tx_gridelements_col_three .ce-media {
    margin-top: 10px;
    margin-bottom: 12px; }
  .tx_gridelements_col_three .col-bottom {
    margin-bottom: 40px; }
  .tx_gridelements_col_three h1, .tx_gridelements_col_three h2, .tx_gridelements_col_three h3, .tx_gridelements_col_three h4, .tx_gridelements_col_three h5, .tx_gridelements_col_three h6 {
    line-height: 1.3em;
    color: #000000; }
  .tx_gridelements_col_three.without-container {
    padding-bottom: 0; }

.tx_gridelements_green_content {
  background-color: #A1C6BA; }
  .tx_gridelements_green_content .align-center {
    text-align: center; }
  .tx_gridelements_green_content h1, .tx_gridelements_green_content h2, .tx_gridelements_green_content h3, .tx_gridelements_green_content h4, .tx_gridelements_green_content h5, .tx_gridelements_green_content h6 {
    line-height: 1.3em;
    color: #000000; }

.default-page.frontpage .navigation .navbar, .default-page.contentpage .navigation .navbar {
  margin-bottom: 0px; }
.default-page.frontpage .navigation .navbar-nav, .default-page.contentpage .navigation .navbar-nav {
  float: right; }
  .default-page.frontpage .navigation .navbar-nav li a, .default-page.contentpage .navigation .navbar-nav li a {
    font-family: 'Trade Gothic W01 Light', Helvetica, Verdana, sans-serif; }
.default-page.frontpage .navigation .navbar-toggle .icon-bar, .default-page.contentpage .navigation .navbar-toggle .icon-bar {
  background: #3c3c3c; }
.default-page.frontpage .page .container .claim, .default-page.contentpage .page .container .claim {
  top: 46px;
  bottom: auto; }

/*XLNC Corporate Facelift START*/
.xlnc-corporate .header-area {
  height: 110px;
  position: relative; }
  .xlnc-corporate .header-area .claim {
    position: absolute;
    display: block;
    z-index: 100; }
    .xlnc-corporate .header-area .claim .video {
      float: left;
      z-index: 1;
      padding-top: 41px;
      position: relative;
      display: none; }
    .xlnc-corporate .header-area .claim.show-video .logo-image-link {
      display: none; }
    .xlnc-corporate .header-area .claim.show-video .video {
      display: inline; }
    .xlnc-corporate .header-area .claim.show-video #logo {
      background: none; }
    .xlnc-corporate .header-area .claim .logo-image {
      display: inline; }
  .xlnc-corporate .header-area .navigation {
    padding-top: 42px; }
    .xlnc-corporate .header-area .navigation .navbar {
      margin-bottom: 0px; }
    .xlnc-corporate .header-area .navigation .navbar-nav {
      float: right; }
      .xlnc-corporate .header-area .navigation .navbar-nav .active hr {
        margin-top: 0px;
        margin-bottom: 0px;
        border-top: 1px solid #9D9D9C;
        width: 40px; }
      .xlnc-corporate .header-area .navigation .navbar-nav li a {
        font-family: 'Trade Gothic W01 Light', Helvetica, Verdana, sans-serif;
        font-size: 14px;
        padding-right: 14px; }
      .xlnc-corporate .header-area .navigation .navbar-nav li:last-child a {
        font-family: 'Trade Gothic W01 Bold', Helvetica, Verdana, sans-serif;
        margin-top: -1px; }
@-moz-document url-prefix() {
  .xlnc-corporate .header-area .navigation .navbar-nav li:last-child a {
    margin-top: 1px; } }
      .xlnc-corporate .header-area .navigation .navbar-nav .with-submenu .submenu li a {
        padding-right: 15px;
        text-decoration: none;
        font-family: 'Trade Gothic W01 Light', Helvetica, Verdana, sans-serif; }
    .xlnc-corporate .header-area .navigation .navbar-toggle .icon-bar {
      background: #464b60;
      margin-bottom: 8px;
      width: 40px;
      height: 3px; }

@media (min-width: 992px) {
  .xlnc-corporate .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important; }
  .xlnc-corporate .navbar-toggle {
    display: none; }
  .xlnc-corporate .navbar-nav {
    height: 36px;
    /* attempt #4 for fixing the "hover bug" in safari */ }
  .xlnc-corporate .with-submenu {
    -webkit-box-sizing: content-box; }
    .xlnc-corporate .with-submenu:hover {
      border-bottom: 20px solid transparent; } }
@media (max-width: 991px) {
  .xlnc-corporate .header-area .navigation {
    padding-top: 32px; }
  .xlnc-corporate .header-area .navigation .navbar-nav {
    float: none;
    background: white; }
  .xlnc-corporate .header-area {
    height: 90px; }
    .xlnc-corporate .header-area .claim #logo {
      margin-left: 0px;
      height: 34px;
      margin-top: 22px; }
    .xlnc-corporate .header-area .claim .logo-image-link {
      top: 26px;
      position: relative;
      float: left;
      display: block; }
    .xlnc-corporate .header-area .claim .logo-image {
      width: auto;
      height: 34px;
      display: block; }
  .xlnc-corporate .navbar-nav > li > a {
    padding: 0.8em; }
  .xlnc-corporate .header-area .navigation .navbar-nav .with-submenu .submenu li a {
    padding-left: 15px; }
  .xlnc-corporate .header-area .navigation .navbar-nav li a {
    padding-right: 0.8em; }
  .xlnc-corporate .header-area .navigation .navbar-nav > li > a {
    font-family: 'Trade Gothic W01 Bold', Helvetica, Verdana, sans-serif; }
  .xlnc-corporate .navbar-collapse {
    display: none !important;
    text-align: center;
    background: white;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #efefef;
    position: relative;
    z-index: 2; }
    .xlnc-corporate .navbar-collapse ul li {
      border-bottom: solid #9d9d9d 1px;
      width: 90%;
      left: 5%;
      z-index: 500; }
      .xlnc-corporate .navbar-collapse ul li a:hover {
        background-color: #d5dbe6; }
      .xlnc-corporate .navbar-collapse ul li:last-child {
        border-bottom: solid white 1px; }
    .xlnc-corporate .navbar-collapse.in, .xlnc-corporate .navbar-collapse.collapsing {
      display: block !important;
      overflow-y: auto !important;
      right: 0;
      z-index: 300; }
  .xlnc-corporate .navbar-header {
    float: none; }
  .xlnc-corporate .navbar-toggle {
    display: block;
    margin-right: 0px;
    padding: 0px; } }
@media (max-width: 991px) and (min-width: 768px) {
  .xlnc-corporate .navbar-collapse.in, .xlnc-corporate .navbar-collapse.collapsing {
    width: 50%;
    margin-left: 50%; } }
.xlnc-corporate .with-submenu a {
  cursor: pointer; }
.xlnc-corporate .navbar-collapse .submenu {
  display: block;
  padding: 0; }
  .xlnc-corporate .navbar-collapse .submenu > li {
    list-style-type: none;
    text-align: center;
    width: 100%;
    left: 0;
    border-bottom-color: transparent; }
    .xlnc-corporate .navbar-collapse .submenu > li a {
      padding: 10px 20px;
      display: block;
      font-size: 0.9em; }
      .xlnc-corporate .navbar-collapse .submenu > li a:hover {
        background: #d5dbe6; }

@media (min-width: 992px) {
  .xlnc-corporate .with-submenu:hover .submenu {
    display: block;
    z-index: 2;
    border: 1px solid #efefef; }
  .xlnc-corporate .navbar-collapse .submenu {
    display: none;
    margin: 0;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    font-size: 0.9em;
    left: 50%;
    margin-left: -114px;
    margin-top: 20px; }
    .xlnc-corporate .navbar-collapse .submenu:before {
      content: '';
      display: block;
      height: 10px;
      width: 10px;
      position: absolute;
      top: -6px;
      left: calc(50% - 3px);
      border-bottom: 1px solid #efefef;
      border-right: 1px solid #efefef;
      transform: rotate(-135deg);
      background-color: #FFF; }
    .xlnc-corporate .navbar-collapse .submenu li {
      border-bottom: 1px solid #9d9d9d; }
      .xlnc-corporate .navbar-collapse .submenu li:last-child {
        border-bottom-color: transparent; }
      .xlnc-corporate .navbar-collapse .submenu li a {
        width: 200px; } }
@media (max-width: 991px) {
  .xlnc-corporate .header-area .claim .video video {
    display: none; }
  .xlnc-corporate .header-area .claim.show-video .logo-image-link {
    display: block; }
  .xlnc-corporate .header-area .claim .logo-image-link {
    top: 26px;
    position: relative;
    float: left;
    display: block;
    margin-top: 0 !important; }
  .xlnc-corporate .header-area .claim .logo-image {
    width: auto;
    height: 34px;
    display: block; }
  .xlnc-corporate .header-area .claim #logo {
    display: none; }
  .xlnc-corporate .header-area .navigation .navbar-nav .active hr {
    display: none; }
  .xlnc-corporate .header-area .navigation .navbar-toggle .icon-bar {
    height: 4px; }
  .xlnc-corporate .navbar-toggle {
    margin-top: -7px; } }
.xlnc-corporate .header-area .claim .logo-image-link {
  display: block;
  float: left;
  margin-top: 32px;
  position: relative;
  z-index: 2; }
  .xlnc-corporate .header-area .claim .logo-image-link .logo-image {
    display: block;
    height: 34px;
    width: auto; }

@media (max-width: 767px) {
  .xlnc-corporate .header-area {
    height: 90px; } }
/*XLNC Corporate Facelift END*/
@media (min-width: 992px) {
  .default-page.frontpage .navbar-collapse.collapse, .default-page.contentpage .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important; }
  .default-page.frontpage .navbar-toggle, .default-page.contentpage .navbar-toggle {
    display: none; } }
@media (max-width: 991px) {
  .default-page.frontpage .navigation .navbar-nav, .default-page.contentpage .navigation .navbar-nav {
    float: none;
    background: white; }
  .default-page.frontpage .navbar-nav > li > a, .default-page.contentpage .navbar-nav > li > a {
    padding: 0.8em; }
  .default-page.frontpage .navbar-collapse, .default-page.contentpage .navbar-collapse {
    display: none !important;
    text-align: center;
    background: white;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #efefef;
    position: relative;
    z-index: 2; }
    .default-page.frontpage .navbar-collapse ul li, .default-page.contentpage .navbar-collapse ul li {
      border-bottom: solid #9d9d9d 1px;
      width: 90%;
      left: 5%; }
      .default-page.frontpage .navbar-collapse ul li a:hover, .default-page.contentpage .navbar-collapse ul li a:hover {
        background-color: #d5dbe6; }
      .default-page.frontpage .navbar-collapse ul li:last-child, .default-page.contentpage .navbar-collapse ul li:last-child {
        border-bottom: solid white 1px; }
    .default-page.frontpage .navbar-collapse.in, .default-page.frontpage .navbar-collapse.collapsing, .default-page.contentpage .navbar-collapse.in, .default-page.contentpage .navbar-collapse.collapsing {
      display: block !important;
      overflow-y: auto !important;
      right: 0; }
  .default-page.frontpage .navbar-header, .default-page.contentpage .navbar-header {
    float: none; }
  .default-page.frontpage .navbar-toggle, .default-page.contentpage .navbar-toggle {
    display: block; } }
@media (max-width: 991px) and (min-width: 768px) {
  .default-page.frontpage .navbar-collapse.in, .default-page.frontpage .navbar-collapse.collapsing, .default-page.contentpage .navbar-collapse.in, .default-page.contentpage .navbar-collapse.collapsing {
    width: 50%;
    margin-left: 50%; } }
.default-page.frontpage .with-submenu a, .default-page.contentpage .with-submenu a {
  cursor: pointer; }
.default-page.frontpage .navbar-collapse .submenu, .default-page.contentpage .navbar-collapse .submenu {
  display: block;
  padding: 0; }
  .default-page.frontpage .navbar-collapse .submenu > li, .default-page.contentpage .navbar-collapse .submenu > li {
    list-style-type: none;
    text-align: center;
    width: 100%;
    left: 0;
    border-bottom-color: transparent; }
    .default-page.frontpage .navbar-collapse .submenu > li a, .default-page.contentpage .navbar-collapse .submenu > li a {
      padding: 10px 20px;
      display: block;
      font-size: 0.9em; }
      .default-page.frontpage .navbar-collapse .submenu > li a:hover, .default-page.contentpage .navbar-collapse .submenu > li a:hover {
        background: #d5dbe6; }

@media (min-width: 992px) {
  .default-page.frontpage .with-submenu:hover, .default-page.contentpage .with-submenu:hover {
    border-bottom: 20px solid transparent; }
    .default-page.frontpage .with-submenu:hover .submenu, .default-page.contentpage .with-submenu:hover .submenu {
      display: block;
      z-index: 2;
      border: 1px solid #efefef; }
  .default-page.frontpage .navbar-collapse .submenu, .default-page.contentpage .navbar-collapse .submenu {
    display: none;
    margin: 0;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    left: -60px;
    font-size: 0.9em;
    margin-top: 20px; }
    .default-page.frontpage .navbar-collapse .submenu:before, .default-page.contentpage .navbar-collapse .submenu:before {
      content: '';
      display: block;
      height: 0;
      width: 0;
      position: absolute;
      top: -10px;
      left: 50%;
      border-bottom: 10px solid white;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      margin-left: -10px; }
    .default-page.frontpage .navbar-collapse .submenu li, .default-page.contentpage .navbar-collapse .submenu li {
      border-bottom: 1px solid #9d9d9d; }
      .default-page.frontpage .navbar-collapse .submenu li:last-child, .default-page.contentpage .navbar-collapse .submenu li:last-child {
        border-bottom-color: transparent; }
      .default-page.frontpage .navbar-collapse .submenu li a, .default-page.contentpage .navbar-collapse .submenu li a {
        width: 200px; } }
.language-selector, .language-lock-selector {
  position: absolute;
  right: 24px;
  top: 8px; }
  .language-selector img, .language-lock-selector img {
    height: 0.8em;
    width: 1.2em;
    vertical-align: baseline; }

.content-area .language-selector {
  right: 8px; }

.language-lock-selector {
  position: static;
  display: inline-block; }

.xlnc-corporate .tx-gridelements-header_slider {
  margin-left: 5px;
  margin-right: 5px;
  color: #494b61; }
  .xlnc-corporate .tx-gridelements-header_slider .ce-media img {
    max-width: none; }
  .xlnc-corporate .tx-gridelements-header_slider .slick-dotted {
    margin-bottom: 0px; }
  .xlnc-corporate .tx-gridelements-header_slider .slick-dots li {
    margin: 0 5px; }
  .xlnc-corporate .tx-gridelements-header_slider h1, .xlnc-corporate .tx-gridelements-header_slider h2, .xlnc-corporate .tx-gridelements-header_slider h3, .xlnc-corporate .tx-gridelements-header_slider h4, .xlnc-corporate .tx-gridelements-header_slider h5, .xlnc-corporate .tx-gridelements-header_slider h6 {
    font-size: 32px;
    font-weight: bold; }
  .xlnc-corporate .tx-gridelements-header_slider h1, .xlnc-corporate .tx-gridelements-header_slider h2, .xlnc-corporate .tx-gridelements-header_slider h3, .xlnc-corporate .tx-gridelements-header_slider h4, .xlnc-corporate .tx-gridelements-header_slider h5, .xlnc-corporate .tx-gridelements-header_slider h6, .xlnc-corporate .tx-gridelements-header_slider p {
    color: #494b61; }
  .xlnc-corporate .tx-gridelements-header_slider .text-white {
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4), 0 0 15px rgba(0, 0, 0, 0.6); }
    .xlnc-corporate .tx-gridelements-header_slider .text-white h1, .xlnc-corporate .tx-gridelements-header_slider .text-white h2, .xlnc-corporate .tx-gridelements-header_slider .text-white h3, .xlnc-corporate .tx-gridelements-header_slider .text-white h4, .xlnc-corporate .tx-gridelements-header_slider .text-white h5, .xlnc-corporate .tx-gridelements-header_slider .text-white h6, .xlnc-corporate .tx-gridelements-header_slider .text-white p {
      color: white; }
    .xlnc-corporate .tx-gridelements-header_slider .text-white .white-box {
      color: #494b61; }
      .xlnc-corporate .tx-gridelements-header_slider .text-white .white-box h1, .xlnc-corporate .tx-gridelements-header_slider .text-white .white-box h2, .xlnc-corporate .tx-gridelements-header_slider .text-white .white-box h3, .xlnc-corporate .tx-gridelements-header_slider .text-white .white-box h4, .xlnc-corporate .tx-gridelements-header_slider .text-white .white-box h5, .xlnc-corporate .tx-gridelements-header_slider .text-white .white-box h6, .xlnc-corporate .tx-gridelements-header_slider .text-white .white-box p {
        color: #494b61; }
  .xlnc-corporate .tx-gridelements-header_slider .header_slider {
    z-index: 1;
    height: 590px; }
    .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-slider {
      margin-bottom: 0px; }
    .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-item {
      position: relative;
      height: 590px; }
      .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-item .smartphone {
        display: none; }
      .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-item .landscape {
        display: none; }
      .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-item .image .ce-gallery {
        margin-left: 0px;
        float: none; }
      .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-item .slide-text {
        text-align: center;
        position: absolute;
        top: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-item .slide-text h1 {
          padding: 6px; }
    .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-arrow {
      z-index: 200;
      bottom: 0;
      width: 100px;
      height: 100%; }
      .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-arrow::before {
        content: "";
        width: 4rem;
        height: 4rem;
        display: block;
        margin: 0 auto 0;
        border: 0 solid transparent;
        border-right: .1rem solid black;
        border-bottom: .1rem solid black; }
    .xlnc-corporate .tx-gridelements-header_slider .header_slider .arrow-next {
      right: 15px; }
      .xlnc-corporate .tx-gridelements-header_slider .header_slider .arrow-next::before {
        transform: rotate(-45deg); }
    .xlnc-corporate .tx-gridelements-header_slider .header_slider .arrow-prev {
      left: 15px; }
      .xlnc-corporate .tx-gridelements-header_slider .header_slider .arrow-prev::before {
        transform: rotate(135deg); }
    .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-slide {
      outline: none; }
    .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-dots {
      position: absolute;
      bottom: 17px; }
      .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-dots li {
        background-image: url("../../Images/Gfx/RZ_Punkt_Slider_Inaktiv_Retina.png");
        background-repeat: no-repeat;
        height: 26px;
        width: 13px;
        background-size: 8px;
        background-position: 3px; }
      .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-dots .slick-active {
        background-image: url("../../Images/Gfx/RZ_Punkt_Slider_Aktiv_Retina.png");
        background-size: 13px;
        background-position: 0; }
      .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-dots button::before {
        display: none; }

@media (max-width: 1199px) {
  .xlnc-corporate .tx-gridelements-header_slider .slick-item-wrap {
    padding-left: 20px;
    padding-right: 20px; }
  .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-item {
    height: 590px; } }
@media (max-width: 992px) {
  .xlnc-corporate .tx-gridelements-header_slider .slick-item-wrap {
    padding: 20px; }
  .xlnc-corporate .tx-gridelements-header_slider .slick-list {
    height: 590px; }
  .xlnc-corporate .tx-gridelements-header_slider .header_slider {
    z-index: 0; } }
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-list {
    height: auto; }
  .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-item .smartphone .ce-media {
    width: 100vw;
    height: auto; } }
@media (max-width: 767px) {
  .xlnc-corporate .tx-gridelements-header_slider h3 {
    font-size: 22px; }
  .xlnc-corporate .tx-gridelements-header_slider .slick-item-wrap {
    padding: 0px; }
  .xlnc-corporate .tx-gridelements-header_slider h1 {
    font-size: 32px;
    letter-spacing: -1px;
    width: 100%; }
  .xlnc-corporate .tx-gridelements-header_slider .header_slider {
    height: auto; }
    .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-item {
      height: auto; }
    .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-arrow {
      height: 50px;
      top: calc(100% - 42px); }
      .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-arrow::before {
        margin: 25px auto;
        width: 25px;
        height: 25px; }
    .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-dots {
      height: 50px;
      background-color: rgba(255, 255, 255, 0.7);
      padding-top: 2px;
      padding-bottom: 10px;
      bottom: 0px; }
    .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-item .desktop {
      display: none; }
    .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-item .smartphone {
      display: block;
      position: relative; }
      .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-item .smartphone .ce-gallery img {
        width: 100%;
        height: auto;
        padding-top: 110px; }
    .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-item .landscape {
      display: none; }
    .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-item .slide-text {
      display: block; } }
@media (max-height: 384px) {
  .xlnc-corporate .tx-gridelements-header_slider h3 {
    font-size: 16px; }
  .xlnc-corporate .tx-gridelements-header_slider .slick-item-wrap {
    padding: 0px; }
  .xlnc-corporate .tx-gridelements-header_slider .header_slider {
    height: calc(100vh - 80px); }
    .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-item .slide-text {
      top: -10px; }
    .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-item .text {
      margin-top: 0px;
      margin-left: 25.555%; }
      .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-item .text .ce-bodytext {
        position: absolute; }
    .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-item .desktop {
      display: none; }
    .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-item .smartphone {
      display: none; }
    .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-item .landscape {
      display: block;
      height: auto;
      margin-top: 0px; }
      .xlnc-corporate .tx-gridelements-header_slider .header_slider .slick-item .landscape img {
        height: auto;
        width: 100%; } }
@media (min-width: 1600px) {
  .xlnc-corporate .tx-gridelements-header_slider .desktop .ce-gallery {
    position: relative;
    width: 100%; }
    .xlnc-corporate .tx-gridelements-header_slider .desktop .ce-gallery .ce-column {
      width: 100%; }
      .xlnc-corporate .tx-gridelements-header_slider .desktop .ce-gallery .ce-column img {
        width: 100%;
        height: auto;
        margin-top: calc((-25vw + 460px )/2); } }
@media (max-width: 1600px) {
  .xlnc-corporate .tx-gridelements-header_slider .desktop .ce-gallery {
    position: relative;
    width: 100%; }
    .xlnc-corporate .tx-gridelements-header_slider .desktop .ce-gallery .ce-column {
      width: 100%; }
      .xlnc-corporate .tx-gridelements-header_slider .desktop .ce-gallery .ce-column img {
        width: 1600px;
        height: 590px;
        margin-left: calc((-1600px + 100vw)/2); } }
.xlnc-corporate .tx_gridelements_site_picture {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  color: #494b61; }
  .xlnc-corporate .tx_gridelements_site_picture .smartphone {
    display: none; }
  .xlnc-corporate .tx_gridelements_site_picture .landscape {
    display: none; }
  .xlnc-corporate .tx_gridelements_site_picture .slide-text {
    text-align: center;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .xlnc-corporate .tx_gridelements_site_picture .slide-text h1 {
      padding: 6px;
      font-size: 32px;
      margin-top: 10.5px;
      margin-bottom: 10.5px;
      width: 100%; }
  .xlnc-corporate .tx_gridelements_site_picture h1, .xlnc-corporate .tx_gridelements_site_picture h2, .xlnc-corporate .tx_gridelements_site_picture h3, .xlnc-corporate .tx_gridelements_site_picture h4, .xlnc-corporate .tx_gridelements_site_picture h5, .xlnc-corporate .tx_gridelements_site_picture h6, .xlnc-corporate .tx_gridelements_site_picture p {
    color: #494b61; }
  .xlnc-corporate .tx_gridelements_site_picture .text-white {
    color: white; }
    .xlnc-corporate .tx_gridelements_site_picture .text-white h1, .xlnc-corporate .tx_gridelements_site_picture .text-white h2, .xlnc-corporate .tx_gridelements_site_picture .text-white h3, .xlnc-corporate .tx_gridelements_site_picture .text-white h4, .xlnc-corporate .tx_gridelements_site_picture .text-white h5, .xlnc-corporate .tx_gridelements_site_picture .text-white h6, .xlnc-corporate .tx_gridelements_site_picture .text-white p {
      color: white;
      text-shadow: 0 0 2px rgba(0, 0, 0, 0.4), 0 0 15px rgba(0, 0, 0, 0.6); }
    .xlnc-corporate .tx_gridelements_site_picture .text-white .white-box {
      color: #494b61; }
      .xlnc-corporate .tx_gridelements_site_picture .text-white .white-box h1, .xlnc-corporate .tx_gridelements_site_picture .text-white .white-box h2, .xlnc-corporate .tx_gridelements_site_picture .text-white .white-box h3, .xlnc-corporate .tx_gridelements_site_picture .text-white .white-box h4, .xlnc-corporate .tx_gridelements_site_picture .text-white .white-box h5, .xlnc-corporate .tx_gridelements_site_picture .text-white .white-box h6, .xlnc-corporate .tx_gridelements_site_picture .text-white .white-box p {
        color: #494b61; }
  .xlnc-corporate .tx_gridelements_site_picture .ce-gallery {
    margin-bottom: 0px;
    margin-left: 0px; }
    .xlnc-corporate .tx_gridelements_site_picture .ce-gallery img {
      max-width: none; }

@media (min-width: 1600px) {
  .xlnc-corporate .tx_gridelements_site_picture .desktop .ce-gallery {
    position: relative;
    width: 100%; }
    .xlnc-corporate .tx_gridelements_site_picture .desktop .ce-gallery .ce-column {
      width: 100%; }
      .xlnc-corporate .tx_gridelements_site_picture .desktop .ce-gallery .ce-column img {
        width: 100%;
        height: auto;
        margin-top: calc((-25vw + 460px )/2); } }
@media (max-width: 1600px) {
  .xlnc-corporate .tx_gridelements_site_picture .desktop .ce-gallery {
    margin-top: 0px; }
    .xlnc-corporate .tx_gridelements_site_picture .desktop .ce-gallery .ce-column {
      width: 100%; }
      .xlnc-corporate .tx_gridelements_site_picture .desktop .ce-gallery .ce-column img {
        width: 1600px;
        height: auto; } }
@media (max-width: 767px) {
  .xlnc-corporate .tx_gridelements_site_picture .slide-text h1 {
    padding: 6px; }
  .xlnc-corporate .tx_gridelements_site_picture .slide-text .ce-textpic {
    height: auto; }
  .xlnc-corporate .tx_gridelements_site_picture .desktop {
    display: none; }
  .xlnc-corporate .tx_gridelements_site_picture .smartphone {
    display: block;
    height: auto;
    max-height: calc(100vh - 90px); }
    .xlnc-corporate .tx_gridelements_site_picture .smartphone .ce-textpic {
      position: relative; }
      .xlnc-corporate .tx_gridelements_site_picture .smartphone .ce-textpic img {
        display: block;
        height: auto;
        width: 100%;
        bottom: 0;
        left: 0; }
  .xlnc-corporate .tx_gridelements_site_picture .landscape {
    display: none; } }
/* Smartphone Landscape */
@media (max-height: 384px) {
  .xlnc-corporate .tx_gridelements_no_background {
    margin-top: -50px; }
  .xlnc-corporate .tx_gridelements_site_picture .ce-bodytext {
    display: block; }
  .xlnc-corporate .tx_gridelements_site_picture .text {
    height: 140px;
    position: absolute;
    top: 0;
    width: 100%; }
  .xlnc-corporate .tx_gridelements_site_picture .align-center {
    height: auto;
    width: auto;
    float: right;
    right: 15px;
    top: 35px; }
  .xlnc-corporate .tx_gridelements_site_picture .ce-textpic {
    position: relative;
    height: calc(100vh - 90px); }
  .xlnc-corporate .tx_gridelements_site_picture .desktop {
    display: none; }
  .xlnc-corporate .tx_gridelements_site_picture .smartphone {
    display: none; }
  .xlnc-corporate .tx_gridelements_site_picture .landscape {
    display: block;
    height: auto;
    margin-top: 0px; }
    .xlnc-corporate .tx_gridelements_site_picture .landscape img {
      height: auto;
      width: 100%; } }
@media (max-width: 767px) {
  .default-page.frontpage .page .container .claim, .default-page.contentpage .page .container .claim {
    width: 100%;
    bottom: auto;
    top: 46px;
    right: 0; }
  .default-page.frontpage .navbar-collapse, .default-page.contentpage .navbar-collapse {
    text-align: center;
    background: white;
    margin-top: 20px; }
    .default-page.frontpage .navbar-collapse .navbar-nav, .default-page.contentpage .navbar-collapse .navbar-nav {
      float: none; } }
.default-page.frontpage .ce-textpic .ce-gallery img, .default-page.contentpage .ce-textpic .ce-gallery img {
  max-width: 100%;
  height: auto; }

.arrow-link {
  text-align: center;
  margin-top: -70px; }
  .arrow-link .arrow {
    padding: 10px; }
  .arrow-link a {
    display: block;
    font-family: "Trade Gothic W01 Bold", "Helvetica", "Verdana", sans-serif;
    font-size: 15px; }

.xlnc-corporate .white-box {
  background: white;
  height: 380px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center; }
  .xlnc-corporate .white-box h1, .xlnc-corporate .white-box h2, .xlnc-corporate .white-box h3, .xlnc-corporate .white-box h4, .xlnc-corporate .white-box h5, .xlnc-corporate .white-box h6 {
    margin-top: 10px; }

@media (max-width: 767px) {
  .xlnc-corporate .white-box {
    margin-top: 0px;
    height: auto; } }
.tx_gridelements_reference_gallery_facelift .reference-background:hover .reference-normal {
  opacity: 0; }
.tx_gridelements_reference_gallery_facelift .reference-background:hover .reference-hover {
  opacity: 1; }
.tx_gridelements_reference_gallery_facelift .reference-background {
  background-color: #fafafa; }
.tx_gridelements_reference_gallery_facelift .reference-wraper {
  padding-bottom: 30px;
  position: relative; }
.tx_gridelements_reference_gallery_facelift .reference {
  width: 100%; }
  .tx_gridelements_reference_gallery_facelift .reference .ce-gallery {
    margin: 0; }
  .tx_gridelements_reference_gallery_facelift .reference .ce-outer, .tx_gridelements_reference_gallery_facelift .reference .ce-inner, .tx_gridelements_reference_gallery_facelift .reference .ce-column {
    float: none;
    position: static; }
  .tx_gridelements_reference_gallery_facelift .reference .ce-media img {
    width: 100%;
    height: auto; }
.tx_gridelements_reference_gallery_facelift .reference-hover {
  position: absolute;
  top: 0;
  opacity: 0; }

.xlnc-corporate .tx_gridelements_roofLine {
  padding-bottom: 70px;
  padding-top: 70px;
  text-align: center; }
  .xlnc-corporate .tx_gridelements_roofLine:first-child {
    padding-top: 0px; }
  .xlnc-corporate .tx_gridelements_roofLine .roofline-content h1, .xlnc-corporate .tx_gridelements_roofLine .roofline-content h2, .xlnc-corporate .tx_gridelements_roofLine .roofline-content h3, .xlnc-corporate .tx_gridelements_roofLine .roofline-content h4, .xlnc-corporate .tx_gridelements_roofLine .roofline-content h5, .xlnc-corporate .tx_gridelements_roofLine .roofline-content h6 {
    line-height: 1.3em;
    color: #9D9D9C;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 22px; }
  .xlnc-corporate .tx_gridelements_roofLine hr {
    border-top: 1px solid #9D9D9C;
    margin-top: 25px;
    margin-bottom: 0;
    width: 40px; }

@media (max-width: 767px) {
  .xlnc-corporate .no_background_content .tx_gridelements_roofLine {
    padding-bottom: 50px; }
  .xlnc-corporate .gray_background_content .tx_gridelements_roofLine {
    padding-bottom: 50px; }
  .xlnc-corporate .tx_gridelements_roofLine {
    padding-top: 0px; }
    .xlnc-corporate .tx_gridelements_roofLine hr {
      width: 15%; } }
.xlnc-corporate {
  background-color: #ffffff; }
  .xlnc-corporate .container_gray_background {
    background-color: #eeefef; }
  .xlnc-corporate .container_gray_background, .xlnc-corporate .container_no_background {
    padding-top: 70px;
    padding-bottom: 90px; }
  .xlnc-corporate .ce-media img {
    max-width: 100%;
    height: auto; }
  .xlnc-corporate hr {
    border-top: 1px solid #000;
    margin-top: 15px;
    margin-bottom: 0px;
    width: 40px; }
  .xlnc-corporate h1, .xlnc-corporate h2, .xlnc-corporate h3, .xlnc-corporate h4, .xlnc-corporate h5, .xlnc-corporate h6 {
    margin-top: 0;
    margin-bottom: 10px; }
  .xlnc-corporate .tx_gridelements_col_one_facelift .ce-gallery {
    margin-bottom: 10px; }
    .xlnc-corporate .tx_gridelements_col_one_facelift .ce-gallery .ce-outer {
      margin-bottom: 0px; }
      .xlnc-corporate .tx_gridelements_col_one_facelift .ce-gallery .ce-outer .ce-inner {
        margin-bottom: 0px; }
        .xlnc-corporate .tx_gridelements_col_one_facelift .ce-gallery .ce-outer .ce-inner .ce-row {
          margin-bottom: 0px; }
          .xlnc-corporate .tx_gridelements_col_one_facelift .ce-gallery .ce-outer .ce-inner .ce-row .ce-column {
            margin-bottom: 0px; }
            .xlnc-corporate .tx_gridelements_col_one_facelift .ce-gallery .ce-outer .ce-inner .ce-row .ce-column .ce-media img {
              width: 100%;
              height: auto; }
  .xlnc-corporate .tx_gridelements_col_one_block_facelift h1, .xlnc-corporate .tx_gridelements_col_one_block_facelift h2, .xlnc-corporate .tx_gridelements_col_one_block_facelift h3, .xlnc-corporate .tx_gridelements_col_one_block_facelift h4, .xlnc-corporate .tx_gridelements_col_one_block_facelift h5, .xlnc-corporate .tx_gridelements_col_one_block_facelift h6 {
    text-align: center;
    margin-bottom: 15px; }
  .xlnc-corporate .tx_gridelements_seperatorLine hr {
    margin-top: 0;
    border-top: 1px solid #9D9D9C;
    width: 40px; }
  .xlnc-corporate .tx_gridelements_col_five_three h1, .xlnc-corporate .tx_gridelements_col_five_three h2, .xlnc-corporate .tx_gridelements_col_five_three h3, .xlnc-corporate .tx_gridelements_col_five_three h4, .xlnc-corporate .tx_gridelements_col_five_three h5, .xlnc-corporate .tx_gridelements_col_five_three h6 {
    margin-bottom: 1em; }
  .xlnc-corporate .tx_gridelements_col_five_three p {
    margin-top: 1.5em; }
    .xlnc-corporate .tx_gridelements_col_five_three p:first-child {
      margin-top: 0; }
  .xlnc-corporate .tx_gridelements_col_five_three .right-column > * {
    margin-bottom: calc(70px - 1em); }
    .xlnc-corporate .tx_gridelements_col_five_three .right-column > *:last-child {
      margin-bottom: 0px; }
  .xlnc-corporate .grid-content > * {
    padding-bottom: 70px; }
  .xlnc-corporate .grid-content > *:last-child {
    padding-bottom: 0; }

@media (max-width: 767px) {
  .xlnc-corporate .tx_gridelements_col_five_three {
    padding-top: 0; }
    .xlnc-corporate .tx_gridelements_col_five_three .right-column > * {
      margin-bottom: 0; }
  .xlnc-corporate .tx_gridelements_seperatorLine {
    display: none; }
  .xlnc-corporate .tx_gridelements_col_two_facelift .row > :first-child {
    padding-bottom: 50px; }
  .xlnc-corporate .tx_gridelements_col_three_facelift .row > * {
    padding-bottom: 50px; }
  .xlnc-corporate .tx_gridelements_col_three_facelift .row > :last-child {
    padding-bottom: 0; } }
.xlnc-corporate .tx_gridelements_profile {
  text-align: center; }
  .xlnc-corporate .tx_gridelements_profile .profiles {
    display: inline-block; }
    .xlnc-corporate .tx_gridelements_profile .profiles .padding {
      padding-bottom: 0px; }
      .xlnc-corporate .tx_gridelements_profile .profiles .padding .ce-textpic .ce-bodytext {
        display: block;
        position: relative;
        padding-top: 20px; }
  .xlnc-corporate .tx_gridelements_profile .placeholder {
    display: inline-block;
    width: 206px;
    height: 241px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    background-image: url(../../Images/Backgrounds/XLNC_Coaching_Placeholder.png); }
  .xlnc-corporate .tx_gridelements_profile .content {
    display: inline-block; }
  .xlnc-corporate .tx_gridelements_profile .content-optional .ce-bodytext h1, .xlnc-corporate .tx_gridelements_profile .content-optional .ce-bodytext h2, .xlnc-corporate .tx_gridelements_profile .content-optional .ce-bodytext h3, .xlnc-corporate .tx_gridelements_profile .content-optional .ce-bodytext h4, .xlnc-corporate .tx_gridelements_profile .content-optional .ce-bodytext h5, .xlnc-corporate .tx_gridelements_profile .content-optional .ce-bodytext h6 {
    font-size: 29px; }
  .xlnc-corporate .tx_gridelements_profile .ce-bodytext p {
    font-size: 14px; }
  .xlnc-corporate .tx_gridelements_profile .ce-bodytext h1, .xlnc-corporate .tx_gridelements_profile .ce-bodytext h2, .xlnc-corporate .tx_gridelements_profile .ce-bodytext h3, .xlnc-corporate .tx_gridelements_profile .ce-bodytext h4, .xlnc-corporate .tx_gridelements_profile .ce-bodytext h5, .xlnc-corporate .tx_gridelements_profile .ce-bodytext h6 {
    font-size: 20px; }
  .xlnc-corporate .tx_gridelements_profile .ce-textpic .ce-gallery {
    display: inline-block;
    width: 206px;
    height: 240px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    border-top: 8px;
    border-bottom: 8px;
    border-left: 8px;
    border-right: 8px;
    border-style: solid;
    border-color: #ffffff;
    -webkit-box-shadow: 0px 0px 10px 0px #bdbdbd;
    -moz-box-shadow: 0px 0px 10px 0px #bdbdbd;
    box-shadow: 0px 0px 10px 0px #bdbdbd; }
    .xlnc-corporate .tx_gridelements_profile .ce-textpic .ce-gallery img {
      width: 100%;
      height: 100%; }

@media (max-width: 767px) {
  .xlnc-corporate .tx_gridelements_profile {
    padding-bottom: 0; }
    .xlnc-corporate .tx_gridelements_profile .profiles {
      display: inline-block; }
      .xlnc-corporate .tx_gridelements_profile .profiles .padding {
        padding-bottom: 0px; }
        .xlnc-corporate .tx_gridelements_profile .profiles .padding .ce-textpic .ce-bodytext {
          display: block;
          position: relative;
          padding-top: 20px;
          margin-bottom: 50px; }
    .xlnc-corporate .tx_gridelements_profile .placeholder {
      display: none; }
    .xlnc-corporate .tx_gridelements_profile .ce-bodytext .ce-gallery {
      width: 206px; }
    .xlnc-corporate .tx_gridelements_profile .ce-bodytext h1, .xlnc-corporate .tx_gridelements_profile .ce-bodytext h2, .xlnc-corporate .tx_gridelements_profile .ce-bodytext h3, .xlnc-corporate .tx_gridelements_profile .ce-bodytext h4, .xlnc-corporate .tx_gridelements_profile .ce-bodytext h5, .xlnc-corporate .tx_gridelements_profile .ce-bodytext h6 {
      padding-top: 0px;
      padding-bottom: 0px; } }
@media (max-width: 567px) {
  .xlnc-corporate .tx_gridelements_profile .profiles {
    display: inline-block; }
    .xlnc-corporate .tx_gridelements_profile .profiles .padding {
      padding-bottom: 0px; }
      .xlnc-corporate .tx_gridelements_profile .profiles .padding .ce-textpic .ce-bodytext {
        display: block;
        position: relative; } }
.xlnc-corporate .align-center {
  text-align: center; }
.xlnc-corporate h1, .xlnc-corporate h2, .xlnc-corporate h3, .xlnc-corporate h4, .xlnc-corporate h5, .xlnc-corporate h6 {
  font-family: "Anivers W01 Regular", "Helvetica", "Verdana", sans-serif;
  line-height: 1.3em;
  font-size: 22px;
  color: #494B61; }
.xlnc-corporate p {
  line-height: 1.5em; }
.xlnc-corporate .tx_gridelements_col_three_facelift a {
  font-family: "Trade Gothic W01 Bold","Helvetica","Verdana",sans-serif; }
.xlnc-corporate .tx_gridelements_col_one_block_facelift p {
  text-align: justify; }
  .xlnc-corporate .tx_gridelements_col_one_block_facelift p.align-center {
    text-align: center; }

@media (max-width: 991px) {
  .tx_gridelements_col_three_facelift h1, .tx_gridelements_col_three_facelift h2, .tx_gridelements_col_three_facelift h3, .tx_gridelements_col_three_facelift h4, .tx_gridelements_col_three_facelift h5, .tx_gridelements_col_three_facelift h6 {
    font-size: 18px !important; } }
@media (max-width: 767px) {
  .xlnc-corporate .tx_gridelements_col_three_facelift h1, .xlnc-corporate .tx_gridelements_col_three_facelift h2, .xlnc-corporate .tx_gridelements_col_three_facelift h3, .xlnc-corporate .tx_gridelements_col_three_facelift h4, .xlnc-corporate .tx_gridelements_col_three_facelift h5, .xlnc-corporate .tx_gridelements_col_three_facelift h6 {
    font-size: 20px; }
  .xlnc-corporate .tx_gridelements_col_one_facelift, .xlnc-corporate .tx_gridelements_col_two_facelift, .xlnc-corporate .tx_gridelements_col_three_facelift {
    font-size: 18px; }
  .xlnc-corporate .tx_gridelements_col_one_facelift h1, .xlnc-corporate .tx_gridelements_col_one_facelift h2, .xlnc-corporate .tx_gridelements_col_one_facelift h3, .xlnc-corporate .tx_gridelements_col_one_facelift h4, .xlnc-corporate .tx_gridelements_col_one_facelift h5, .xlnc-corporate .tx_gridelements_col_one_facelift h6 {
    font-size: 26px; }
  .xlnc-corporate .tx_gridelements_col_two_facelift h1, .xlnc-corporate .tx_gridelements_col_two_facelift h2, .xlnc-corporate .tx_gridelements_col_two_facelift h3, .xlnc-corporate .tx_gridelements_col_two_facelift h4, .xlnc-corporate .tx_gridelements_col_two_facelift h5, .xlnc-corporate .tx_gridelements_col_two_facelift h6 {
    font-size: 22px; } }
.xlnc-corporate .large-link {
  display: block;
  text-align: center;
  font-family: "Anivers W01 Regular", "Helvetica", "Verdana", sans-serif !important;
  line-height: 1.3em;
  font-size: 22px; }
  .xlnc-corporate .large-link::before {
    display: inline-block;
    width: 30px;
    margin-bottom: -7px;
    margin-right: 10px;
    content: " ";
    height: 28px;
    background-image: url(../../Images/Gfx/Pfeil_Link-Auszeichnung_Retina.png);
    background-size: 50%;
    background-position: 15px;
    background-repeat: no-repeat; }

.xlnc-corporate ol, .xlnc-corporate ul {
  padding-left: 0px; }
  .xlnc-corporate ol li.arrows, .xlnc-corporate ul li.arrows {
    padding-left: 15px;
    padding-bottom: 0.5em;
    list-style-type: none;
    font-size: 15px;
    line-height: 1.5em;
    background-image: url("../../Images/Gfx/xlnc_list_style.png");
    background-repeat: no-repeat;
    background-position: 2px 5px;
    background-size: 6px; }
  .xlnc-corporate ol li.arrowsAlt, .xlnc-corporate ul li.arrowsAlt {
    text-indent: 22px;
    list-style-type: none;
    font-size: 15px;
    line-height: 1.5em;
    background-image: url(../../Images/Gfx/Pfeil_Link-Fliesstext_Retina.png);
    background-repeat: no-repeat;
    background-position: 0px 6px;
    background-size: 14px; }

.executiveName-container-withoutTool {
  display: none; }

#logo .executiveName-container-withoutTool {
  display: block; }

.executiveName-container {
  position: relative;
  left: 220px;
  bottom: 0;
  height: 100%; }

.executiveName {
  position: absolute;
  display: inline-block;
  bottom: 0;
  margin-bottom: -6px;
  font-size: 14pt;
  overflow: visible;
  width: 100vw;
  font-family: "Anivers W01 Regular","Helvetica","Verdana",sans-serif; }

.xlnc-Tools-survey-titlebar .executiveName {
  margin-bottom: -4px; }

@media (max-width: 767px) {
  .executiveName-container {
    display: block;
    top: 100%;
    left: 0; }

  #logo .executiveName-container-withoutTool {
    display: none; } }


.xlnc-corporate .header-area .navigation .language {
      list-style-type: none;
      float: right;
      height: 36px;
      margin-bottom: 0;
      margin-left: 15px; }
      .xlnc-corporate .header-area .navigation .language li {
        float: left; }
        .xlnc-corporate .header-area .navigation .language li a, .xlnc-corporate .header-area .navigation .language li a:hover {
          text-decoration: none;
          font-family: 'Trade Gothic W01 Light', Helvetica, Verdana, sans-serif;
          font-size: 14px;
          padding-top: 4.5px;
          padding-bottom: 4.5px;
          line-height: 21px;
          display: block; }
      .xlnc-corporate .header-area .navigation .language .current {
        display: none; }

.xlnc-corporate .header-area .navigation .language {
    float: right; }
    .xlnc-corporate .header-area .navigation .language li {
      border-bottom: solid #9d9d9d 1px; }
/*# sourceMappingURL=main.css.map */
