{namespace vhsroyal=Fhkonzept\VhsRoyal\ViewHelpers}
<vhsroyal:pdf.tcpdf.element.page orientation="portrait">

	<vhsroyal:pdf.tcpdf.setter.colorarray type="text" color="{0:40,1:40,2:40}"></vhsroyal:pdf.tcpdf.setter.colorarray>

	<!-- Tool -->
	<vhsroyal:pdf.tcpdf.element.html align="C">
		<h2 style="font-size: 24pt; color: #494B61; line-height: 30px; text-align: center;"><f:translate key="reports.combined.chapter.toc.title.1" extensionName="xlnc_tools" /></h2>
	</vhsroyal:pdf.tcpdf.element.html>

</vhsroyal:pdf.tcpdf.element.page>

<vhsroyal:pdf.tcpdf.setter.footerHtml>
	<table class="footer" cellspancing=0 cellpadding=0>
		<tr><td style="height: 36px">&nbsp;</td></tr>
		<tr>
			<td>www.xlnc-leadership.com</td>
		</tr>
	</table>
</vhsroyal:pdf.tcpdf.setter.footerHtml>

<vhsroyal:pdf.tcpdf.setter.footerImage x="" y="" w="210" h="" type="JPG">typo3conf/ext/xlnc_tools/Resources/Public/Images/ReportBackgrounds/CombinedReport.Footer.jpg</vhsroyal:pdf.tcpdf.setter.footerImage>
