<f:layout name="Default" />

<f:section name="page">

	<div class="default-page login-page contentpage">

		<!-- Page wrapper -->
		<div class="page">

			<div class="container">

				<!-- Page logo header -->
				<div class="row header-area">
				    <div class="col-xs-3 col-sm-4 hidden-lg hidden-md"></div>
				    <f:link.page pageUid="42" id="logo" class="col-xs-6 col-sm-4 col-md-2 col-lg-2" style="z-index: 1;"> </f:link.page>
				    <div class="col-sm-10 text-right claim">
				    	<f:render partial="Navbar" arguments="{lib: lib, ext: ext, showClaim:'1'}"/>
				    </div>
				    <div class="col-xs-3 col-sm-4 hidden-lg hidden-md"></div>
				</div>

			</div>

			<!-- Page content -->
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<f:render partial="Content" arguments="{lib: lib, ext: ext}"/></div>
				<div class="col-md-1"></div>
			</div>

		</div>

	</div>

	<!-- Page footer -->
	<f:render partial="Footer" arguments="{lib: lib, ext: ext, showClaim:'0'}"/>

</f:section>
