<f:layout name="Default" />

<f:section name="page">

	<div class="default-page">

		<!-- Page wrapper -->
		<div class="page">

			<div class="container">

				<!-- Page logo header -->
				<div class="row header-area">
					<div class="col-xs-1 col-sm-1 hidden-lg hidden-md"></div>
					<div id="logo" class="col-xs-10 col-sm-10 col-md-2 col-lg-2"></div>
					<div class="col-sm-10 text-right claim">
						<f:link.action action="logout" extensionName="xlnctools" pluginName="tool" controller="Tool" class="action-logout">
							<span class="hidden-xs"><f:translate key="static.survey.logout" extensionName="xlnc_tools"></f:translate></span>
							<img src="typo3conf/ext/xlnc_de/Resources/Public/Images/Gfx/XLNC_Button_Abmelden.png" style="vertical-align: middle; margin-left: 5px; margin-top: -2px" />
						</f:link.action>
					</div>
					<div class="col-xs-1 col-sm-1 hidden-lg hidden-md"></div>
				</div>

			</div>

			<!-- Page content -->
			<f:render partial="Content" arguments="{lib: lib, ext: ext}"/>
		</div>

	</div>

	<!-- Page footer -->
	<f:render partial="Footer" arguments="{lib: lib, ext: ext, showClaim:'1'}"/>

</f:section>
