<f:layout name="Default" />

<f:section name="page">

	<div class="default-page login-page">

		<!-- Page wrapper -->
		<div class="page">

			<div class="container">

				<!-- Page logo header -->
				<f:render partial="Header" arguments="{lib: lib, ext: ext}"/>

				<div class="row">
						<f:render partial="Content" arguments="{lib: lib, ext: ext}"/></div>
					<div class="col-md-1"></div>
				</div>

			</div>

		</div>

	</div>

	<!-- Page footer -->
	<f:render partial="Footer" arguments="{lib: lib, ext: ext, showClaim:'0'}"/>

</f:section>
