<f:layout name="Default" />

<f:section name="page">

	<div class="xlnc-corporate">

		<!-- Page wrapper -->
		<div class="page">


			<div class="container">

				<!-- Page Navbar -->
				<div class="row header-area">
				    <div class="col-xs-3 col-sm-4 hidden-lg hidden-md"></div>
                    <f:alias map="{pageUid: '{f:cObject(typoscriptObjectPath: \'lib.pageid\')}'}">
                        <f:alias map="{enableVideo: '{f:cObject(typoscriptObjectPath: \'lib.enableVideo\')}'}">
        				    <div class="col-lg-12 col-sm-12 col-xs-12 text-right claim {f:if(condition: '{0: pageUid} == {0: \'42\'}', then: '{f:if(condition: enableVideo, then: \'show-video\')}')}">
        			    		<f:link.page pageUid="42" class="logo-image-link">
        			    			<img class="logo-image" src="typo3conf/ext/xlnc_de/Resources/Public/Images/Logo.png" />
        			    		</f:link.page>
        				    	<f:link.page pageUid="42" id="logo" class="video">
        	                        <video autoplay loop muted>
        	                            <source
        	                                src="typo3conf/ext/xlnc_de/Resources/Public/Video/Excellence_Animation_36px_height_v05.ogv"
        	                                type="video/ogg">
        	                            </source>
        	                            <source
        									src="typo3conf/ext/xlnc_de/Resources/Public/Video/Excellence_Animation_36px_height_v05.mp4"
        									type="video/mp4">
        	                            </source>
        	                            <source
        									src="typo3conf/ext/xlnc_de/Resources/Public/Video/Excellence_Animation_36px_height_v05_master.mov"
        									type="video/mov">
        	                            </source>
        	                        </video>
        				    	</f:link.page>
        				    	<f:render partial="NavbarFacelift" arguments="{lib: lib, ext: ext, showClaim:'1'}"/>
        				    </div>
                        </f:alias>
                    </f:alias>
				    <div class="col-xs-3 col-sm-4 hidden-lg hidden-md"></div>
				</div>

			</div>

			<!-- Page content -->
			<f:render partial="Content" arguments="{lib: lib, ext: ext}"/>
		</div>

		<f:render partial="FooterFacelift" arguments="{lib: lib, ext: ext, showClaim:'1'}"/>

	</div>
	<!-- Page footer -->

</f:section>
